doctype html
html(lang="jp")
  head
    title %%title%%
    script.
       (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    //ハピタス広告タグ
    script.
      window.acs_cbs = window.acs_cbs || [];
      (function acsKeep(){
      var PK = "p";
      var IMK = "im";
      var LKEYS = {cid : ["cid", "CL_", "ACT_"], gclid : ["plid", "PL_", "APT_"]};
      var DKEYS = ["gclid", "fbclid", "yclid", "ttclid", "ldtag_cl", "ss", "msi"];
      var PDIR = "./";
      var durl = "https://ozasp.jp/direct.php";
      function saveCookies(data){ var p = data[PK]; var out = Object.keys(LKEYS).reduce(function(ret, k){ if(k in data && data[k]) ret[k] = data[k]; return ret; }, {}); if(!p || !Object.keys(out).length) return;
      var purl = PDIR + "lptag.php?p=" + p; Object.keys(out).forEach(function(k){ purl += "&" + LKEYS[k][0] + "=" + out[k]; localStorage.setItem(LKEYS[k][1] + p, out[k]); });
      var xhr = new XMLHttpRequest(); var args = "; expires=" + new Date(new Date().getTime() + 63072000000).toUTCString() + "; path=/; SameSite=None; Secure"; xhr.open("GET", purl);
      xhr.onloadend = function(){ if(xhr.status === 200 && xhr.response === ""){ window.acs_cbs.forEach(function(cb){ cb(); }); return; } Object.keys(out).forEach(function(k){ document.cookie = LKEYS[k][1] + p + "=" + decodeURIComponent(out[k]) + args; if(LKEYS[k][2]) document.cookie = LKEYS[k][2] + p + "=js" + args; }); window.acs_cbs.forEach(function(cb){ cb(); }); }; xhr.send(); }
      var data = location.search.substring(1).split("&").reduce(function(ret, s){ var kv = s.split("="); if(kv[1]) ret[kv[0]] = kv[1]; return ret; }, {}); if(!(IMK in data)){ saveCookies(data); return; }
      durl += "?im=" + data[IMK] + "&navi=" + performance.navigation.type; DKEYS.forEach(function(k){ if(!(k in data)) return; durl += "&" + k + "=" + data[k]; });
      var xhr = new XMLHttpRequest(); xhr.open("GET", durl); function merge(a, b){ return Object.keys(LKEYS).reduce(function(ret, k){ if(k in b && !(k in a)) ret[k] = b[k]; return ret; }, a); }
      xhr.onloadend = function(){ if(xhr.status !== 200) return; try{ var xhr_data = JSON.parse(xhr.responseText); if(PK != "p"){ xhr_data[PK] = xhr_data["p"]; } saveCookies(merge(xhr_data, data)); }catch(_){ } }; xhr.send(); })();
    link(href="../../css/01-waomirai-hapitas-lp.css?undefined", rel="stylesheet")
    script(src="https://storage.pardot.com/1026513/1724128460RuzGLFou/jquery_3.7.1.js")
    script(src="../../js/hapitas-lp.js")
    meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
  body
    header
      .header-left 
        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
      .header-right 
        a(href="#cv") 
          img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqpq/1026513/1723104004R6avPR6z/btn_cv.svg')
    .wrapper-hapitas 
       div 
        .pcimage 
          img(src='https://go.waomirai.com/l/1026513/2024-08-19/h1h5v/1026513/172411405296Nqp8mr/Web1920.png')
        .spimage 
          img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqq7/1026513/1723107164ymWVzpZK/mv_sp.jpg')
       .cv-hapitas 
          a.cv-hapitas-button(href="#cv") 
            .cv-hapitas-button-top 
              |今だけ！期間限定
            .cv-hapitas-button-main 
              |授業動画(無料)を見てポイントをGET!

       section.hapitas-section.hapitas-section-gray
         h2.underline|ワオ未来塾とは 
         .hapitas-section-text 
           p|これからの子供の教育に必要になる能力を身に着けられるワオが運営する新しい学習塾です
         .hapitas-section-about 
              .hapitas-section-about-child 
                 .hapitas-section-about-child-title 
                    .hapitas-section-about-child-title-sub 
                       |未来の自分の力になる
                    .hapitas-section-about-child-title-main 
                       |新しい5教科
                 .hapitas-section-about-child-img 
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqff/1026513/17230936588K1L9Hpf/waoabout.jpg')
                 .hapitas-section-about-child-text 
                    |これからの子供の教育に必要になる能力を身に着けられるワオ未来塾
                    br
                    |［哲学（思考力）］［科学リテラシー］［経済（お金）］［グローバル英語］［クリエイティブ・プログラミング］などこれからの未来に必要な能力を楽しく受講できます
              .hapitas-section-about-child 
                 .hapitas-section-about-child-title 
                    .hapitas-section-about-child-title-sub 
                       |学年にとらわれない
                    .hapitas-section-about-child-title-main 
                       |無学年制
                 .hapitas-section-about-child-img 
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzq9t/1026513/1723090505t4GWLCZZ/wao_about01.jpg')
                 .hapitas-section-about-child-text 
                    |ワオ未来塾の授業は無学年式です。 そのため学年に縛られることなく、自分自身の成長ペースに合わせて授業を選ぶことができます。
              .hapitas-section-about-child 
                 .hapitas-section-about-child-title 
                    .hapitas-section-about-child-title-sub 
                       |ライブ参加型の
                    .hapitas-section-about-child-title-main 
                       |オンライン授業
                 .hapitas-section-about-child-img 
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqb1/1026513/17230905067uBJQUSU/wao_about03.jpg')
                 .hapitas-section-about-child-text 
                    |ワオ未来塾のオンライン・ライブ授業は生配信形式で行われ、選択問題への回答やリアクションボタンで積極的に授業に参加できます。
       section.hapitas-section
         h2.underline
          |ワオ未来塾の
          br.spimage
          |5つの「新しい教科」
         .hapitas-section-subject 
            .hapitas-section-subject-child.philosophy 
              .hapitas-section-subject-child-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
              .hapitas-section-subject-child-text 
                  .hapitas-section-subject-child-text-large 
                    |哲学（思考力）
                  .hapitas-section-subject-child-text-small
                    |自分で考える力を鍛える
            .hapitas-section-subject-child.science
              .hapitas-section-subject-child-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
              .hapitas-section-subject-child-text 
                  .hapitas-section-subject-child-text-large 
                    |科学リテラシー
                  .hapitas-section-subject-child-text-small
                    |知らない世界にも視野を広げ、知的好奇心を育む
            .hapitas-section-subject-child.economiy
              .hapitas-section-subject-child-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
              .hapitas-section-subject-child-text 
                  .hapitas-section-subject-child-text-large 
                    |経済（お金）
                  .hapitas-section-subject-child-text-small
                    |お金の基礎知識と考え方・付き合い方を身につける経済
            .hapitas-section-subject-child.english
              .hapitas-section-subject-child-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
              .hapitas-section-subject-child-text 
                  .hapitas-section-subject-child-text-large 
                    |グローバル英語
                  .hapitas-section-subject-child-text-small
                    |シンプルで実用的な英語を使いこなす
            .hapitas-section-subject-child.programming
              .hapitas-section-subject-child-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpgg')
              .hapitas-section-subject-child-text 
                  .hapitas-section-subject-child-text-large 
                    |クリエイティブ・プログラミング
                  .hapitas-section-subject-child-text-small
                    |子どもの習いごとで終わらせない
       section.hapitas-section.hapitas-section-gray#cv
         h2.underline
           |授業動画(無料)を見て
           br.spimage
           |ポイントをゲット！
         .hapitas-section-group 
           h2
            |ポイントもらうまでの
            br.spimage
            |簡単3ステップ
           .hapitas-section-group-step
              .hapitas-section-group-step-child 
                .hapitas-section-group-step-child-number 
                  |01
                .hapitas-section-group-step-child-img 
                  img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqhj/1026513/1723095306jgCosoEa/img_step01.png')                
                .hapitas-section-group-step-child-text
                  .hapitas-section-group-step-child-text-main
                    |動画を見る
              .hapitas-section-group-step-child 
                .hapitas-section-group-step-child-number 
                  |02
                .hapitas-section-group-step-child-img 
                  img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqhf/1026513/1723095305nYVQRbd5/img_step02.png')               
                .hapitas-section-group-step-child-text
                  .hapitas-section-group-step-child-text-main
                    |フォームを入力する
              .hapitas-section-group-step-child 
                .hapitas-section-group-step-child-number 
                  |03
                .hapitas-section-group-step-child-img 
                  img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqhm/1026513/1723095306sBZOadze/img_step03.png')                   
                .hapitas-section-group-step-child-text
                  .hapitas-section-group-step-child-text-main
                    |ポイントゲット
                    br
                  .hapitas-section-group-step-child-text-span
                      |※ハピタスで受信した判定結果データに基づき、
                      br
                      |有効と判定された場合
         .hapitas-section-group 
           h2|経済/科学/哲学の授業からお選びいただけます
           .hapitas-section-group-tab 
              a.hapitas-section-group-tab-child#tab-economiy.active
                |経済
              a.hapitas-section-group-tab-child#tab-science
                |科学
              a.hapitas-section-group-tab-child#tab-philosophy
                |哲学             
           .hapitas-section-group-tab-content.tab-content-economiy
              #tab-content-economiy
                .tab-content-child
                  h3|①動画を見る(約45分)
                  div
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/YdspZBJ2blE?si=0fAPDtcfFbyXYoU1", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
                  h3.movie-form|②動画を見終えたらフォームを入力する  
                  .hapitas-section-group-tab-content-form
                    iframe(src="https://go.waomirai.com/l/1026513/2024-08-21/h1mjy", width="560", height="3500", type="text/html", frameborder="0", allowTransparency="true", style="border: 0")
              #tab-content-science(style='display:none;')
                .tab-content-child
                  h3|①動画を見る(約45分)
                  div
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/CxaMmU2VAbA?si=0fAPDtcfFbyXYoU1", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
                  h3.movie-form|②動画を見終えたらフォームを入力する  
                  .hapitas-section-group-tab-content-form
                    iframe(src="https://go.waomirai.com/l/1026513/2024-08-21/h1mgy", width="560", height="3500", type="text/html", frameborder="0", allowTransparency="true", style="border: 0")
              #tab-content-philosophy(style='display:none;')
                .tab-content-child
                  h3|①動画を見る(約45分)
                  div
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/Bh-OmxiwS2k?si=0fAPDtcfFbyXYoU1", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
                  h3.movie-form|②動画を見終えたらフォームを入力する  
                  .hapitas-section-group-tab-content-form
                    iframe(src="https://go.waomirai.com/l/1026513/2024-08-21/h1mjv", width="560", height="3500", type="text/html", frameborder="0", allowTransparency="true", style="border: 0")
         .hapitas-section-copyright
              |© ワオ・コーポレーション All rights reserved.