doctype html
html
  head
    // Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    // End Google Tag Manager
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content="https://go.waomirai.com/image/oggreen")
    script(src="https://kit.fontawesome.com/bc1aaa30bf.js", crossorigin="anonymous")
    link(rel="stylesheet", href="https://go.waomirai.com/global-english/mobile.css", media="screen and (max-width: 599px)")
    link(rel="stylesheet", href="https://go.waomirai.com/global-english/desktop.css", media="screen and (min-width: 600px)")
    link(href="../static/css/sass/english-lp.css?time=aa", rel="stylesheet")
    link(rel="shortcut icon", type="image/png", href="https://go.waomirai.com/logo/fabicon")
    title ワオ未来塾　グローバル英語
    script.
      (function(d) {
      var config = {
      kitId: 'gnb1kvn',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    meta(name="robots", content="noindex")
    script(type="text/javascript").
      piAId = '1027513';
      piCId = '144695';
      piHostname = 'go.waomirai.com';
      
      (function() {
      function async_load(){
      var s = document.createElement('script'); s.type = 'text/javascript';
      s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + piHostname + '/pd.js';
      var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
      }
      if(window.attachEvent) { window.attachEvent('onload', async_load); }
      else { window.addEventListener('load', async_load, false); }
      })();
    script(src="https://storage.pardot.com/1026513/1724128460RuzGLFou/jquery_3.7.1.js")
  body
    block contents