//mixin
include _mixins 
//variable
include _variables 

//data
html
  head
    meta(charset="utf-8")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    // End Google Tag Manager
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel="stylesheet")
    link(href=`21-lp-how-to-join.css?v=${Date.now()}`, rel="stylesheet")
    link(href=`../css/21-lp-how-to-join.css?v=${Date.now()}`, rel="stylesheet")
    meta(property="og:image", content=ImgOgp)
    title #{MetaTitle}
    script(src="https://waomirai.com/lp/assets/commonjs/jquery_3.7.1.js")
    script(src="https://waomirai.com/lp/assets/commonjs/qrcode.min.js")
    script(src="https://waomirai.com/lp/assets/commonjs/jquery.inview.min.js")
  // コンテンツをインクルード
  body
    header 
      img(src='https://waomirai.com/lp/assets/commonimages/logo.svg')
    h1|入会ガイド
    section.intro
      p.c-text 
        |ワオ未来塾にご興味をお持ちいただき、ありがとうございます。このガイドではワオ未来塾の科目/特徴や入会手続きまでをご案内します。
      +cta
    nav 
        div
          a(href="#subjects") 学べる科目
        div
          a(href="#features") 
            |ワオ未来塾
            br
            |の特徴
        div
          a(href="#schedule") 
            |配信
            br
            |スケジュール
        div
          a(href="#price") 
            |料金
        div
          a(href="#system") 
            |推奨環境
        div
          a(href="#voice") 
            |お客様の声
        div
          a(href="#join") 
            |入会手順
        div
          a(href="#faq") 
            |よくある
            br
            |質問
    section.bg-white
     .section-child 
      h2|学べる科目
      .subjects-list 
        .subjects-list-head.philosophy
          .subjects-list-head-left 
             .subjects-list-head-left-title
               |哲学（思考力）
             .subjects-list-head-left-text
               |自分の生き方に「軸」を
               br
               |持つための学び
          .subjects-list-head-right
            img(src=ImgSubject01) 
        .subjects-list-content.philosophy
          |哲学と聞くと、抽象的で難解なイメージがあるかもしれません。でも、ワオ未来塾の哲学はシンプルです。自分はどんな大人になりたいのか。自分はこの世界でどう生きたいのか。生き方の「軸」を見つけるための学びです。
          br
          br
          a(href="https://waomirai.com/subject/philosophy/", target='_blank')|カリキュラム詳細を見る(公式サイトへ)  
      .subjects-list 
        .subjects-list-head.science
          .subjects-list-head-left 
             .subjects-list-head-left-title
               |科学リテラシー
             .subjects-list-head-left-text
               |知らない世界にも視野を
               br
               |広げ、知的好奇心を育む
          .subjects-list-head-right
            img(src=ImgSubject02) 
        .subjects-list-content.science
          |科学とは、主観や個人の思い込みを許さず、事実から原理、法則を見いだす学問です。日常的なふとした疑問を科学的視点から考え、議論を重ねることで科学リテラシーを身に着けます。
          br
          br
          a(href="https://waomirai.com/subject/science/", target='_blank')|カリキュラム詳細を見る(公式サイトへ)  
      .subjects-list 
        .subjects-list-head.economy
          .subjects-list-head-left 
             .subjects-list-head-left-title
               |経済（お金）
             .subjects-list-head-left-text
               |お金の基礎知識と考え方・
               br
               |付き合い方を身につける
          .subjects-list-head-right
            img(src=ImgSubject03) 
        .subjects-list-content.economy
          |私たちの生活とは切り離せないお金。 でも、お金にまつわる経済の仕組みや制度を知らない人は、まだまだ少なくありません。 生活に役立つ知識、起業・ビジネスに使う知識など、お金にまつわるさまざまなテーマについて、具体的な例を挙げながら広く深く学びます。
          br
          br
          a(href="https://waomirai.com/subject/money/", target='_blank')|カリキュラム詳細を見る(公式サイトへ)  
    section.bg-graylight
     .section-child 
      h2|ワオ未来塾の特徴
      .p-learning__item
            .p-learning__main
              .p-learning__head
                .p-learning__number
                  img(src=ImgIcnSubject)
                .p-learning__title
                  span.p-learning__title01 ライブ参加型の

                  span.p-learning__title02 オンライン授業
              p.p-learning__text
                  |ワオ未来塾のオンライン・ライブ授業は生配信形式で行われ、選択問題への回答やリアクションボタンで積極的に授業に参加できます。    
            .p-learning__image
              img(src=ImgLearning02 )
      .p-learning__item
            .p-learning__main
              .p-learning__head
                .p-learning__number
                  img(src=ImgIcnSubject)
                .p-learning__title
                  span.p-learning__title01 学年を超えた学びを実現する
                  span.p-learning__title02 飛び級制
              p.p-learning__text
                  |授業は４レベルに分けられ、それぞれ推奨学年を設定していますが、学年に縛られず、理解度に応じて高いレベルの授業を選択することができます
              table.p-table
                tbody
                  tr
                    th レベル1
                    td 小学３,４年生〜推奨
                  tr
                    th レベル2
                    td 小学５,６年生〜推奨
                  tr
                    th レベル3
                    td 中学生〜推奨
                  tr
                    th レベル4
                    td 高校生〜推奨
              p.p-note|※レベルが合わない場合は途中で変更可能です。
              .p-learning__image_skip
                div
                  img(src=ImgLearning03 )
                div
                  img(src=ImgLevel01 )
                div
                  img(src=ImgLevel02 )
      .c-button.is-small.js-hidden.js-visible
        a(
          class="c-button__link" 
          href="https://waomirai.com/school/"
          )
          span(class="c-button__text") オンライン授業について
    section.bg-white
     .section-child#schedule 
      h2|ライブ配信スケジュール
     .section-child#price 
      h2|料金
      .section-child-flex
        .section-child-flex-content
          .c-text
            |ワオ未来塾は、入会金・登録費などの余分な費用は一切かかりません。
            br
            |受講したい科目の月額受講費用のみで新しい学びをスタートできます。
            br
            |なお、受講する教科数や組み合わせによって費用は変わります。
          table.p-table.js-hidden.js-visible
            tbody
              tr
                th 入会金
                td 不要

        .section-child-flex-content
          h3.c-section-title
            .c-section-title-img
              img(src=ImgTitleDecoration) 
            .c-section-title-text
              |受講費用について
          p.js-hidden.js-visible(class="p-fee__text") 哲学（思考力）／科学リテラシー／経済（お金）の3教科は、まとめて受講することで受講費用が割引になります。
          .p-join__note
           |初月は「無料」で受講いただけます
          table.p-table.js-hidden.js-visible
            tbody
              tr
                th 1教科を受講
                td 6,600円(税込)／月額
              tr
                th 2教科を受講
                td 11,000円(税込)／月額
              tr
                th 3教科を受講
                td 15,400円(税込)／月額
        .section-child-flex-content 
          h3.c-section-title
            .c-section-title-img
              img(src=ImgTitleDecoration) 
            .c-section-title-text
              |お支払い方法について
          .c-text
            |以下のクレジットカード決済がご利用いただけます。
          .p-price-items 
            img(src=ImgPayment01)
            img(src=ImgPayment02)
            img(src=ImgPayment03)
            img(src=ImgPayment04)
            img(src=ImgPayment05)
          .c-text
            |受講登録した翌月の1日に受講料が決済されます。［例］4月に講座を購入した場合、5月1日に5月分が決済されます。※4月分は無料
     .section-child#system 
        h2|推奨環境
        .c-text
          | インターネットに接続可能なPC・タブレット・スマートフォンをご用意ください。
          br
          | 授業では回答を画面に入力することもありますので、PC・タブレットでの参加を推奨しています。
        table(class="p-details__table")
          tbody
            tr
              th(rowspan="2") Windowsの場合
              th OS
              td Windows10 以降
            tr
              th ブラウザ
              td 最新バージョンの Google Chrome、Firefox、Safari
        table(class="p-details__table")
          tbody
            tr
              th(rowspan="2") Macの場合
              th OS
              td macOS Catalina 10.15 以降
            tr
              th ブラウザ
              td 最新バージョンの Google Chrome、Firefox、Safari
        table(class="p-details__table")
          tbody
            tr
              th(rowspan="2") タブレット・スマートフォンの場合
              th OS
              td 最新のiOSまたはAndroid OSをインストールできる機種
            tr
              th ブラウザ
              td 最新バージョンの Google Chrome、Firefox、Safari

    .p-join
      .l-wrapper.l-wrapper-sp
        ul(class="p-join__list")
          li.js-hidden.js-visible(class="p-join__item")
            div(class="p-join__head")
              div(class="p-join__number")
                p(class="p-join__number01") STEP
                p(class="p-join__number02") 1
              h2(class="p-join__title")
                | LINEの友だちに
                br.u-br-sp
                | 登録しましょう
            p(class="p-join__text")
              | まずは、サイトの「LINEで体験申込」ボタンから友だち登録を行いましょう。
              br
              | スマホでご覧の方はそのまま登録画面に進みます。
              br
              | PCでご覧の方は、表示された2次元コードをスマホで読み取ってください。
            .c-button.js-hidden.js-visible(class="p-join__button")
              span.is-member.is-blank.u-link(
                data-link="line" 
                class="c-button__link"
                )
                span(class="c-button__text") LINEで体験申込する
          li.js-hidden.js-visible(class="p-join__item")
            div(class="p-join__head")
              div(class="p-join__number")
                p(class="p-join__number01") STEP
                p(class="p-join__number02") 2
              h2(class="p-join__title")
                | LINEのメニューから
                br.u-br-sp
                | 会員登録しましょう
            p(class="p-join__text")
              | LINEのトーク画面下部のメニューの「学習サイト登録」から会員登録ページに移動できますので、
              br.u-br-pc
              | 受講される方の情報をご入力ください。
            div(class="p-join__wrapper")
              div(class="p-join__wrapper-main")
                p(class="p-join__text")
                  span(class="p-join__text-small")
                    span(class="p-join__text-small__inner") 会員登録するだけでは費用は発生しませんので、ご安心ください。
                  span(class="p-join__text-small")
                    span(class="p-join__text-small__inner") 同一家庭内で複数人お申し込みの場合は、お子さまごとに異なるメールアドレスが必要になりますので、あらかじめご了承ください。
                p(class="p-join__note")
                  | 入力後に確認メールが届きますが、10分ほど経っても届かない場合はメールアドレスが誤って入力されている可能性があります。
                  br
                  | お手数ですが、再度お申し込みをお願いいたします。
              div(class="p-join__image")
                div(class="p-join__image-item")
                  img(
                    alt="受けたい授業を申し込みましょう" 
                    height="350" 
                    width="450" 
                    src="https://waomirai.com/wp-content/themes/Wao-Mirai-HP/assets/img/guide/join/step02.jpg"
                    )
          li.js-hidden.js-visible(class="p-join__item")
            div(class="p-join__head")
              div(class="p-join__number")
                p(class="p-join__number01") STEP
                p(class="p-join__number02") 3
              h2(class="p-join__title")
                | 受けたい授業を
                br.u-br-sp
                | 申し込みましょう
            p(class="p-join__text")
              | 会員専用の学習ページで、受講したい科目をお申し込みいただけます。
              br
              | 「今すぐ無料トライアル」ボタンを押すと、決済情報の入力画面に進みます。
              br
              span(class="p-join__text-small")
                span(class="p-join__text-small__inner") 登録初月は無料となるため、費用は発生しません。
              span(class="p-join__text-small p-join__text-small--important")
                span(class="p-join__text-small__inner") ここからはPCでの閲覧をおすすめします。
            div(class="p-join__image")
              div(class="p-join__image-item")
                img(
                  alt="受けたい授業を申し込みましょう" 
                  height="350" 
                  width="450" 
                  src="https://waomirai.com/wp-content/themes/Wao-Mirai-HP/assets/img/guide/join/step0301.jpg"
                  )
              div(class="p-join__image-item")
                img(
                  alt="受けたい授業を申し込みましょう" 
                  height="350" 
                  width="450" 
                  src="https://waomirai.com/wp-content/themes/Wao-Mirai-HP/assets/img/guide/join/step0302.jpg"
                  )
          li.js-hidden.js-visible(class="p-join__item")
            div(class="p-join__head")
              div(class="p-join__number")
                p(class="p-join__number01") STEP
                p(class="p-join__number02") 4
              h2(class="p-join__title")
                | 受講レベルを
                br.u-br-sp
                | 選択しましょう
            p(class="p-join__text")
              | 受講レベルを設定すると、授業を受けられるようになります。
              br
              span(class="p-join__text-small")
                span(class="p-join__text-small__inner") 自分には難しかった…と感じた場合は、あとから受講レベルを変更できます。
            div(class="p-join__image")
              div(class="p-join__image-item")
                img(
                  alt="受講レベルを選択しましょう" 
                  height="350" 
                  width="450" 
                  src="https://waomirai.com/wp-content/themes/Wao-Mirai-HP/assets/img/guide/join/step0401.jpg"
                  )
              div(class="p-join__image-item")
                img(
                  alt="受講レベルを選択しましょう" 
                  height="350" 
                  width="450" 
                  src="https://waomirai.com/wp-content/themes/Wao-Mirai-HP/assets/img/guide/join/step0402.jpg"
                  )