mixin cv 
  section.section-el-cv
      .lp-cv-title
        .lp-cv-title-text#newCvText
          span.lp-cv-title-text-top|10/31までに申し込むと
          br
          |11月中はオンラインレッスンが
          br.spimage
          |受け放題
        .lp-cv-title-note
          |※有料プランへの自動入会はございません
      .lp-cv-lessonday 
        .lp-cv-lessonday-title 
          |最短のオンラインレッスン開催日
        .lp-cv-lessonday-wrapper 
            .lp-cv-lessonday-wrapper-block.block-level1-saturday
                .lp-cv-lessonday-wrapper-block-head.level-1 
                  .lp-cv-lessonday-wrapper-block-head-level 
                      |【LEVEL 1】
                  .lp-cv-lessonday-wrapper-block-head-text 
                      |土曜コース         
                .lp-cv-lessonday-wrapper-block-date 
                    .lp-cv-lessonday-wrapper-block-date-day
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-month|11
                      span.lp-cv-lessonday-wrapper-block-date-day-slash|/
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-day|2
                      .lp-cv-lessonday-wrapper-block-date-week.next-lesson-week
                          |土
                    .lp-cv-lessonday-wrapper-block-date-range.next-lesson-hour-range
                        |17:30~  
                .lp-cv-lessonday-wrapper-block-button 
                   button.button-level1-saturday
                    |全ての日程をみる  
            .lp-cv-lessonday-wrapper-block.block-level1-weekdays
                .lp-cv-lessonday-wrapper-block-head.level-1 
                  .lp-cv-lessonday-wrapper-block-head-level 
                      |【LEVEL 1】
                  .lp-cv-lessonday-wrapper-block-head-text 
                      |平日コース         
                .lp-cv-lessonday-wrapper-block-date 
                    .lp-cv-lessonday-wrapper-block-date-day
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-month|11
                      span.lp-cv-lessonday-wrapper-block-date-day-slash|/
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-day|5
                      .lp-cv-lessonday-wrapper-block-date-week.next-lesson-week
                          |火
                    .lp-cv-lessonday-wrapper-block-date-range.next-lesson-hour-range
                        |17:00~   
                .lp-cv-lessonday-wrapper-block-button 
                   button.button-level1-weekdays
                    |全ての日程をみる                        
            .lp-cv-lessonday-wrapper-block-or
                |or
            .lp-cv-lessonday-wrapper-block.block-level2-weekdays
                .lp-cv-lessonday-wrapper-block-head.level-2
                  .lp-cv-lessonday-wrapper-block-head-level 
                      |【LEVEL 2】
                  .lp-cv-lessonday-wrapper-block-head-text 
                      |平日コース         
                .lp-cv-lessonday-wrapper-block-date 
                    .lp-cv-lessonday-wrapper-block-date-day
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-month|11
                      span.lp-cv-lessonday-wrapper-block-date-day-slash|/
                      span.lp-cv-lessonday-wrapper-block-date-day-month.next-lesson-day|5
                      .lp-cv-lessonday-wrapper-block-date-week.next-lesson-week
                          |火
                    .lp-cv-lessonday-wrapper-block-date-range.next-lesson-hour-range
                        |17:40~   
                .lp-cv-lessonday-wrapper-block-button 
                   button.button-level2-weekdays
                    |全ての日程をみる  
      .lp-cv-button 
        a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank") 
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |
        script.
          var formLink = document.getElementById("form-link"); // IDを使う
- var linkUrl = 'https://go.waomirai.com/howto-signup-english'
//- include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
//- header 
//-       div 
//-         img(src="https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg")
div.fvsp.spimage
   .fvsp-logo
      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
   .fvsp-bg
      img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vmb/1026513/17278535503KP31uZE/fv_sp_image.png')
   .fvsp-left 
      .fvsp-left-top 
        |子どもオンライン英会話
      .fvsp-left-main 
        |楽しく学ぼう！
        br
        |英語がもっと身近に
      .lp-cv-button 
            a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank" )   
                .english-fv-absolute-cvtop.cv-limit-text
                    |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |
            script.
              var formLink = document.getElementById("form-link"); // IDを使う
      .lp-sp-scroll.fv-scroll
        img(src='https://go.waomirai.com/l/1026513/2024-10-21/h61hr/1026513/1729490950gitTHML7/scrolldown_noto.svg')                    
div.fvpc.pcimage
   .fvpc-logo
      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
   .fvpc-left
      .fvpc-left-text
        img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vnt/1026513/1727854663K3AnjpfW/text.svg')
      div 
        a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
          .english-fv-absolute-cvtop.cv-limit-text
              | \ 無料期間中のみの受講もOK！ /
          .lp-cv-button-main
            .lp-cv-button-main-free 
               img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
            .lp-cv-button-main-text
              |受講申し込みはこちら
            .lp-cv-button-main-arrow
              |
        script.
          var formLink = document.getElementById("form-link"); // IDを使う
   .fvpc-center.fv-scroll
       img(src='https://go.waomirai.com/l/1026513/2024-10-21/h61hv/1026513/1729490951gZCdSIcw/scrolldown_yugothic.svg')
   .fvpc-bg
      img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vpq/1026513/1727854818Y2Z313Tg/bgfvpc.png')
//子どもがうまくならない理由
section.section-el-second.section-el-second-why
  .section-el-second-top.section-el-second-top-enjoy 
    .section-el-second-top-text
     span W
     span H
     span Y
     span ?
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text
        |子どもの英語が
        br.spimage
        |うまくならない理由
        br
        |知っていますか？  
    .section-el-second-content-detail  
      div
        .section-el-second-content-detail-reason 
          |理由1 
        .section-el-second-content-detail-title
          |英文を勉強すれば話せるようになると思っているから
        .section-el-second-content-detail-text 
          |文法や単語を覚えることに集中しがちですが
          strong 話せるようになるには、「アウトプット」する機会と量が必要です。
          |勉強だけでは実際の会話力が身につきにくいのです。
        .section-el-second-content-detail-img
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gc4/1026513/1727333513CNz1P89D/reason01.jpg')
      div
        .section-el-second-content-detail-reason 
          |理由2 
        .section-el-second-content-detail-title
          |外国人と話すだけで英語が話せるようになると思っているから
        .section-el-second-content-detail-text 
          |多くの英会話スクールでは先生の言葉や他の生徒の発言を聞くことで時間がとられてしまうため、
          strong|一番重要な「自分の口で話す練習」が十分にできないのが実情です。
          |話すためには自分の口で実際にたくさん喋ることが必要です。
        .section-el-second-content-detail-img
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gl4/1026513/1727341101WVYr5USq/why.png')
      div
        .section-el-second-content-detail-reason 
          |理由3
        .section-el-second-content-detail-title
          |習う英語が”話したい”フレーズじゃないから
        .section-el-second-content-detail-text 
          |多くの英会話スクールでは、文法の難易度順にフレーズを教えることが多いです。
          strong|しかしそのフレーズは必ずしも子どもが日常で伝えたい、話したい内容ではなかったりします。
          span.pcimage
            |言葉を覚える赤ちゃんがそうであるように、文法の難易度にとらわれずに、まずは子どもが日常で使う表現から習得すれば、人に伝えるための言語として英語を身につけることができます。
        .section-el-second-content-detail-img
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gc1/1026513/1727333512zKSVcC6Z/reason03.png')
section.section-el-second.section-el-second-enjoy
  .section-el-second-top.section-el-second-top-enjoy 
    .section-el-second-top-text.pcimage
     |ENJOY ENGLISH
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text
        |グローバル英語は楽しく学ぶ仕組みがいっぱい
    .section-el-second-content-text 
       |英語を勉強したけどそもそも続かない・・・とお悩みの方も多いのではないのでしょうか。
       br
       |グローバル英語では子どもたちが遊ぶような感覚で続けられる仕組みがいっぱいあります。
    .section-el-second-content-grid.section-el-second-content-grid-one 
      .section-el-second-content-grid-left 
          .section-el-second-content-grid-title 
            |脱授業！
            br
            |ライブ形式のレッスンで
            br
            |楽しく学べる
          .section-el-second-content-grid-txt 
            |日本語の通じるネイティブ講師＆日本人講師が、
            b|ユーモアたっぷりに英語を教えてくれるから、レッスンの時間が待ち遠しくなる！
            |ゲームやアクティビティを交えながら、まるで遊んでいるかのように学べるライブレッスン。
          //- .section-el-second-content-grid-image.pcimage
          //-     img(src='https://storage.pardot.com/1026513/1727340661pAjGn14E/about01.png')
      .section-el-second-content-grid-right 
        .section-el-second-content-grid-img
            img(src='https://storage.pardot.com/1026513/1727340661pAjGn14E/about01.png')
    .section-el-second-content-grid.section-el-second-content-grid-two
      .section-el-second-content-grid-left 
        .section-el-second-content-grid-iframe.pcimage.
                  <iframe src="https://player.vimeo.com/video/1013057465?autoplay=1&muted=1&background=1"
          frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

      .section-el-second-content-grid-right 
          .section-el-second-content-grid-title 
            |英語はスポーツと同じ！
            br.pcimage
            span.pcimage|練習が重要。
            br
            |目からウロコの英会話トレーニングで英語力アップ！
          //- .section-el-second-content-grid-image.spimage
          //-    .section-el-second-content-grid-iframe
          //-       iframe(src="https://player.vimeo.com/video/1013057465?autoplay=1&muted=1&background=1", frameborder="0", allow="autoplay; fullscreen; picture-in-picture", allowfullscreen)
          .section-el-second-content-grid-txt 
              |テニスが上手くなりたい人が、練習もせず試合に出たらどうなりますか？
              b|英会話も同じです。いきなり外国人と話す機会があっても、練習をしていなければスムーズに言葉が出ないのは当然です。
              br.spimage
              |リズムを使って単語単位からカタマリ単位で英語をインプットしたり、
              |ひらがなで発音力をあげるなど、斬新な英会話トレーニングをご用意しています。
          .section-el-second-content-grid-image.spimage
             .section-el-second-content-grid-iframe
                iframe(src="https://player.vimeo.com/video/1013057465?autoplay=1&muted=1&background=1", frameborder="0", allow="autoplay; fullscreen; picture-in-picture", allowfullscreen)
    .section-el-second-content-grid.section-el-second-content-grid-three
      .section-el-second-content-grid-left 
          .section-el-second-content-grid-title 
            |レッスン後も
            br
            |楽しく英語に触れる
            br
            |ことができる
          //- .section-el-second-content-grid-image.spimage
          //-     img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcq/1026513/1727333515lZs4Z30Z/enjoy_detail03.png')
          .section-el-second-content-grid-txt 
            |学校の英語やテキスト型英会話スクールでは、どんどん次のページに進み、繰り返しがありません。
            b|英語を定着させるには、何度も同じフレーズに触れる事が重要です。
            span.pcimage|私たちのプログラムでは、ライブレッスンの前や後に何度も練習できる動画レッスンをご用意しています。”覚える”暗記型の英語から、何度も触れて”残る”英語に。
      .section-el-second-content-grid-right
        .section-el-second-content-grid-absolute 
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gkb/1026513/1727340226wwoQZaVS/lessomovie_2.png')
        .section-el-second-content-grid-img
            img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcq/1026513/1727333515lZs4Z30Z/enjoy_detail03.png')
    .section-el-second-content-title 
       .section-el-second-content-title-text
        |他にも楽しいレッスンがいっぱい
    .section-el-second-content-grid-3columns 
        .section-el-second-content-grid-3columns-box
          .section-el-second-content-grid-3columns-image 
            img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcj/1026513/172733351464ZcEJcg/enjoy_merit01.png')
          .section-el-second-content-grid-3columns-title 
            |フレーズChoice
          .section-el-second-content-grid-3columns-text 
            |従来の英作文のように英語は”作る”のではなく、
            b|場面に合わせて英語を”選ぶ”トレーニング
            |をすることで、
            b|考えず瞬発的に英語を話せるようになります。
        .section-el-second-content-grid-3columns-box
          .section-el-second-content-grid-3columns-image 
            img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcm/1026513/1727333514et5n4YGU/enjoy_merit02.png')
          .section-el-second-content-grid-3columns-title 
            |音トレEnglish
          .section-el-second-content-grid-3columns-text 
            |英語は音から入ることが大事！
            b|音のトレーニングで”消える音”や”変わる音”をマスター
            |すれば、英語が聞ける＆話せるようになります！
        .section-el-second-content-grid-3columns-box
          .section-el-second-content-grid-3columns-image
            img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gk4/1026513/172733952815Pd964y/narikiri_2.png')
          .section-el-second-content-grid-3columns-title 
            |なりきりロールプレイ
          .section-el-second-content-grid-3columns-text 
            |レポーターになりきって色々なスポットを英語で説明、有名人に英語でインタビューをしたり、様々な仕事に挑戦しながら実践的な英語を身につけよう！
    .section-el-second-content-more               
section.section-el-second-movie 
    .section-el-second-movie-left
      .section-el-second-movie-left-title 
        |子どもが英語を楽しく身につける方法を動画で紹介
      .section-el-second-movie-left-text
        |この動画では、子どもたちが遊びながら自然に英語を身につけていく様子をご覧いただけます。
    .section-el-second-movie-right
      div(style="padding:56.25% 0 0 0;position:relative;")
        iframe(src="https://player.vimeo.com/video/930561537?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479", frameborder="0", allow="autoplay; fullscreen; picture-in-picture; clipboard-write", style="position:absolute;top:0;left:0;width:100%;height:100%;", title="3分でわかる！新感覚英会話レッスン ワオ未来塾 グローバル英語")
section.section-el-second.section-el-second-ability
  .section-el-second-top.section-el-second-top-ability
    .section-el-second-top-text
     |SKILLS
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text.section-el-second-content-title-text-center
        |英語を学んで
        br.spimage
        |目指すもの
    .section-el-second-content-text 
       |このプログラムで学んで欲しいことは、
       b|英語スキルだけではありません。
       br
       |グローバルな世界で様々な人と楽しく、生活や仕事ができる
       b|３つのスキルを同時に養って欲しいと願っています。
    .section-el-second-content-ability-box 
       .section-el-second-content-ability-box-left
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gc7/1026513/172733351339n7qPNG/ability01.png')
       .section-el-second-content-ability-box-right 
         .section-el-second-content-ability-box-right-subtitle 
            |SKILL 01 
         .section-el-second-content-ability-box-right-title 
            |表現力
         //-  .section-el-second-content-ability-box-right-image.spimage
         //-     img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gc7/1026513/172733351339n7qPNG/ability01.png')
         .section-el-second-content-ability-box-right-txt 
            strong|見たり聞いたりした内容をまとめて相手に伝える力は、グローバルな環境で活躍するためには必須です。
            |進学やキャリアの選択肢を広げ、より多くの可能性を手にするために、英語でプレゼンできる力をつけていきます。
    .section-el-second-content-ability-box 
       .section-el-second-content-ability-box-left
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcb/1026513/1727333513EborKn8Z/ability02.png')
       .section-el-second-content-ability-box-right 
         .section-el-second-content-ability-box-right-subtitle 
            |SKILL 02
         .section-el-second-content-ability-box-right-title 
            |聴く力
         .section-el-second-content-ability-box-right-txt 
            |自分ばかりが話をしていては会話にはなりません。相手の話を聞いて反応できる、また会話を広げるために質問できることもコミュニケーションでは必要です。
            strong|ただ耳で英語を聞くだけではなく、さらに相手の意図を深く理解するためのフレーズも身につけて、”聴く力”もつけていきます。
    .section-el-second-content-ability-box 
       .section-el-second-content-ability-box-left
          img(src='https://go.waomirai.com/l/1026513/2024-09-26/h4gcf/1026513/1727333513Jsai91jP/ability03.png')
       .section-el-second-content-ability-box-right 
         .section-el-second-content-ability-box-right-subtitle 
            |SKILL 03
         .section-el-second-content-ability-box-right-title 
            |伝える力
         .section-el-second-content-ability-box-right-txt 
            b|英語を習得することで、将来的な進学やキャリアの選択肢が広がります。
            |グローバルな環境で活躍できるスキルを身につけることで、より多くの可能性を手にすることができるでしょう。
section.section-el-second.section-el-second-who
  .section-el-second-top
    .section-el-second-top-text
     |WHO WE ARE
  .section-el-second-content
      .section-el-second-content-head
          img(src='https://storage.pardot.com/1026513/17283648363qLguvYK/raport22.jpg')
      .section-el-second-content-text 
         .section-el-second-content-text-head 
            |レッスン担当　
            br.spimage
            |ラポール22
         .section-el-second-content-text-content 
           |日本の環境は今、大きく変化しています。かつて「グローバル」は一部のエリートに関わる言葉でした。しかし現在では日常的に外国人と接する機会が増え、ネットやSNSでは海外の情報が表示され、さらにAIの利用でも英語が有利となっています。
           strong|今や「グローバル」であることが当たり前なのです。
           br
           br
           |こうした新しい世界で、日本の子どもたちは果たして楽しく働き、生活できるでしょうか？AIに仕事を奪われないための選択肢を持てるでしょうか？現状の英語教育ではそれが難しいと感じざるを得ません。残念ながら、実際に使える英語が身についていないばかりか、英語嫌いの子どもが増えているのが現状です。
           br
           br
           b|今、子どもたちに本当に必要なのは、ツールとして使える英語と、それを活かせるコミュニケーション能力です。
           br
           br
           b|海外の人々とコミュニケーションを取るためには、3つの力が必要です。
           br
           |まず「表現力」。
           |アメリカの小学校では積極的に人前でスピーチをする場を設け、幼い頃から表現力を育てます。
           br
           |次に「聞く力」。
           |異なる文化や考え方を理解し、適切に反応・質問できる力が大切です。
           br
           |そして「伝える力」。
           |内容を簡潔にまとめて相手に伝えるスキルは、TOEFLや英検でも必要とされます。
           br
           br
           |これらの力を英語と共に身につけてほしいという想いから、私たちは「Presenter」で表現力を、「Interviewer」で聞く力を、「Reporter」で伝える力を、それぞれ育てるプログラムを開発しました。
      .section-el-second-content-bottom 
         img(src='https://go.waomirai.com/l/1026513/2024-10-08/h57kn/1026513/1728363121Eyys9LMc/whoweare.png')     
section.section-el-cv
      .lp-cv-button 
        a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank") 
                .english-fv-absolute-cvtop.cv-limit-text
                    |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |

section.section-el-second.section-el-second-coarce
  .section-el-second-top
    .section-el-second-top-text
     |COURSE
  .section-el-second-content
    .section-el-second-content-coarce
      .section-el-second-content-title 
          .section-el-second-content-title-text.section-el-second-content-title-text-center
            |授業コース
      .lp-section-text
        b|英語初挑戦なら、「LEVEL1:LOCAL STAGE」で
        |自分の周りに焦点を当てて会話スキルを身につけましょう。
        b|英語が少し話せるなら、「LEVEL2:NATION STAGE」で
        |日本について説明できるフレーズを身につけていきます。 
      .lp-section-course-box
        .lp-section-course-box-image 
          img(src='https://go.waomirai.com/l/1026513/2024-10-09/h5bvc/1026513/172845360082pcJi9y/level1.jpg') 
        .lp-section-course-box-image 
            img(src='https://go.waomirai.com/l/1026513/2024-10-09/h5bv8/1026513/17284532362uShdGJ2/level2.jpg')     
    .section-el-second-content-schedule
      .section-el-second-content-title 
          .section-el-second-content-title-text
            |レッスンスケジュール
      .lp-section-text
        b|授業は平日に2回受講する「平日スタイル」と、土曜にまとめて受講する「土曜スタイル」を選択可能！　
        |どちらも都合がつかない場合は、アーカイブで授業を受けることができます。
      .lp-section-schedule
          figure.wp-block-table.is-style-regular(style="font-size:16px")
            table
                tbody
                  tr
                    td.has-text-align-center(data-align='center' colspan='3') 
                       span(style='font-size:113%; font-weight:bold;')|2025年3月末までのスケジュール
                       br
                       span(style='font-size:83%; color:#f35053;')|※2025年4月以降のスケジュールは下部にございます
                  tr
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                      strong LEVEL1:LOCAL STAGE
                      br
                      span(style='font-size:70%; !important; color:#999 !important;')
                        |※めやす 小３〜
                    td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                      strong LEVEL2:NATION STAGE
                      br
                      br
                      span(style='font-size:70%; !important; color:#999 !important;')
                        | 
                  tr
                    td.has-text-align-center(data-align="center") 月
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
                  tr
                    td.has-text-align-center(data-align="gcenter") 火
                    td.has-text-align-center(data-align="center") ［前半］17:00-17:25
                    td.has-text-align-center(data-align="center") ［前半］17:40-18:05
                  tr
                    td.has-text-align-center(data-align="center") 水
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
                  tr
                    td.has-text-align-center(data-align="center") 木
                    td.has-text-align-center(data-align="center") ［後半］17:00-17:25
                    td.has-text-align-center(data-align="center") ［後半］17:40-18:05
                  tr
                    td.has-text-align-center(data-align="center") 金
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
                  tr
                    td.has-text-align-center(data-align="center") 土
                    td.has-text-align-center(data-align="center") ［前半］17:30-17:55
                      br
                      | ［後半］18:05-18:30
                    td.has-text-align-center(data-align="center") 
                  tr
                    td.has-text-align-center(data-align="center") 日
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
          .wp-block-spacer(style="height:16px", aria-hidden="true")
          p.has-text-align-right ※火・木曜配信と土曜配信は同じ内容です

      .lp-section-schedule
          figure.wp-block-table.is-style-regular(style="font-size:16px")
            table
                tbody
                  tr
                    td.has-text-align-center(data-align='center' colspan='3') 
                       span(style='font-size:113%; font-weight:bold;')|新年度スケジュール
                       br
                       span(style='font-size:83%; color:#f35053;')|※2025年4月以降の配信スケジュールです
                  tr
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                      strong LEVEL1:LOCAL STAGE
                      br
                      span(style='font-size:70%; !important; color:#999 !important;')
                        |※めやす 小３〜
                    td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                      strong LEVEL2:NATION STAGE
                      br
                      span(style='font-size:70%; !important; color:#999 !important;')
                        |※Level2は土曜コースはありません
                  tr
                    td.has-text-align-center(data-align="center") 月
                    td.has-text-align-center(data-align="center") ［前半］17:30-17:55
                    td.has-text-align-center(data-align="center")
                  tr
                    td.has-text-align-center(data-align="gcenter") 火
                    td.has-text-align-center(data-align="center") 
                    td.has-text-align-center(data-align="center") ［前半］ 17:30-17:55
                  tr
                    td.has-text-align-center(data-align="center") 水
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
                  tr
                    td.has-text-align-center(data-align="center") 木
                    td.has-text-align-center(data-align="center") ［後半］ 17:30-17:55
                    td.has-text-align-center(data-align="center") 
                  tr
                    td.has-text-align-center(data-align="center") 金
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center") ［後半］ 17:30-17:55
                  tr
                    td.has-text-align-center(data-align="center") 土
                    td.has-text-align-center(data-align="center") ［前半］19:00-19:25
                      br
                      | ［後半］19:35-20:00
                    td.has-text-align-center(data-align="center") 
                  tr
                    td.has-text-align-center(data-align="center") 日
                    td.has-text-align-center(data-align="center")
                    td.has-text-align-center(data-align="center")
          .wp-block-spacer(style="height:16px", aria-hidden="true")
          p.has-text-align-right ※月・木曜配信と土曜配信は同じ内容です

section.section-el-second.section-el-second-process
  .section-el-second-top
    .section-el-second-top-text
     |PROCESS
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text.section-el-second-content-title-text-center
        |学習の流れ
    .section-el-second-content-process
      .lp-section-study-process
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-12-16/h9m4j/1026513/1734329018OMWPVyqu/Nagare_Lesson1.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img.lp-section-study-process-img-noshadow
            img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf1/1026513/17267356090NTnC3hs/Nagare_training1.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tfb/1026513/17267356095JP6kMiV/Nagare_Lesson2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-nagare
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-12-16/h9m4f/1026513/1734329018ua4EvAVA/Nagare_Lesson3.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-nagare
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf4/1026513/1726735609UCrrtkUw/Nagare_Lesson4.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-nagare
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf7/1026513/172673560925uZHkJ8/Nagare_Lesson5.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-nagare
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img
            img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tdx/1026513/1726735609qW7svH3B/Nagare_Lesson6.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-nagare
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
        .lp-section-study-process-arrow
        .lp-section-study-process-img-close
            img(src='https://go.waomirai.com/l/1026513/2024-10-17/h5vng/1026513/1729140632HnAbe5vB/Nagare_after.png') 
    .lp-section-scroll   
      img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3sr4/1026513/1726723227DuArKEVS/arrow_scroll.svg')
section.section-el-second.section-el-second-voice
  .section-el-second-top
    .section-el-second-top-text
     |VOICE
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text.section-el-second-content-title-text-center
        |お客さまからの声
    .lp-section-voice-box
      .lp-section-voice-box-image 
        img(src='https://storage.pardot.com/1026513/1726561074K3qs6Awa/img_voice.png') 
      .lp-section-voice-box-text
        |小4小2の子どもたちと一緒に家族で参加しましたが、衝撃的に面白く楽しい時間でした！なるほど！と納得できることばかりでした。子どもたちがこれからも楽しく英語を勉強できるよう意識して環境を作ってみたいと思います。本当にありがとうございました！
section.section-el-second.section-el-second-price
  .section-el-second-top
    .section-el-second-top-text
     |PRICE
  .section-el-second-content
    //- .section-el-second-content-title 
    //-    .section-el-second-content-title-text.section-el-second-content-title-text-center
    //-     |料金
    .lp-section-price
      .lp-section-price-box
        .lp-section-price-box-left 
            //- .lp-section-price-box-left-badge-wrap
            //-     .lp-section-price-box-left-badge 
            //-       .lp-section-price-box-left-badge-body
            //-     .lp-section-price-box-left-badge-text
            //-       |無料
            .lp-section-price-box-left-text 
                    |入会月無料！
        .lp-section-price-box-right
            |6,600円
            span.lp-section-price-box-right-small 
              | (税込）/月
    .lp-section-price-note
      |※無料期間でご解約の場合、費用は一切かかりません。
    section.section-el-cv
          .lp-cv-button 
            a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank") 
                .english-fv-absolute-cvtop
                  |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |
//- section.section-el-second.section-el-second-try
//-   .section-el-second-top
//-     .section-el-second-top-text
//-         |
//-   .section-el-second-content
//-     .section-el-second-content-title 
//-        .section-el-second-content-title-text.section-el-second-content-title-text-center
//-          |無料体験レッスン
//-          br.spimage
//-          |までの流れ
//-     .lp-section-trial-flow
//-       .pcimage
//-         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3m5j/1026513/1726548611mDNqtkmT/trial_lesson.png')
//-       .spimage
//-         img(src='https://storage.pardot.com/1026513/1726640348sRjJhEhl/img_flow_sp.png')


mixin faqItem(title, text)
  .lp-section-faq
    .lp-section-faq-left 
      |Q
    .lp-section-faq-right   
      .lp-section-faq-right-title 
        | #{title}
      .lp-section-faq-right-txt!=text
section.section-el-second.section-el-second-faq
  .section-el-second-top
    .section-el-second-top-text
      |FAQ
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text.section-el-second-content-title-text-center
         |よくある質問
    .lp-section-faq-wrapper
      +faqItem('英語の歌をたくさん聞かせています。これも効果ありますか？', 'リズムと音で英語の発音になれることができるのでとてもいい練習方法です。ただ、英語の歌にはあまり日常的に使ってほしくない表現が含まれていることがあります。ワオ未来塾のグローバル英語では、必要なフレーズをリズムに乗せて練習しますので、歌や九九を覚える感覚で覚えることができます。')
      +faqItem('英語はまだ習っていないので単語をほぼ知らないのですが、大丈夫ですか？', 'はじめて出てくる単語はレッスンで解説をします。そして、ネイティブの子どもたちと同じように、画像やアクションと単語を結び付けて、フレーズの中で覚えていきますのでご安心ください。')
      +faqItem('文法は勉強しなくて大丈夫ですか？', '赤ちゃんだった子どもたちはどうやって言葉を話せるようになるのでしょうか？まずは文字を覚えて、単語を暗記して、文法を学んだ？ いいえ、聞こえてくる「音」を何度も真似をして、簡単なフレーズから話せるようになったはずです。同じように、ワオ未来塾グローバル英語では、フレーズを九九のように覚える練習をしていきます。また、英語をカタマリで覚えるので、日本人が話すときに助詞で悩まないのと同じように、英語でも「inだっけ？atだっけ？」と悩むことがなくなります。そして、しゃべれるようになってから文法を学ぶと、なるほど！と理解することができるようになります。')
      +faqItem('週に数回のレッスンで本当に話せるようになるんですか？', '英語は見ているだけ、聞いているだけでは話せるようになりません。ワオ未来塾のグローバル英語では、レッスンがない日もレッスンで習ったフレーズを体にしみこませるため動画でトレーニングが毎日できます！動画ではリズムと音を活用して練習するので、歌や九九を覚える感覚で楽しく英語のフレーズを覚えることができますよ。')
      +faqItem('オンラインなので、子どもが楽しく続けることができるか心配です。', '指導は子どもが大好きで元気な日本語の通じるネイティブ講師＆日本人講師が行います。アクションをつけながらリズムに合わせて発音したり、クイズ形式で得点を競ったり、お子様が楽しく参加できる工夫がたくさんあります。')
      +faqItem('大人しい性格なので、みんなが参加するオンラインレッスンで会話できるのか不安です。', 'オンラインレッスンのカメラ映像は先生にだけ表示され他の方には見えません。またチャットやスタンプでの参加もできますので、お子様に合った形でご参加いただけます。')     
      +faqItem('英検に挑戦したいと考えています。対策になりますか？', 'グローバル英語のレッスンは英検の「リスニング問題」の対策に有効です。英語が聞き取れない原因は単語と単語をつなげて発音する「リエゾン」に慣れていないことが原因です。グローバル英語ではこの単語と単語のカタマリを音（リエゾン）で練習しますので、英語特有の発音も聞き取れるようになります。またレッスンは音から英語を習得する”喋る練習”を中心に進めますが、音が体にしみこむ最終段階ではフレーズをアルファベットで表示します。これによって音と文字がつながり、アルファベットで表記された英語も読むことができるよう設計された教材を使用しています。')              
      +faqItem('受講を始めるのはいつが最適ですか？', 'どの月から初めていただいても、その月内でテーマとなるフレーズが完結するように教材を作成していますが、２ヶ月ごとにプレゼンター、インタビュアー、レポーター、とシーンがかわりますので、しいていうならば偶数月スタートをおすすめしています。<br />とはいえ『思い立ったが吉日』！お子様の「やってみよう！」「がんばろう！」という気持ちが合うタイミングでスタートしていただくのが一番です。')    
      .lp-section-faq
        .lp-section-faq-left 
          |Q
        .lp-section-faq-right   
          .lp-section-faq-right-title 
            |受講レベルを検討するための指標を教えてください。
          .lp-section-faq-right-txt   
            |レベル１は、小学校高学年～中学１年で習う基礎フレーズがメインです。
            br
            |「Do you like ~ / I want to~」などはもちろん、スピーキング力UPに力点をおいていますので
            |「Let me tell you～ / I especially like～ / This place looks～」など、実践会話で頻出表現も多く習得できます。これらの表現は英検では４級～３級レベルとなります。あくまでも、理解を目指すだけではなく、話せる＆通じる英語を目指しているため、簡単な英語でも、運用できるまで練習します。音のつながり（リエゾン）や、英語をカタマリで捉え、それらを運用レベルにあげるパターン練習を、最初から海外で通用するスピードで聞く話すを鍛えます。簡単なフレーズでも手応えがあるトレーニング内容です。
            br
            br
            |レベル２は、中学２・３年～高校１年で習う英語がメインとなります。
            br
            |「Japanese people enjoy～ / Okonomiyaki is not only～  How have you been～」
            |など、日常会話だけではなく、簡単な日本の文化の説明などができるレベルを目指し、英検では３級～準２級で頻出フレーズを実際に使える運用レベルまであげていきます。
            br
            |一見、大人から見ると難しい構文でも、ワオ未来塾では英語をリズムとパターンで覚える為
            |算数の公式を覚える感覚で、１つの英語パターンを習得することで応用がスムーズになります。
      +faqItem('年度の途中での入会をしても授業についていけますか？', '1年を通して様々なフレーズを学ぶので、どの月から受講いただいても問題ありません。')   
      +faqItem('平日と土曜を組み合わせて受講することはできませんか？', '授業開始時に「受講レベル」を選択いただきます。選択したレベルの授業は平日・土曜いずれも受講可能です。<br />ただし火曜日と土曜日前半／木曜日と土曜日後半は同じレッスンを実施していますので、平日と土曜で別のレッスンを受講できるようご参加日時をご調整ください。')   
section.section-el-second.section-el-second-contact
    .section-el-second-contact-left.pcimage
      .section-el-second-contact-left-img
        img(src='https://go.waomirai.com/l/1026513/2024-10-17/h5vqy/1026513/1729144087tr6fAOZs/waomirai.png')
    .section-el-second-contact-right
      .section-el-second-contact-right-title 
        span|LINE
        |でお問い合わせ
      .section-el-second-contact-right-text
        |「ワオ未来塾」LINE公式アカウントから
        br
        |グローバル英語のレッスンや受講に関しての
        br.pcimage
        |お悩み・ご相談にお答えいたします！
      .section-el-second-contact-right-button.
        <a href="https://endpoint.loycus.jp/landing-qr/2006716288-lL7QzGA3?ic=dIxgHw6kuz&whc=173508808725235" target="_blank"><span class="section-el-second-contact-right-button-img"
                  ><img
                    src="https://go.waomirai.com/l/1026513/2024-10-17/h5vq5/1026513/17291425927q4BfIZG/icn_line.svg" /></span
                ><span class="section-el-second-contact-right-button-txt"
                  >LINEでお問い合わせ</span
                ></a>
footer 
  ul 
   li 
    a(href="https://www.wao-corp.com/", target='_blank')
     |会社概要
   li 
    a(href="https://www.wao-corp.com/kojin/", target='_blank')
     |プライバシーポリシー
   li
    a(href="https://go.waomirai.com/shotororihiki", target='_blank')
     |特定商取引に基づく表記
  .footer-logo 
    img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
  .footer-copyright
    |© ワオ・コーポレーション All rights reserved.
.fixed-button(style='display:none;')
          .lp-cv-button 
              a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
                .english-fv-absolute-cvtop.cv-limit-text
                    |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
              script.
                var formLink = document.getElementById("form-link"); // IDを使う
include _js-lp-english-second.pug

