
mixin fixed-btn
  .fixed-btn
    a(
      class=loycus ? '' : 'js-line-trigger'
      href=loycus ? UrlLiffForm : false
      target=loycus ? '_blank' : false
    )
      .fixed-btn-left
        img(src=ImgIllustBtn, alt="")
      .fixed-btn-text LINEで無料申込
      .fixed-btn-icn
mixin btn-cta 
    a.btn-cta(
      class=loycus ? '' : 'js-line-trigger'
      href=loycus ? UrlLiffForm : false
      target=loycus ? '_blank' : false
    )
        .btn-cta-left
          img(src=ImgIllustBtn, alt="")
        .btn-cta-text|LINEで無料申込
        .btn-cta-icn



mixin modal
  .modal#modal-alreadyfriend(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-close
          .modal-wrapper-close-icon.modal-close
      .modal-wrapper-content   
         .modal-wrapper-content-title-alreadyfriend
            .modal-wrapper-content-title-alreadyfriend-top
                div|すでに
                div 
                  img(src=ImgIcnWaoLine)
                div|ワオ未来塾公式LINEを
            .modal-wrapper-content-title-alreadyfriend-bottom
                |友だち追加している方へ
         .modal-wrapper-content-main

            .modal-wrapper-content-main-text-alreadyfriend
              |イベントの申し込み案内が
              br
              |自動で届かない場合がございます。
              br
              |その場合は下記手順で申込ください。
            .modal-wrapper-content-main-image-alreadyfriend
              img(src=ImgModalEvent)
            .modal-wrapper-content-main-btn-alreadyfriend
                a(href=UrlLine, target='_blank')
                  |OKです(イベント申込へ)
  .modal#modal-pc-liff(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-head
              .modal-wrapper-content-main-head-img
                img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icon_howto_join01.png')
              .modal-wrapper-content-main-head-text 
                 |スマホで
                 br
                 |LINEの友だち追加
            .modal-wrapper-content-main-qr#liffqr
              
            .modal-wrapper-content-main-text
                        |追加後に申込フォームが
                        br
                        |送信されます
         .modal-wrapper-content-close.modal-close 
                |閉じる
  .bg-modal(style='display:none;')
// +ModalEntlyLine