//ヘッダー
header 
    .header-logo 
      img(src=ImgLogo)
    .header-right.pcimage
      +lineEntryButton('LINE公式アカウントから申込')
// ファーストビュー
section.lp-firstweek-free-fv
      p.lp-firstweek-free-fv-title
        |社会で役立つ
        wbr
        |哲学／科学／経済を
        wbr
        |オンラインで
      .lp-firstweek-free-fv-main
        .lp-firstweek-free-fv-main-image
          img(src=ImgFv01)
        .lp-firstweek-free-fv-main-text
          h1.lp-firstweek-free-fv-main-text-title
            span.lp-firstweek-free-fv-main-text-title-01
              span|1
              span|W
              span|E
              span|E
              span|K
            span.lp-firstweek-free-fv-main-text-title-02
              span|授
              span|業
              span|無
              span|料
              span|体
              span|験
            span.lp-firstweek-free-fv-main-text-title-03
              span|キ
              span|ャ
              span|ン
              span|ペ
              span|ー
              span|ン
          p.lp-firstweek-free-fv-main-text-subject
            |対象：小３生～高校生
          p.lp-firstweek-free-fv-main-text-explain
            |ワオ未来塾でしか受けられない！
            br
            |未来を生きる子どもたちに
            br
            |”今”必要な力をつける
            |
            br.spimage
            |オンラインライブ授業
          p.lp-firstweek-free-fv-main-text-date
            |5/13(火)～5/16(金)
        .lp-firstweek-free-fv-main-small-image
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv02)
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv03)
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv04)
      .lp-firstweek-free-fv-line
        .c-btn-cta-main
          +lineEntryButton('LINEで簡単申込 >')
//イントロ
section.lp-firstweek-free-intro 
      |text
//特徴
section.lp-firstweek-free-feature
      .lp-firstweek-free-feature-grid
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
             img(src=ImgFeature01)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.1
          .lp-firstweek-free-feature-grid-child-title 
              |オンラインで楽しむ
              br
              |ライブ配信授業！
          .lp-firstweek-free-feature-grid-child-text 
              |全国隅々に、新しい教育を届けたい！オンライン授業なので、日本中・世界中のどこからでもご受講いただけます。
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
            img(src=ImgFeature02)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.2
          .lp-firstweek-free-feature-grid-child-title 
              |ここでしか
              br
              |体験できない学び！
          .lp-firstweek-free-feature-grid-child-text 
              |未来に生きる子どもたちの力となる”新５教科”から「哲学（思考力）」「科学リテラシー」「経済（お金）」の３教科の授業が無料で受講できます。
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
              img(src=ImgFeature03)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.3
          .lp-firstweek-free-feature-grid-child-title 
              |24講座
              br
              |48コマから選べる！
          .lp-firstweek-free-feature-grid-child-text 
              |3教科×4LEVEL×2講座＝計24の講座があります！オンライン授業は火曜日～金曜日に2講座ずつ生配信！気になる講座、参加できる日時から選び放題です♪

//講座内容のナビゲーション
section.lp-firstweek-free-eventinfo
      .lp-firstweek-free-eventinfo-head
        .lp-firstweek-free-eventinfo-head-title 
          |講座内容
        .lp-firstweek-free-eventinfo-head-text 
           |受けてみたい教科を選んで
           br.spimage
           |講座内容をチェックしよう！
      .lp-firstweek-free-eventinfo-nav.pcimage
          a.lp-firstweek-free-eventinfo-nav-child.philosophy(href='#philosophy')
            |哲学（思考力）
          a.lp-firstweek-free-eventinfo-nav-child.science(href='#science')
            |科学リテラシー
          a.lp-firstweek-free-eventinfo-nav-child.economy(href='#economy')
            |経済（お金）
      .lp-firstweek-free-eventinfo-bottom
        |クリックすると各科目の先頭にジャンプします♪
//メインの講座
section.lp-firstweek-free-events
        .lp-firstweek-free-events-spnavi.spimage
          a.lp-firstweek-free-events-spnavi-child.philosophy(href='#philosophy')
            |哲学
          a.lp-firstweek-free-events-spnavi-child.science(href='#science')
            |科学
          a.lp-firstweek-free-events-spnavi-child.economy(href='#economy')
            |経済
        .lp-firstweek-free-events-flex
          .lp-firstweek-free-events-main 
              div.lp-firstweek-free-events-main-section#philosophy
                h2.lp-firstweek-free-events-main-section-title
                    | 哲学（思考力）
                section.lp-firstweek-free-events-main-section-levels

                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.philosophy
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.philosophy
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.philosophy
                                  | 哲学
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.philosophy
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.philosophy
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.philosophy
                                  | 哲学
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                .lp-firstweek-free-events-main-section-cta
                  +lineEntryButton('LINEで簡単申込 >')
              div.lp-firstweek-free-events-main-section#science
                h2.lp-firstweek-free-events-main-section-title
                    | 科学リテラシー
                section.lp-firstweek-free-events-main-section-levels

                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.science
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.science
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.science
                                  | 科学
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.science
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.science
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.science
                                  | 科学
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                .lp-firstweek-free-events-main-section-cta
                  +lineEntryButton('LINEで簡単申込 >')
              div.lp-firstweek-free-events-main-section#economy
                h2.lp-firstweek-free-events-main-section-title
                    |経済（お金）
                section.lp-firstweek-free-events-main-section-levels

                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.economy
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.economy
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.economy
                                  | 経済
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                      .lp-firstweek-free-events-main-section-levels-child
                        .lp-firstweek-free-events-main-section-levels-child-title.economy
                          |自己紹介が好きになる魔法の言葉 
                        .lp-firstweek-free-events-main-section-levels-child-img.economy
                           img(src="https://go.waomirai.com/l/1026513/2025-01-28/hcvyr/1026513/1738047404gPkRYCli/ph_level1_a.jpg")
                        .lp-firstweek-free-events-main-section-levels-child-description
                           |自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。
                        .lp-firstweek-free-events-main-section-levels-child-bottom
                          .lp-firstweek-free-events-main-section-levels-child-bottom-subject
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-category.economy
                                  | 経済
                            .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-number
                                |Level.
                                span|1
                              .lp-firstweek-free-events-main-section-levels-child-bottom-subject-level-student
                                  |(小学3,4年生)
                          .lp-firstweek-free-events-main-section-levels-child-bottom-schedule                      
                                  span 2025年
                                  | 3月20日(木)／18:30～19:15
                                  br
                                  span 2025年
                                  | 4月3日(木)／20:00～20:45
                .lp-firstweek-free-events-main-section-cta
                  +lineEntryButton('LINEで簡単申込 >')
//こんなあなたにオススメです！
section.lp-waomirai-recommend
    .c-title-25feb-lp 
       |こんなあなたに
       br.spimage
       |オススメです！
    .lp-waomirai-recommend
      .lp-waomirai-recommend-left.pcimage
          img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpc/1026513/17369098162NUo6Frk/illust_family_3person.png')
      .lp-waomirai-recommend-right
        //親子
        .lp-waomirai-recommend-right-child
           .lp-waomirai-recommend-right-child-icon.pcimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbwzg/1026513/1736921312EFe5ObBQ/illust_family_child.png')
           .lp-waomirai-recommend-right-child-icon.spimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-17/hc2m5/1026513/1737095331S6YzsenA/illust_voice_child.svg')
           .lp-waomirai-recommend-right-child-text
              div ⚪︎学校の勉強だけじゃものたりない
              div ⚪︎好奇心がとまらない
              div ⚪︎総合型選抜も見据えた学びがしたい
        .lp-waomirai-recommend-right-child
           .lp-waomirai-recommend-right-child-icon.pcimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp2/1026513/1736909815p2GIKGjy/illust_family_mom_and_papa.png')
           .lp-waomirai-recommend-right-child-icon.spimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-17/hc2my/1026513/1737097252oErU5qzj/illust_voice_family.svg')
           .lp-waomirai-recommend-right-child-text
              div 
                |⚪︎子どもももちろんだけど、
                br.pcimage
                |親だって一緒に学びたい
              div|⚪︎子どもと話し合えるきっかけがほしい
              div|⚪︎自立した大人になってほしい
          
    .lp-waomirai-point
       .lp-waomirai-point-left 
         |POINT!
       .lp-waomirai-point-right
          |ワオ未来塾の授業は推奨学年はありますが、
          br.pcimage
          |大人も子どもも楽しめるコンテンツ。
          br
          |授業が終わるころには、
          br.pcimage
          |ちょっと世の中の見え方が変わってくる！

//5stepで参加可能
section.lp-waomirai-howto#lp-waomirai-howto.c-bg-section-white
    .lp-waomirai-howto-title 
       |カンタン
       span.large|5
       |STEP
       br.spimage
       |で参加可能
    .lp-waomirai-howto-img 
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp8/1026513/1736909816UqQkpU4o/illust_family_mom.png')

    -
        var steps = [{
          iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png',
          number: '1.',
          title: 'LINEで公式アカウントを友だち追加',
          text: `<span class="pcimage">まず、二次元コードから</span>スマートフォンで公式アカウントを友だちに追加してください。<br /><span class="spimage">・友だち追加は<a href="${UrlLineEventMarch}" target="_blank">こちら</a>から</span><span class="pcimage">・友だち追加は<a class="modal-open-liff-qr" style="cursor:pointer; text-decoration:underline;">こちら</a>から</span>`
        },
        {
          iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png',
          number: '2.',
          title: '友だち登録後、LINEのトーク画面に送られる申し込みフォームをタップ！'
        },
        {
          iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png',
          number: '3.',
          title: '参加したいイベントを選び、必要な情報を記入して「申込」をタップ'
        },
        {
          iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnc/1026513/1736909814efjpZrPo/icon_howto_join04.pngg',
          number: '4.',
          title: 'イベント前日にLINEメッセージでイベントURLをお送りします'
        },
        {
          iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png',
          number: '5.',
          title: '開催時間になったら届いたイベントURLから参加しましょう！'
        }]
    each step in steps
      .lp-waomirai-howto-step 
        .lp-waomirai-howto-step-child 
          .lp-waomirai-howto-step-child-icon 
            img(src=step.iconimg)
          .lp-waomirai-howto-step-child-number 
            |#{step.number}
          .lp-waomirai-howto-step-child-text
            .lp-waomirai-howto-step-child-text-title
              != step.title
            .lp-waomirai-howto-step-child-text-detail
              != step.text        

//以下クリームイエロー背景のセクション
section.bg-lp-creamyellow
  //ワオ未来塾って？
  .lp-waomirai-about
        .c-title-25feb-lp 
          |ワオ未来塾って？
        .lp-waomirai-about-box 
            .lp-waomirai-about-box-left 
              img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1k/1026513/17369238821jwHk8La/logo_wao.svg')
            .lp-waomirai-about-box-right
              |全国で「能開センター」「個別指導Axis」の展開や、アニメ制作、知育アプリ「ワオっち」の配信を手がけるワオ・コーポレーションが提供する、新しい学びです。21世紀に入り、世界の変化はどんどん加速しています。この後10数年内には、AIによって今ある仕事の50％が取って変わられるとも予想されています。このような全く新しい未来を生きる子どもたちには、今こそ「新しい学び・学び方が必要だ」と考えました。そして、これまでにない新しい学びのカタチを提供する『ワオ未来塾』を2025年4月に開校します。
  //授業の特徴
  .lp-waomirai-feature
      .c-title-25feb-lp 
        |授業の特長
      div
        .lp-waomirai-feature-child 
          i.fa-solid.fa-globe
          |オンライン授業で
          br.spimage
          |全国どこからでも
          br.spimage
          |参加OK
        .lp-waomirai-feature-child 
          i.fa-regular.fa-comments
          |ライブだからチャットで授業に参加できる!
        .lp-waomirai-feature-child 
          .lp-waomirai-feature-child-icons 
            i.fa-solid.fa-laptop
          |必要なのはPCか
          br.spimage
          |タブレット端末だけ！
      .c-btn-cta-main
          +lineEntryButton('LINEで簡単申込 >')
                
  //2025年4月開講
  .lp-waomirai-start2025
        .lp-waomirai-start2025-catch 
          |社会で役立つ学びを、
          br.spimage
          |今はじめよう
          br
          |オンラインで
          br.spimage
          |楽しく学ぶ“新5教科”
        .lp-waomirai-start2025-subtitle 
          |2025年4月開校！
        .lp-waomirai-start2025-logo 
          img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
        .lp-waomirai-start2025-target 
          |〈対象〉
          br.spimage
          |小学3〜6年生／
          br.spimage
          |中学生／高校生
        .lp-waomirai-start2025-subjects 
          .pcimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png')
          .spimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.png') 
        .lp-waomirai-start2025-feature 
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              .lp-waomirai-start2025-feature-box-title-text 
                |新しい５教科
            .lp-waomirai-start2025-feature-box-text 
              |自己肯定感を養う「哲学」、正しく物事を見る目を育む「科学」、社会を支える仕組みを学ぶ「経済」、世界共通言語の「英語」「プログラミング」を身につけます。
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              .lp-waomirai-start2025-feature-box-title-text 
                |飛び級制
            .lp-waomirai-start2025-feature-box-text 
              |授業は推奨学年を設定していますが、理解度に応じて高いレベルの授業を選ぶことができます。 そのため学年に縛られず、自由なペースで学びを深めることができます。
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              .lp-waomirai-start2025-feature-box-title-text 
                |オンラインライブ授業
            .lp-waomirai-start2025-feature-box-text 
              |授業はライブ形式で行われ、チャットやリアクションボタンで積極的に授業に参加できます。自分の意見が授業で取り上げられることも！
        .lp-waomirai-start2025-btn
          a(href='https://waomirai.com/', target='_blank')
            .lp-waomirai-start2025-btn-text
              |ワオ未来塾の公式サイトへ     
            .lp-waomirai-start2025-btn-icn
              img(src='https://go.waomirai.com/l/1026513/2025-01-19/hc4f5/1026513/173734363862S1a4bW/icn_target.svg')    

  footer 
      ul 
        li 
          a(href="https://www.wao-corp.com/", target='_blank')
            |会社概要
        li 
          a(href="https://www.wao-corp.com/kojin/", target='_blank')
          |プライバシーポリシー
        li
          a(href="https://go.waomirai.com/shotororihiki", target='_blank')
            |特定商取引に基づく表記
      .footer-logo 
        img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
      .footer-copyright
        |© ワオ・コーポレーション All rights reserved.

// PCでの申込みのモーダル
+ModalEntlyLine

// SPのCTA
.fixed-cta-button(style='display:none;')
   +lineEntryButton('無料体験イベントにお申込み')