//ヘッダー
header 
    .header-logo 
      img(src=ImgLogo)
    .header-right.pcimage
      +lineEntryButton('LINE公式アカウントから申込')
// ファーストビュー
section.lp-firstweek-free-fv
      p.lp-firstweek-free-fv-title
        |社会で役立つ
        wbr
        |哲学／科学／経済を
        wbr
        |オンラインで
      .lp-firstweek-free-fv-main
        .lp-firstweek-free-fv-main-image
          img(src=ImgFv01)
        .lp-firstweek-free-fv-main-text
          h1.lp-firstweek-free-fv-main-text-title
            span.lp-firstweek-free-fv-main-text-title-01
              span|1
              span|W
              span|E
              span|E
              span|K
            span.lp-firstweek-free-fv-main-text-title-02
              span|授
              span|業
              span|無
              span|料
              span|体
              span|験
            span.lp-firstweek-free-fv-main-text-title-03
              span|キ
              span|ャ
              span|ン
              span|ペ
              span|ー
              span|ン
          p.lp-firstweek-free-fv-main-text-subject
            |対象：小３生～高校生
          p.lp-firstweek-free-fv-main-text-explain
            |ワオ未来塾でしか受けられない！
            br
            |未来を生きる子どもたちに
            br
            |”今”必要な力をつける
            |
            br.spimage
            |オンラインライブ授業
          p.lp-firstweek-free-fv-main-text-date
            |5/13(火)～5/16(金)
        .lp-firstweek-free-fv-main-small-image
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv02)
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv03)
          .lp-firstweek-free-fv-main-small-image-item
            img(src=ImgFv04)
      .lp-firstweek-free-fv-line
        .c-btn-cta-main
          +lineEntryButton('LINEで簡単申込 >')
//イントロ
section.lp-firstweek-free-intro 
      .lp-firstweek-free-intro-contents
        .lp-firstweek-free-intro-contents-image
          img(src=ImgIntro)
        .lp-firstweek-free-intro-contents-main
          h2.lp-firstweek-free-intro-contents-main-title 
            |知的探究の入り口を
            br.pcimage
            |無料で体験できます
          .lp-firstweek-free-intro-contents-main-text
            p.lp-firstweek-free-intro-contents-main-text-paragraph
              |ワオ未来塾の授業は1テーマについて3週間にわたって探究を深めていきます。
            p.lp-firstweek-free-intro-contents-main-text-paragraph
              |今回のキャンペーンでは、その初週を無料で開放！ワクワクする探究の入り口を無料でみなさんにご体験いただきます。
      svg.lp-firstweek-free-intro-arrow(width='80', height='44', viewBox='0 0 80 44', fill='none', xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0_2021_790)')
          path(d='M79.437 12.3839L40.0027 43.1222L0.563049 12.3839', stroke='#575757', stroke-width='3', stroke-miterlimit='10')
          path(d='M79.437 -3.16772L40.0027 27.5747L0.563049 -3.16772', stroke='#575757', stroke-width='3', stroke-miterlimit='10')
        defs
          clipPath#clip0_2021_790
            rect(width='80', height='44', fill='white')
//特徴
section.lp-firstweek-free-feature
      .lp-firstweek-free-feature-grid
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
             img(src=ImgFeature01)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.1
          h3.lp-firstweek-free-feature-grid-child-title 
              |オンラインで楽しむ
              br
              |ライブ配信授業！
          p.lp-firstweek-free-feature-grid-child-text 
              |全国隅々に、新しい教育を届けたい！オンライン授業なので、日本中・世界中のどこからでもご受講いただけます。
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
            img(src=ImgFeature02)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.2
          h3.lp-firstweek-free-feature-grid-child-title 
              |ここでしか
              br
              |体験できない学び！
          p.lp-firstweek-free-feature-grid-child-text 
              |未来に生きる子どもたちの力となる”新５教科”から「哲学（思考力）」「科学リテラシー」「経済（お金）」の３教科の授業が無料で受講できます。
        .lp-firstweek-free-feature-grid-child
          .lp-firstweek-free-feature-grid-child-img
              img(src=ImgFeature03)
          .lp-firstweek-free-feature-grid-child-subtitle
            .lp-firstweek-free-feature-grid-child-subtitle-icon
              img(src=ImgIconSubject)
            .lp-firstweek-free-feature-grid-child-subtitle-text
              |FEATURE.3
          h3.lp-firstweek-free-feature-grid-child-title 
              |どの科目でもレベルでも
              br
              |1週目がすべて無料！
          p.lp-firstweek-free-feature-grid-child-text 
              |興味のある講座であれば、1週目はどれでも受講が可能です。「どんな授業？」「レベル感が知りたい」など、気になったらまずは受講してみてください！
      .lp-firstweek-free-feature-line
        .c-btn-cta-main
          +lineEntryButton('LINEで簡単申込 >')

//講座内容のナビゲーション
section.lp-firstweek-free-eventinfo
      .lp-firstweek-free-eventinfo-head
        h2.lp-firstweek-free-eventinfo-head-title 
          |5月の講座内容
        p.lp-firstweek-free-eventinfo-head-text 
           |受けてみたい教科を選んで
           br.spimage
           |講座内容をチェックしよう！
      .lp-firstweek-free-eventinfo-nav.pcimage
          a.lp-firstweek-free-eventinfo-nav-child.philosophy(href='#philosophy')
            |哲学（思考力）
          a.lp-firstweek-free-eventinfo-nav-child.science(href='#science')
            |科学リテラシー
          a.lp-firstweek-free-eventinfo-nav-child.economy(href='#economy')
            |経済（お金）
      .lp-firstweek-free-eventinfo-bottom
        |クリックすると各科目の先頭にジャンプします♪
//講座内容のメイン部分
section.lp-firstweek-free-events
      .lp-firstweek-free-events-spnavi.spimage
        a.lp-firstweek-free-events-spnavi-child.philosophy(href='#philosophy')
          |哲学
        a.lp-firstweek-free-events-spnavi-child.science(href='#science')
          |科学
        a.lp-firstweek-free-events-spnavi-child.economy(href='#economy')
          |経済
      .lp-firstweek-free-events-main#philosophy
        h3.lp-firstweek-free-events-main-title
          |哲学（思考力）
        ul.lp-firstweek-free-events-main-list
          +courseList('philosophy', '哲学')
        .lp-firstweek-free-events-main-cta
          .c-btn-cta-main
            +lineEntryButton('LINEで簡単申込 >')
      .lp-firstweek-free-events-main#science
        h3.lp-firstweek-free-events-main-title
          |科学リテラシー
        ul.lp-firstweek-free-events-main-list
          +courseList('science', '科学')
        .lp-firstweek-free-events-main-cta
          .c-btn-cta-main
            +lineEntryButton('LINEで簡単申込 >')
      .lp-firstweek-free-events-main#economy
        h3.lp-firstweek-free-events-main-title
          |経済（お金）
        ul.lp-firstweek-free-events-main-list
          +courseList('economy', '経済')
        .lp-firstweek-free-events-main-cta
          .c-btn-cta-main
            +lineEntryButton('LINEで簡単申込 >')
//こんなあなたにオススメです！
section.lp-waomirai-recommend
    h2.c-title-lp 
       |こんなお子さまたちに
       br.spimage
       |オススメです！
    .lp-waomirai-recommend
      .lp-waomirai-recommend-left
          img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpc/1026513/17369098162NUo6Frk/illust_family_3person.png')
      .lp-waomirai-recommend-right
        //親子
        .lp-waomirai-recommend-right-child
           .lp-waomirai-recommend-right-child-icon
              img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbwzg/1026513/1736921312EFe5ObBQ/illust_family_child.png')
           ul.lp-waomirai-recommend-right-child-text
              li.lp-waomirai-recommend-right-child-text-item 学校の勉強だけじゃものたりない
              li.lp-waomirai-recommend-right-child-text-item 好奇心がとまらない
              li.lp-waomirai-recommend-right-child-text-item 総合型選抜も見据えた学びがしたい
        .lp-waomirai-recommend-right-child
           .lp-waomirai-recommend-right-child-icon.mom
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp2/1026513/1736909815p2GIKGjy/illust_family_mom_and_papa.png')
           ul.lp-waomirai-recommend-right-child-text
              li.lp-waomirai-recommend-right-child-text-item
                |子どもももちろんだけど、
                br
                |親だって一緒に学びたい
              li.lp-waomirai-recommend-right-child-text-item 子どもと話し合えるきっかけがほしい
              li.lp-waomirai-recommend-right-child-text-item 自立した大人になってほしい
          
    .lp-waomirai-point
       p.lp-waomirai-point-left 
         |POINT!
       p.lp-waomirai-point-right
          |ワオ未来塾の授業は推奨学年はありますが、
          br.pcimage
          |大人も子どもも楽しめるコンテンツ。
          br
          |授業が終わるころには、
          br.pcimage
          |ちょっと世の中の見え方が変わってくる！

//授業の特徴
section.lp-waomirai-feature
    h2.c-title-lp 
      |授業の特長
    ul.lp-waomirai-feature-list
      li.lp-waomirai-feature-list-child 
        i.fa-solid.fa-globe
        |オンライン授業で
        br.spimage
        |全国どこからでも
        br.spimage
        |参加OK
      li.lp-waomirai-feature-list-child 
        i.fa-regular.fa-comments
        |ライブだから
        br.spimage
        |チャットで授業に
        br.spimage
        |参加できる!
      li.lp-waomirai-feature-list-child 
        .lp-waomirai-feature-list-child-icons 
          i.fa-solid.fa-laptop
        |必要なのはPCか
        br.spimage
        |タブレット端末だけ！
    .c-btn-cta-main
        +lineEntryButton('LINEで簡単申込 >')
  
//5stepで参加可能
section.lp-waomirai-howto#lp-waomirai-howto
    .lp-waomirai-howto-main
      h2.lp-waomirai-howto-main-title 
        |カンタン
        span.large|5
        |STEP
        br.spimage
        |で参加可能！
      .lp-waomirai-howto-main-img 
            img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp8/1026513/1736909816UqQkpU4o/illust_family_mom.png')

      -
          var steps = [{
            iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png',
            number: '1.',
            title: 'LINEで公式アカウントを友だち追加',
            text: `<span class="pcimage">まず、二次元コードから</span>スマートフォンで公式アカウントを友だちに追加してください。<br /><span class="spimage">・友だち追加は<a href="${UrlLineEventMarch}" target="_blank">こちら</a>から</span><span class="pcimage">・友だち追加は<a class="modal-open-liff-qr" style="cursor:pointer; text-decoration:underline;">こちら</a>から</span>・LINEが利用できない場合は<a href="${UrlFormEventMarch}" target="_blank">こちら</a>から`
          },
          {
            iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png',
            number: '2.',
            title: '友だち登録後、LINEのトーク画面に送られる申し込みフォームをタップ！'
          },
          {
            iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png',
            number: '3.',
            title: '参加したいイベントを選び、必要な情報を記入して「申込」をタップ'
          },
          {
            iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnc/1026513/1736909814efjpZrPo/icon_howto_join04.pngg',
            number: '4.',
            title: 'イベント前日にLINEメッセージでイベントURLをお送りします'
          },
          {
            iconimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png',
            number: '5.',
            title: '開催時間になったら届いたイベントURLから参加しましょう！'
          }]
      each step in steps
        .lp-waomirai-howto-main-step 
          .lp-waomirai-howto-main-step-child 
            .lp-waomirai-howto-main-step-child-icon 
              img(src=step.iconimg)
            .lp-waomirai-howto-main-step-child-text
              p.lp-waomirai-howto-main-step-child-text-title
                span.lp-waomirai-howto-main-step-child-text-title-number
                  |#{step.number}
                != step.title
              p.lp-waomirai-howto-main-step-child-text-detail
                != step.text        
    .c-btn-cta-main
      +lineEntryButton('LINEで簡単申込 >')


//ワオ未来塾って？
.lp-waomirai-about
    h2.c-title-lp 
      |ワオ未来塾って？
    .lp-waomirai-about-box 
        .lp-waomirai-about-box-left 
          img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1k/1026513/17369238821jwHk8La/logo_wao.svg')
        .lp-waomirai-about-box-right
          |全国で「能開センター」「個別指導Axis」の展開や、アニメ制作、知育アプリ「ワオっち」の配信を手がけるワオ・コーポレーションが提供する、新しい学びです。
          br
          |21世紀に入り、世界の変化はどんどん加速しています。この後10数年内には、AIによって今ある仕事の50％が取って変わられるとも予想されています。このような全く新しい未来を生きる子どもたちには、今こそ「新しい学び・学び方が必要だ」と考えました。そして、これまでにない新しい学びのカタチを提供する『ワオ未来塾』を2025年4月に開校します。
                
//ワオ未来塾の詳細
.lp-waomirai-details
        .lp-waomirai-details-catch 
          |社会で役立つ学びを、
          br.spimage
          |今はじめよう
          br
          |オンラインで
          br.spimage
          |楽しく学ぶ“新5教科”
        .lp-waomirai-details-logo 
          img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
        .lp-waomirai-details-target 
          |〈対象〉
          br.spimage
          |小学3〜6年生／
          br.spimage
          |中学生／高校生
        .lp-waomirai-details-subjects 
          .pcimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png')
          .spimage
              img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.png') 
        .lp-waomirai-details-feature 
          .lp-waomirai-details-feature-box
            .lp-waomirai-details-feature-box-title  
              .lp-waomirai-details-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              h3.lp-waomirai-details-feature-box-title-text 
                |新しい５教科
            .lp-waomirai-details-feature-box-text 
              |自己肯定感を養う「哲学」、正しく物事を見る目を育む「科学」、社会を支える仕組みを学ぶ「経済」、世界共通言語の「英語」「プログラミング」を身につけます。
          .lp-waomirai-details-feature-box
            .lp-waomirai-details-feature-box-title  
              .lp-waomirai-details-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              h3.lp-waomirai-details-feature-box-title-text 
                |飛び級制
            .lp-waomirai-details-feature-box-text 
              |授業は推奨学年を設定していますが、理解度に応じて高いレベルの授業を選ぶことができます。 そのため学年に縛られず、自由なペースで学びを深めることができます。
          .lp-waomirai-details-feature-box
            .lp-waomirai-details-feature-box-title  
              .lp-waomirai-details-feature-box-title-icon   
                img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png')
              h3.lp-waomirai-details-feature-box-title-text 
                |オンラインライブ授業
            .lp-waomirai-details-feature-box-text 
              |授業はライブ形式で行われ、チャットやリアクションボタンで積極的に授業に参加できます。自分の意見が授業で取り上げられることも！
        .lp-waomirai-details-btn
          a(href='https://waomirai.com/', target='_blank')
            .lp-waomirai-details-btn-text
              |ワオ未来塾の公式サイトへ     
            .lp-waomirai-details-btn-icn
              img(src='https://go.waomirai.com/l/1026513/2025-01-19/hc4f5/1026513/173734363862S1a4bW/icn_target.svg')    

footer 
    ul 
      li 
        a(href="https://www.wao-corp.com/", target='_blank')
          |会社概要
      li 
        a(href="https://www.wao-corp.com/kojin/", target='_blank')
        |プライバシーポリシー
      li
        a(href="https://go.waomirai.com/shotororihiki", target='_blank')
          |特定商取引に基づく表記
    .footer-logo 
      img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
    .footer-copyright
      |© ワオ・コーポレーション All rights reserved.

// PCでの申込みのモーダル
+ModalEntlyLine

// SPのCTA
.fixed-cta-button(style='display:none;')
   +lineEntryButton('無料体験イベントにお申込み')