mixin lineEntryButton(text)
  a.pcimage.modal-open-liff-qr
    | #{text}
  a.spimage(href=UrlLineEvent, target='_blank')
    | #{text}
mixin ModalCampaignEnd
  .modal
    .modal-wrapper 
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-mv
              img(src=ImgModalMvCampaignEnd)
            .modal-wrapper-content-main-head
                |ワオ未来塾の授業が体験できる
                br
                |無料体験MONTH(2/25-4/4)は
                br
                |終了しました

            .modal-wrapper-content-main-text
              |ワオ未来塾のサービス詳細/入会は
              br
              |公式サイトでご確認いただけます
            .modal-wrapper-content-main-button 
              a(href=UrlWaoServiceSite, target='_blank')
                |ワオ未来塾の公式サイトへ
  .bg-modal


mixin ModalEntlyLine
  .modal(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-close 
        .modal-wrapper-close-icon.modal-close
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-head
              .modal-wrapper-content-main-head-img
                //LINEアイコン
                img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png')
              .modal-wrapper-content-main-head-text 
                 |スマホで
                 br
                 |LINEの友だち追加
            .modal-wrapper-content-main-qr
              img(src=ImgEnrtyLiffQR) 
            .modal-wrapper-content-main-text
              |追加後に申込フォームが
              br
              |送信されます
         .modal-wrapper-content-close.modal-close 
            |閉じる
  .bg-modal(style='display:none;')

mixin courseList(subjectKey, subjectLabel)
  each course in courses[subjectKey]
    li.lp-firstweek-free-events-main-list-item
      .lp-firstweek-free-events-main-list-item-head
        p.lp-firstweek-free-events-main-list-item-head-subject(class=subjectKey)
          | #{subjectLabel}
        p.lp-firstweek-free-events-main-list-item-head-level
          = course.level
        p.lp-firstweek-free-events-main-list-item-head-recommend
          = course.recommend
      ul.lp-firstweek-free-events-main-list-item-timelist
        li.lp-firstweek-free-events-main-list-item-timelist-item 
          = course.time01
        li.lp-firstweek-free-events-main-list-item-timelist-item 
          = course.time02
      .lp-firstweek-free-events-main-list-item-image(class=subjectKey)
        img(src=course.img)
      h4.lp-firstweek-free-events-main-list-item-title01(class=subjectKey)
        = course.title01
      p.lp-firstweek-free-events-main-list-item-title02
        |［1週目］
        = course.title02
      p.lp-firstweek-free-events-main-list-item-text
        = course.text