//contents
.eng-phase-logo 
   img(src=ImgLogoWao)
.eng-phase-bg
  .eng-phase-bg-crowds1
    img(src=ImgBgCrowds)
  .eng-phase-bg-crowds2
    img(src=ImgBgCrowds)
.eng-phase-left 
  .eng-phase-left-wrap
    .eng-phase-left-wrap-logo
      img(src=ImgLogoEnglish)
    .eng-phase-left-wrap-btn
      a.js-btn-cv
        img(src=ImgBtnCv)
.eng-phase-main 
 div
   img(src='https://cdn.pixabay.com/photo/2023/08/02/18/21/yoga-8165759_1280.jpg')
 div
   img(src='https://cdn.pixabay.com/photo/2023/08/02/18/21/yoga-8165759_1280.jpg')
 div
   img(src='https://cdn.pixabay.com/photo/2023/08/02/18/21/yoga-8165759_1280.jpg')
 div
   img(src='https://cdn.pixabay.com/photo/2023/08/02/18/21/yoga-8165759_1280.jpg')
