.eng-phase-bg-blue
  //- .eng-phase-main-fv 
  //-   .eng-phase-main-fv-logo 
  //-     |ここワオのロゴ
  //-   .eng-phase-main-fv-img 
  //-     |ここにキービジュアル
  section.eng-phase-main-cv-crowds 
    .eng-phase-main-cv-crowds-img
      img(src=ImgBgCrowdsCv)
    .eng-phase-main-cv-crowds-btn
      a.js-btn-cv
        img(src=ImgBtnCv)
  section.eng-phase-main-section-blue
    img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  section.eng-phase-main-section-blue
    img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  section.eng-phase-main-cv-crowds 
    .eng-phase-main-cv-crowds-img
      img(src=ImgBgCrowdsCv)
    .eng-phase-main-cv-crowds-btn
      a.js-btn-cv
        img(src=ImgBtnCv)
  //- section.eng-phase-main-section-blue
  //-   img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  //- section.eng-phase-main-section-blue
  //-   img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  //- section.eng-phase-main-cv-crowds 
  //-   .eng-phase-main-cv-crowds-img
  //-     |雲
  //-   .eng-phase-main-cv-crowds-btn
  //-     a.js-btn-cv
  //-       img(src=ImgBtnCv)
  section.eng-phase-main-section-blue
    img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  section.eng-phase-main-section-blue
    img(src='https://www.mldsupportuk.org.uk/wp-content/uploads/2013/01/sample-img.png')
  section.eng-phase-main-cv-humans
    .eng-phase-main-cv-humans-img 
        img(src=ImgBgCvBlue)
    .eng-phase-main-cv-humans-area.eng-phase-main-cv-humans-area-blue
      .eng-phase-main-cv-humans-area-top
          .eng-phase-main-cv-humans-area-top-text 
            |楽しく学んで、たった10日間で
            br
            |英語が話せる自分に！ 
          .eng-phase-main-cv-humans-area-top-button    
            a.js-btn-cv
              img(src=ImgBtnCv)
      .eng-phase-main-cv-humans-area-bottom
//////////////////////
// グリーンエリア（ラポール〜FAQ)
//////////////////////
.eng-phase-bg-green
  div 
    img(src=ImgBgRapport)
  //レッスン担当ラポール22
  section.eng-phase-main-section-green.eng-phase-main-section-green-rapport
    .eng-phase-main-section-green-wrap
      .eng-phase-main-section-green-wrap-title
        img(src=ImgTitleRapport)
      .eng-phase-main-section-green-wrap-img
        img(src=ImgRapport)
      .eng-phase-main-section-green-wrap-text
        |日本の環境は今、大きく変化しています。かつて「グローバル」は一部のエリートに関わる言葉でした。しかし現在では日常的に外国人と接する機会が増え、ネットやSNSでは海外の情報が表示され、さらにAIの利用でも英語が有利となっています。
        b|今や「グローバル」であることが当たり前なのです。
        br
        br
        |こうした新しい世界で、日本の子どもたちは果たして楽しく働き、生活できるでしょうか？AIに仕事を奪われないための選択肢を持てるでしょうか？現状の英語教育ではそれが難しいと感じざるを得ません。残念ながら、実際に使える英語が身についていないばかりか、英語嫌いの子どもが増えているのが現状です。
        br
        br
        b|今、子どもたちに本当に必要なのは、ツールとして使える英語と、それを活かせるコミュニケーション能力です。
        br
        br
        |たった10日間？されど10日間！
        br
        |英語に熱中できる10日間です。
        br
        |このチャレンジに参加する皆さんと、先生がチームとなって、「10日間でこんなにしゃべれるようになった！」という驚きの体験を共有しましょう！
      .eng-phase-main-section-green-wrap-banner
        a(href=UrlGlobalEnglish, target='_blank')
          img(src=ImgBannerGlobalEnglish)
  //受講費用
  section.eng-phase-main-section-green.eng-phase-main-section-green-price
    .eng-phase-main-section-green-wrap
     .eng-phase-main-section-green-wrap-title
        img(src=ImgTitlePrice)
        
  //CV
  section.eng-phase-main-cv-humans
    .eng-phase-main-cv-humans-img 
        img(src=ImgBgCvGreen)
    .eng-phase-main-cv-humans-area.eng-phase-main-cv-humans-area-green
      .eng-phase-main-cv-humans-area-top
          .eng-phase-main-cv-humans-area-top-text 
            |楽しく学んで、たった10日間で
            br
            |英語が話せる自分に！ 
          .eng-phase-main-cv-humans-area-top-button    
            a.js-btn-cv
              img(src=ImgBtnCv)
      .eng-phase-main-cv-humans-area-bottom

  //かんたん5ステップ
  section.eng-phase-main-section-5steps 
      .eng-phase-main-section-5steps-title 
        img(src=ImgTitle5steps)
      //step1
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap
          .eng-phase-main-section-5steps-box-wrap-head 
            .eng-phase-main-section-5steps-box-wrap-head-step
                |STEP 
                span|1
            .eng-phase-main-section-5steps-box-wrap-head-img
                img(src=Img5Steps01)
          .eng-phase-main-section-5steps-box-wrap-title 
                |LINEで公式アカウントを
                br
                |友だち追加
          .eng-phase-main-section-5steps-box-wrap-text 
                |まず公式アカウントを友だちに追加してください。
                //- |・LINEが利用できない場合はこちらから
                br
                |・友だち追加はこちらから

      //step2
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap
          .eng-phase-main-section-5steps-box-wrap-head 
            .eng-phase-main-section-5steps-box-wrap-head-step
                |STEP 
                span|2
            .eng-phase-main-section-5steps-box-wrap-head-img
                img(src=Img5Steps02)
          .eng-phase-main-section-5steps-box-wrap-title 
                |友だち登録後、LINEのトーク
                br
                |画面に送られる申し込み
                br
                |フォームをタップ！
      
      //step3
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap
          .eng-phase-main-section-5steps-box-wrap-head 
            .eng-phase-main-section-5steps-box-wrap-head-step
                |STEP 
                span|3
            .eng-phase-main-section-5steps-box-wrap-head-img
                img(src=Img5Steps03)
          .eng-phase-main-section-5steps-box-wrap-title 
                |必要な情報を入力して
                br
                |「申込」をタップ
      //step5
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap
          .eng-phase-main-section-5steps-box-wrap-head 
            .eng-phase-main-section-5steps-box-wrap-head-step
                |STEP 
                span|4
            .eng-phase-main-section-5steps-box-wrap-head-img
                img(src=Img5Steps04)
          .eng-phase-main-section-5steps-box-wrap-title 
                |申し込みタップ後に、
                br
                |LINEで送られてくる
                br
                |「支払い」ボタンを
                br
                |タップしてお支払い！
      //step5
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap
          .eng-phase-main-section-5steps-box-wrap-head 
            .eng-phase-main-section-5steps-box-wrap-head-step
                |STEP 
                span|5
            .eng-phase-main-section-5steps-box-wrap-head-img
                img(src=Img5Steps05)
          .eng-phase-main-section-5steps-box-wrap-title 
                |[前日]
                br
                |イベント専用コミュニティ
                br
                span.small|（LINEオープンチャット）
                |に参加
          .eng-phase-main-section-5steps-box-wrap-text 
                |オンラインレッスンのお知らせや、課題の取り組み方、先生からのアドバイスはすべてこのコミュニティで共有しますので、必ず参加してください。
      //step2
      .eng-phase-main-section-5steps-box
        .eng-phase-main-section-5steps-box-wrap

          .eng-phase-main-section-5steps-box-wrap-title 
                |スタート！
          .eng-phase-main-section-5steps-box-wrap-text 
                |コミュニティの案内に従い、レッスン＆トレーニング！
                br
                br
      .eng-phase-main-section-5steps-cv 
        a.js-btn-cv
            img(src=ImgBtnCv)

//////////////////////
// waoエリア(ワオ未来塾って？〜footer)
//////////////////////
section.bg-lp-creamyellow
  //ワオ未来塾って？
  .lp-waomirai-about
        .c-title-25feb-lp 
          |ワオ未来塾って？
        .lp-waomirai-about-box 
            .lp-waomirai-about-box-left 
              img(src='https://go.waomirai.com/l/1026513/2025-01-15/hbx1k/1026513/17369238821jwHk8La/logo_wao.svg')
            .lp-waomirai-about-box-right
              |全国で「能開センター」「個別指導Axis」の展開や、アニメ制作、知育アプリ「ワオっち」の配信を手がけるワオ・コーポレーションが提供する、新しい学びです。21世紀に入り、世界の変化はどんどん加速しています。この後10数年内には、AIによって今ある仕事の50％が取って変わられるとも予想されています。このような全く新しい未来を生きる子どもたちには、今こそ「新しい学び・学び方が必要だ」と考えました。そして、これまでにない新しい学びのカタチを提供する『ワオ未来塾』を2025年4月に開校します。

                
  //2025年4月開講
  .lp-waomirai-start2025
        .lp-waomirai-start2025-catch 
          |社会で役立つ学びを
          br
          |今はじめよう
          br
          |オンラインで
          br
          |楽しく学ぶ“新5教科”
        //- .lp-waomirai-start2025-subtitle 
        //-   |2025年4月開校！
        .lp-waomirai-start2025-logo 
          img(src=ImgLogoWaoMirai)
        .lp-waomirai-start2025-target 
          |〈対象〉
          br
          |小学3〜6年生／
          br
          |中学生／高校生
        .lp-waomirai-start2025-subjects 
              img(src=Img5SubjectsSp) 
        .lp-waomirai-start2025-feature 
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src=ImgIconSubject)
              .lp-waomirai-start2025-feature-box-title-text 
                |新しい５教科
            .lp-waomirai-start2025-feature-box-text 
              |自己肯定感を養う「哲学」、正しく物事を見る目を育む「科学」、社会を支える仕組みを学ぶ「経済」、世界共通言語の「英語」「プログラミング」を身につけます。
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src=ImgIconSubject)
              .lp-waomirai-start2025-feature-box-title-text 
                |飛び級制
            .lp-waomirai-start2025-feature-box-text 
              |授業は推奨学年を設定していますが、理解度に応じて高いレベルの授業を選ぶことができます。 そのため学年に縛られず、自由なペースで学びを深めることができます。
          .lp-waomirai-start2025-feature-box
            .lp-waomirai-start2025-feature-box-title  
              .lp-waomirai-start2025-feature-box-title-icon   
                img(src=ImgIconSubject)
              .lp-waomirai-start2025-feature-box-title-text 
                |オンラインライブ授業
            .lp-waomirai-start2025-feature-box-text 
              |授業はライブ形式で行われ、チャットやリアクションボタンで積極的に授業に参加できます。自分の意見が授業で取り上げられることも！
        .lp-waomirai-start2025-btn
          a(href='https://waomirai.com/', target='_blank')
            .lp-waomirai-start2025-btn-text
              |ワオ未来塾の公式サイトへ     
            .lp-waomirai-start2025-btn-icn
              img(src=ImgIconBlank)    

  footer 
      ul 
        li 
          a(href="https://www.wao-corp.com/", target='_blank')
            |会社概要
        li 
          a(href="https://www.wao-corp.com/kojin/", target='_blank')
            |プライバシーポリシー
        li
          a(href="https://go.waomirai.com/shotororihiki", target='_blank')
            |特定商取引に基づく表記
      .footer-logo 
          img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
      .footer-copyright
         |© ワオ・コーポレーション All rights reserved.
