mixin modal-vimeo
    .modal-vimeo(style='display:none;')
        .modal-vimeo-content.
            <iframe id="vimeoPlayer" src="https://player.vimeo.com/video/930561537?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                    frameborder="0" 
                    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    id="vimeoPlayer"
                    title="3分でわかる！新感覚英会話レッスン ワオ未来塾 グローバル英語">
            </iframe>
        .modal-vimeo-close.modal-close 
             |閉じる
mixin modal
    .modal(style='display:none;')
        .modal-wrapper 
            .modal-wrapper-close 
                .modal-wrapper-close-icon.modal-close
            .modal-wrapper-content
                .modal-wrapper-content-main
                    .modal-wrapper-content-main-head
                        .modal-wrapper-content-main-head-img
                            //LINEアイコン
                            img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png')
                        .modal-wrapper-content-main-head-text 
                            |スマホで
                            br
                            |LINEの友だち追加
                    .modal-wrapper-content-main-qr
                        img(src=QRLine100Phases)
                    .modal-wrapper-content-main-text
                        |追加後に申込フォームが
                        br
                        |送信されます
            .modal-wrapper-content-close.modal-close 
                |閉じる
    .bg-modal(style='display:none;')