div.testcase(style='position:fixed; z-index:100; top:0; left:0; display:none;')
    // テスト用の日時入力フィールド
    input#testDate(type="text", placeholder="2024-10-01 16:59")
    // テスト実行ボタン
    button#testButton テスト実行
.modal.modal-level-select(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    //- .modal-wrapper-head.level-1
    //-    | 【LEVEL 1】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text-select
            |レッスンは２つのレベルから
            br
            |お選びいただけます。
            br
            |どちらのレベルで受講しますか？
        .modal-level-select
          a(href="https://lms.waomirai.com/course/view.php?id=130",target='_blank') 
            img(src='https://go.waomirai.com/l/1026513/2024-09-05/h2rdx/1026513/1725523683qZzDSua4/button_level_1.png')
          a(href="https://lms.waomirai.com/enrol/index.php?id=138",target='_blank') 
            img(src='https://go.waomirai.com/l/1026513/2024-09-05/h2rf1/1026513/1725523686ro5BJGyc/button_level_2.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる

.modal.modal-level1-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkk/1026513/1728617204gyEuDcdu/Calendar11_L1_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level1-saturday(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】土曜コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkr/1026513/1728617205b6H3fy8R/Calendar11_L1_saturday.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level2-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-2
       | 【LEVEL 2】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkn/1026513/1728617204iGAQ4EbI/Calendar11_L2_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる


.bg-modal(style='display:none;')

style.
    .fv-scroll img{
    transition: opacity 0.5s ease-in-out; /* 0.5秒かけて変化 */
    opacity: 1; /* 初期値 */
    }


script.
  $(function() {
    var flag = false,
        scroll = $('.fv-scroll img');
    
    // 初期値で opacity を 1 に設定
    scroll.css('opacity', 1);

    $(window).on('scroll', function() {
      if ($(this).scrollTop() > 250) {
        if (!flag) {
          flag = true;
          // fadeOut の代わりに opacity を 0 に
          scroll.css('opacity', 0);
        }
      } else {
        if (flag) {
          flag = false;
          // fadeIn の代わりに opacity を 1 に
          scroll.css('opacity', 1);
        }
      }
    });
  });

script. 
    //ModalOpenの関数
    //- function modalopen() {
    //- $('.modal,.bg-modal').show();
    //- }
    //ModalOpen

    //- $('.form-link').click(function() {
    //-     $('.modal-level-select').show();
    //-     $('.bg-modal').show();
    //- });

    $('.button-level1-weekdays').click(function() {
        $('.modal-level1-weekdays').show();
        $('.bg-modal').show();
    });
    $('.button-level1-saturday').click(function() {
        $('.modal-level1-saturday').show();
        $('.bg-modal').show();
    });
    $('.button-level2-weekdays').click(function() {
        $('.modal-level2-weekdays').show();
        $('.bg-modal').show();
    });
    $('.modal-close').click(function() {
        $('.modal,.bg-modal').hide();
        $('.bg-modal').hide();
    });
script.
//-   function changeDateTimeForBlocks(simulatedDate = null) {
//-       const blocks = [
//-           {
//-               selector: '.block-level1-weekdays',
//-               lessons: [
//-                   { date: new Date(2024, 10, 5, 17, 30), month: '11', day: '5', week: '火', hourRange: '17:00~' },
//-                   { date: new Date(2024, 10, 7, 17, 0), month: '11', day: '7', week: '木', hourRange: '17:00~' },
//-                   { date: new Date(2024, 10, 12, 17, 0), month: '11', day: '12', week: '木', hourRange: '17:00~' },
//-                   { date: new Date(2024, 10, 14, 17, 0), month: '11', day: '14', week: '木', hourRange: '17:00~' },
//-                   { date: new Date(2024, 10, 19, 17, 0), month: '11', day: '19', week: '木', hourRange: '17:00~' },
//-                   { date: new Date(2024, 10, 21, 17, 0), month: '11', day: '21', week: '木', hourRange: '17:00~' }
//-               ]
//-           },
//-           {
//-               selector: '.block-level1-saturday',
//-               lessons: [
//-                   { date: new Date(2024, 10, 2, 18, 30), month: '11', day: '2', week: '土', hourRange: '17:30~' },
//-                   { date: new Date(2024, 10, 9, 18, 30), month: '11', day: '9', week: '土', hourRange: '17:30~' },
//-                   { date: new Date(2024, 10, 16, 18, 30), month: '11', day: '16', week: '土', hourRange: '17:30~' }
//-               ]
//-           },
//-           {
//-               selector: '.block-level2-weekdays',
//-               lessons: [
//-                   { date: new Date(2024, 10, 5, 18, 5), month: '11', day: '5', week: '火', hourRange: '17:40~' },
//-                   { date: new Date(2024, 10, 7, 18, 5), month: '11', day: '7', week: '木', hourRange: '17:40~' },
//-                   { date: new Date(2024, 10, 12, 17, 0), month: '11', day: '12', week: '火', hourRange: '17:40~' },
//-                   { date: new Date(2024, 10, 14, 17, 0), month: '11', day: '14', week: '木', hourRange: '17:40~' },
//-                   { date: new Date(2024, 10, 19, 17, 0), month: '11', day: '19', week: '火', hourRange: '17:40~' },
//-                   { date: new Date(2024, 10, 21, 17, 0), month: '11', day: '21', week: '木', hourRange: '17:40~' }
//-               ]
//-           }
//-       ];

//-       // 現在の日時（もしくはテスト用の日時）
//-       const currentDate = simulatedDate || new Date();
//-       let newCvText = '';
//-       let newCvMainText = '';

//-       // ブロックごとにレッスンをチェック
//-       blocks.forEach(block => {
//-           const { selector, lessons } = block;
//-           let allLessonsFinished = true; // 全レッスンが終了しているかのフラグ
//-           let nextLesson = null; // 次のレッスン情報

//-           // レッスンをチェック
//-           for (let lesson of lessons) {
//-               if (currentDate < lesson.date) {
//-                   nextLesson = lesson;  // 次のレッスンを記録
//-                   allLessonsFinished = false; // まだ終了していないレッスンがある
//-                   break;
//-               }
//-           }

//-           // 特定のブロックの処理
//-           if (selector === '.block-level1-saturday') {
//-               if (allLessonsFinished) {
//-                   // すべてのレッスンが終了している場合
//-                   $(`${selector}`).hide(); // ブロックを非表示にする
//-                   $(`${selector} .finished-lessons-message`).show(); // 終了メッセージを表示
//-               } else if (nextLesson) {
//-                   // 次回レッスン情報を表示
//-                   $(`${selector} .next-lesson-day`).text(nextLesson.day);
//-                   $(`${selector} .next-lesson-month`).text(nextLesson.month);
//-                   $(`${selector} .next-lesson-week`).text(nextLesson.week);
//-                   $(`${selector} .next-lesson-hour-range`).text(nextLesson.hourRange);
//-               } else {
//-                   // 次回レッスンがない場合は非表示
//-                   $(`${selector}`).hide();
//-               }
//-           } else {
//-               // 他のブロックの処理
//-               if (nextLesson) {
//-                   // 次回レッスン情報を表示
//-                   $(`${selector} .next-lesson-day`).text(nextLesson.day);
//-                   $(`${selector} .next-lesson-month`).text(nextLesson.month);
//-                   $(`${selector} .next-lesson-week`).text(nextLesson.week);
//-                   $(`${selector} .next-lesson-hour-range`).text(nextLesson.hourRange);
//-               } else {
//-                   // 次回レッスンがない場合は非表示
//-                   $(`${selector}`).hide();
//-               }
//-           }
//-       });

//-       // CV文言を決定
//-       if (currentDate >= new Date(2024, 9, 0, 0, 0) && currentDate <= new Date(2024, 9, 31, 23, 59)) {
//-           newCvText = '10/31までに申し込むと11月中は無料';
//-           newCvMainText = '10/31までに申し込むと<br class="spimage">11月中は<br class="pcimage">オンラインレッスンが<br class="spimage">受け放題';
//-       } else if (currentDate >= new Date(2024, 10, 1, 0, 0) && currentDate <= new Date(2024, 10, 9, 23, 59)) {
//-           newCvText = '11/10までに申し込むと今月中は無料';
//-           newCvMainText = '11/10までに申し込むと<br class="spimage">今月中は<br class="pcimage">オンラインレッスンが<br class="spimage">受け放題';
//-       } else if (currentDate >= new Date(2024, 10, 10, 0, 0) && currentDate <= new Date(2024, 10, 14, 23, 59)) {
//-           newCvText = '11/15までに申し込むと今月中は無料';
//-           newCvMainText = '11/15までに申し込むと今月中は<br>オンラインレッスンが受け放題';
//-       } else if (currentDate >= new Date(2024, 10, 15, 0, 0)) {
//-           newCvText = '11月中のすべてのオンラインレッスンを<br>アーカイブで見放題！';
//-           newCvMainText = '11月中のオンラインレッスンを<br>アーカイブで見放題！';
//-           $('.cv-limit-text').css({
//-               'transform': 'scale(0.9)',
//-               'top': '-24px',
//-               'width': '260px',
//-               'padding': '3px 13px',
//-               'line-height': '1.4'
//-           });
//-       }

//-       // CV文言を更新
//-       $('.cv-limit-text').html(newCvText);
//-       $('.lp-cv-title-text').html(newCvMainText);
  }

  // jQuery の準備
  $(document).ready(function() {
      const urlParams = new URLSearchParams(window.location.search);
      const isTestCase = urlParams.has('via') && urlParams.get('via') === 'testcase';

      // テストケース表示
      if (isTestCase) {
          $('div.testcase').show();
      }

      // 初期表示の際に現在日時でレッスン情報を表示
      changeDateTimeForBlocks();

      // テスト実行ボタンが押された際の処理
      $('#testButton').on('click', function() {
          const testDateInput = $('#testDate').val();

          // 日時フォーマットの検証
          const dateTimePattern = /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$/;
          if (!testDateInput || !dateTimePattern.test(testDateInput)) {
              alert('正しい日時を入力してください（例: 2024-10-01 16:59）');
              return;
          }

          // テスト日時のパース
          const [datePart, timePart] = testDateInput.split(' ');
          const [year, month, day] = datePart.split('-').map(Number);
          const [hour, minute] = timePart.split(':').map(Number);

          // テスト用の日時で関数を実行
          const testDate = new Date(year, month - 1, day, hour, minute);
          changeDateTimeForBlocks(testDate);
      });
  });


script.
      $(function () {
              var pagetop = $('.fixed-button'); // 要素のキャッシュ
              $(window).on('scroll', function () {
                  if ($(this).scrollTop() > 250) {
                    pagetop.fadeIn();
                  } else {
                    pagetop.fadeOut();
                  }
              });
            });
script.
  $(function () {            
    $(".section-el-second-content-process").on("scroll", function () {
      if ($(this).scrollLeft() > 50) {
        $(".lp-section-scroll img").fadeOut();
      } else {
        $(".lp-section-scroll img").fadeIn();
      }
    });
      });

