doctype html
// 変数定義
include _variables
html
  head
    meta(charset="utf-8")
    //- Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    //- End Google Tag Manager
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content="https://waomirai.com/lp/assets/commonimages/ogp.png")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel="stylesheet")
    - const cssBase = loycus ? '../../../css/' : '../../css/'
    - const cssLocal = loycus ? '../' : ''
    link(href=`${cssBase}23-english-lp-100phases-2026spring.css?v=${Date.now()}`, rel="stylesheet")
    link(href=`${cssLocal}23-english-lp-100phases-2026spring.css?v=${Date.now()}`, rel="stylesheet")
    title #{MetaTitle}
    script(src="https://code.jquery.com/jquery-4.0.0.js", integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=", crossorigin="anonymous")
    script(src="https://waomirai.com/lp/assets/commonjs/qrcode.min.js")
    script(src="https://waomirai.com/lp/assets/commonjs/jquery.inview.min.js")
    //vimeo API
    script(src="https://player.vimeo.com/api/player.js")
  // コンテンツをインクルード
  body#eng-phase
    include _content.pug
    // JavaScriptをインクルード
    include _js.pug
