//- 変数定義
include _variables

//- ミックスイン
include _mixins

.l-annoncement-overlay 
  .l-annoncement-overlay-title
    |COMING 
    br.spimage
    |SOON
  .l-annoncement-overlay-text
    |受付申し込みは準備中です。
    br
    |9月29日（月）12:00
    br.spimage
    |事前受付開始予定

.l-pc-logo-header.pcimage
  .l-pc-logo-header-waomirai
    img(src=ImgLogoWaoMirai)
  .l-pc-logo-header-techseeker
    img(src=ImgLogoTechseeker alt="TechSeeker")

.l-pc-logo-main.pcimage
  
  .l-pc-logo-main-img 
    img(src=ImgLogoSolarpower)

.l-pc-bg-solarpower.pcimage
  .l-pc-bg-solarpower-crowds 
     .l-pc-bg-solarpower-crowds-01 
       img(src=ImgPcbgBlueParts01)
     .l-pc-bg-solarpower-crowds-02
       img(src=ImgPcbgBlueParts01)
  .l-pc-bg-solarpower-ground
   .l-pc-bg-solarpower-ground-img
    //- .l-pc-bg-solarpower-ground-img-01
    //-   img(src=ImgPcbgGreenParts01)
    //- .l-pc-bg-solarpower-ground-img-02
    //-   img(src=ImgPcbgGreenParts02)
    //- .l-pc-bg-solarpower-ground-img-03
    //-   img(src=ImgPcbgGreenParts03)
   .l-pc-bg-solarpower-ground-bg
     img(src=ImgBgPcGreen)
.l-pc-bg-halloween(style='display:none;') 

.l-main
  include _content-main.pug

//- .l-btn-cv
//-   a.c-btn-cv.js-line-trigger(href=UrlLine)
//-     |LINEで簡単申込
+modal

