.fv 
  .fv-top
    img(src=ImgFv, alt="")
  .fv-main
      .fv-main-logo
         img(src=ImgFvLogo, alt="")
      .fv-info
        img(src=ImgFvInfo, alt="") 
      .fv-main-sakura
        img(src=ImgFvSakura, alt="")
  .fv-target
        img(src=ImgFvTarget , alt="") 
  .fv-btn 
    +btn-cta
//intro
section.intro#content01
  .intro-head.inview-triger.inview-hide
    img(src=ImgIntro01, alt="")
  .intro-subject.inview-triger.inview-hide
   .intro-subject-img
     img(src=ImgIntro02, alt="")
   .intro-subject-text
     |身のまわりの不思議を入り口に、「どうしてこうなるのか？」を考えていきます。知識に頼るだけでなく、自分なりに確かめる姿勢を育てます。
  .intro-subject.inview-triger.inview-hide
   .intro-subject-img
     img(src=ImgIntro03, alt="")
   .intro-subject-text
     |お金の話を入り口に、社会がどんなルールで動いているのかを考えていきます。
     br
     |日常の選択と社会のつながりに気づくことで、世界の見え方が少し変わります。
  .intro-subject.inview-triger.inview-hide
   .intro-subject-img
     img(src=ImgIntro04, alt="")
   .intro-subject-text
     |自己紹介を通じて、自分のいい所を探ってみる、深掘る、それを言語化します。
     br
     |「自分を知る」体験が、その後の学びを考えるヒントになっていきます。
  .intro-flow.inview-triger.inview-hide
    img(src=ImgIntro05, alt="")
  .intro-flow-subject 
    .intro-flow-subject-list.inview-triger
     .intro-flow-subject-list-arrow
       img(src=ImgIntroFlowArrow)
     .intro-flow-subject-list-img
       img(src=ImgIntroFlow01)
    .intro-flow-subject-list.inview-triger
      .intro-flow-subject-list-arrow
         img(src=ImgIntroFlowArrow)
      .intro-flow-subject-list-img
        img(src=ImgIntroFlow02)
    .intro-flow-subject-list.inview-triger
      img(src=ImgIntroFlow03)
  .intro-flow.inview-triger.inview-hide
    img(src=ImgIntro06, alt="")
  div
    img(src=ImgIntro07, alt="")
  .intro-flow-think
    .intro-flow-think-text.inview-triger.inview-hide
       img(src=ImgIntro08text, alt="")
    div
      img(src=ImgIntro08, alt="")
  .intro-think
    .intro-think-illust 
       img(src=ImgIntroChild, alt="")
    .intro-think-loop 
         .inview-triger.scalein
          img(src=ImgSlideIntro01, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro02, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro03, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro04, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro01, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro02, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro03, alt="")
         .inview-triger.scalein
          img(src=ImgSlideIntro04, alt="")
//こんなお子様におすすめ
section.recommend#content02
   .title 
     img(src=ImgTitle01)
   .img-recommend 
    img(src=ImgRecommend)

//プログラムの流れ
section.flow#content03
   .title 
     img(src=ImgTitle02)
   .img-flow 
    img(src=ImgTable)

//プログラムの流れ
section.mission#content04
   .title 
     img(src=ImgTitle03)
   //科学
   .mission-content#mission-content-science
    .mission-content-thumnail
        img.inview-triger.slidein(src=ImgMissionScience)
    .mission-content-main 
      .inview-triger.slidein
        .mission-content-main-date
            .mission-content-main-date-icn  
                img(src=ImgClock)
            .mission-content-main-date-text 
            |3/25(水) 19:30~20:15      
        .mission-content-main-description
            |花粉症をテーマに、体の中にある「免疫」という超最強の防衛システムを探究！
            br
            br
            |生物の基本から最新技術までを学び、知識だけでなく「どう考えて守るか」を体験的に身につけます。
    .mission-content-teacher 
        img.inview-triger.slidein(src=ImgTeacherScience)
   //経済
   .mission-content#mission-content-economy
    .mission-content-thumnail
        img.inview-triger.slidein-reverse(src=ImgMissionEconomy)
    .mission-content-main
      .inview-triger.slidein-reverse
        .mission-content-main-date
            .mission-content-main-date-icn  
                img(src=ImgClock)
            .mission-content-main-date-text 
            |3/26(木) 19:30~20:15      
        .mission-content-main-description
            |「1000円で何を選ぶ？」を入り口に、値段はどう決まるのか、本当の価値とは何かを探究。
            br
            br
            |高い＝良いではない理由を考えながら、身近なお金のしくみを楽しく学びます。
    .mission-content-teacher 
        img.inview-triger.slidein-reverse(src=ImgTeacherEconomy)
   //哲学
   .mission-content#mission-content-philosophy
    .mission-content-thumnail
        img.inview-triger.slidein(src=ImgMissionPhilosophy)
    .mission-content-main 
      .inview-triger.slidein
        .mission-content-main-date
            .mission-content-main-date-icn  
                img(src=ImgClock)
            .mission-content-main-date-text 
            |3/27(金) 19:30~20:15      
        .mission-content-main-description
            |新学期に役立つ「印象に残る自己紹介」に挑戦！
            br
            br
            |問いを通して自分の好きや考えを深掘りし、なぜそう思うのかを言葉に。考える力と伝える力を同時に育てます。
    .mission-content-teacher
        img.inview-triger.slidein(src=ImgTeacherPhilosophy)
//section-cta
+section-cta

//楽しく学べる3つのポイント
section.three-features#content05
   .title 
     img(src=ImgTitle04)
   .three-features-wrapper
    .three-features-block
        .three-features-content
            .three-features-content-image
                img.inview-triger.scalein(src=ImgPoint01)
            .three-features-content-subtitle 
                    |POINT 1
            .three-features-content-maintitle
                |ライブだから
                br
                |楽しく参加できる
                br
                |オンライン授業
            .three-features-content-text 
                |授業は生配信形式で行われ、チャットで積極的に授業に参加できます。
    .three-features-block
        .three-features-content
            .three-features-content-image
                img.inview-triger.scalein(src=ImgPoint02)
            .three-features-content-subtitle 
                    |POINT 2
            .three-features-content-maintitle
                |ワークシートで
                br
                |キミの考えを
                br
                |カタチにしよう
            .three-features-content-text 
                |授業内でのクイズ（問い）をワークシートに書いて提出しよう。
                br
                |あなたの考えを先生がピックアップして、表彰式で紹介することがあります
    .three-features-block
        .three-features-content
            .three-features-content-image
                img.inview-triger.scalein(src=ImgPoint03)
            .three-features-content-subtitle 
                    |POINT 3
            .three-features-content-maintitle
                 .three-features-content-maintitle-flex 
                   .three-features-content-maintitle-flex-icon
                         img(src=ImgIcnLineMini)
                   .three-features-content-maintitle-text 
                     |LINEの
                 .three-features-content-maintitle-normal 
                   |オープンチャットで
                   br
                   |仲間と楽しく学べる
            .three-features-content-text 
                |ラインを使った匿名で参加できるコミュニティです。普段お使いのアカウントが紐づくことはございませんのでご安心ください

//料金
section.price#content06
   .simple-title
     .simple-title-main 
        img(src=ImgTitle05)
     .simple-title-bg 
       img(src=ImgBgTitleSakura)
   .price-content
     img(src=ImgPrice)
section.join-5steps#content07
   .simple-title
     .simple-title-main 
        img(src=ImgTitle06)
     .simple-title-bg 
       img(src=ImgBgTitleSakura)
   //step1
   .join-5steps-box
                .join-5steps-box-head 
                  .join-5steps-box-head-step
                      |STEP 
                      span|1
                  .join-5steps-box-head-img
                      img(src=ImgIcnStep01)
                .join-5steps-box-title 
                      |LINEで公式アカウントを
                      br
                      |友だち追加
                .join-5steps-box-text 
                      span.spimage|まず公式アカウントを友だちに追加してください。
                      span.pcimage|まず、二次元コードからスマートフォンで公式アカウントを友だちに追加してください。
                      //- |・LINEが利用できない場合はこちらから
                      |・友だち追加は
                      +conditionalLink
                        |こちら
                      |から
   //step2
   .join-5steps-box
                .join-5steps-box-head 
                  .join-5steps-box-head-step
                      |STEP 
                      span|2
                  .join-5steps-box-head-img
                       img(src=ImgIcnStep02)
                .join-5steps-box-title 
                      |友だち登録後、LINEのトーク
                      br
                      |画面に送られる申し込み
                      br
                      |フォームをタップ！         
   //step3
   .join-5steps-box
                .join-5steps-box-head 
                  .join-5steps-box-head-step
                      |STEP 
                      span|3
                  .join-5steps-box-head-img
                       img(src=ImgIcnStep03)
                .join-5steps-box-title 
                  |必要な情報を入力して
                  br
                  |「申込」をタップ
   //step4
   .join-5steps-box
                .join-5steps-box-head 
                  .join-5steps-box-head-step
                      |STEP 
                      span|4
                  .join-5steps-box-head-img.step4
                     img(src=ImgIcnStep04)
                .join-5steps-box-title 
                      |申し込みタップ後に、
                      br
                      |LINEで送られてくる
                      br
                      |「支払い」ボタンを
                      br
                      |タップしてお支払い！
   //step5
   .join-5steps-box
                .join-5steps-box-head 
                  .join-5steps-box-head-step
                      |STEP 
                      span|5
                  .join-5steps-box-head-img
                     img(src=ImgIcnStep05)
                .join-5steps-box-title 
                      |[前日]
                      br
                      |イベント専用コミュニティ
                      br
                      |（LINEオープンチャット）に参加！
                .join-5steps-box-text 
                  |オンラインレッスンのお知らせや、課題の取り組み方、先生からのアドバイスはすべてこのコミュニティで共有しますので、必ず参加してください。
//よくある質問
section.faq#content07 
   .simple-title
     .simple-title-main 
        img(src=ImgTitle07)
     .simple-title-bg 
       img(src=ImgBgTitleSakura)
   .faq-box
      .faq-box-title
        .faq-box-title-text オンライン授業で子どもの顔が出ることはありますか？
        .faq-box-title-icon|+
      .faq-box-content
            |授業の双方向性を高めるため、原則としてカメラはONにしてご参加をお願いしています。事情により難しい場合はOFFで参加しても構いません。
            br
            |チャットや質問への回答を通して授業にご参加いただきます。
            br
            |（Zoomを使用して実施します）
            br
            |※受講者の映像は講師のみに表示され、他の受講者には表示されません。
   .faq-box
      .faq-box-title
        .faq-box-title-text 一部日程参加できないのですが
        .faq-box-title-icon|+
      .faq-box-content
        |アーカイブを残してあるので、後日視聴頂けます。
        br
        |※なるべくリアルタイムの参加を推奨しております。
   .faq-box
      .faq-box-title
        .faq-box-title-text 子ども同士がLINEのオープンチャットで繋がることに不安があります。
        .faq-box-title-icon|+
      .faq-box-content
        |ワオ未来塾のオープンチャットは、運営が定期的に見守り、不適切な投稿やトラブルの兆しがあれば注意・投稿削除・必要に応じて退出対応などを行います。
        br
        |また、安心して参加できるよう 個人情報のやり取り（本名・住所・連絡先・SNSなど）は禁止しています。

//section-cta
+section-cta

//ワオ未来塾って？
.bg-white
    section.about-wao#content08
                .about-wao-title
                    |ワオ未来塾って？
                .about-wao-img
                    img(src=ImgLogoWao)
                .about-wao-text
                    |全国で能開センターや個別指導Axisを展開、知育アプリ『ワオっち！』も手がける株式会社ワオ・コーポレーションがお送りする新しい学びの場「ワオ未来塾」。
                    br
                    br
                    |21世紀に入ってから、テクノロジーやAIの進化により世界・社会は大きな変化を遂げようとしています。この変化の時代を生きる子どもたちには、柔軟な思考力と判断力、どんな状況にも揺るがない“自分の軸”が求められていきます。
                    br
                    br
                    |半世紀にわたり子どもたちの教育に携わってきた当社は、こうした考えのもと、社会で活躍できる力を育む新しい学びの場、「ワオ未来塾」を開校いたします。
    //授業の特徴
    section.about-feature
            .about-feature-title
                |授業の特長
            .about-feature-point
                i.fa-solid.fa-earth-americas
                .about-feature-point-text
                    |オンライン授業で
                    br
                    |全国どこからでも参加OK
            .about-feature-point
                i.fa-regular.fa-comments
                .about-feature-point-text
                    |ライブだからチャットで
                    br
                    |授業に参加できる!
            .about-feature-point
                i.fa-solid.fa-laptop
                .about-feature-point-text
                    |必要なのは
                    br
                    |PCかタブレットだけ！                 
    //ワオ未来塾
    section.about-school
            .about-school-catch 
                |社会で役立つ学びを、オンラインで今始めよう
            .about-school-logo 
                img(src='https://waomirai.com/lp/assets/commonimages/logo.svg')
            .about-school-target 
                |〈対象〉小学3〜6年生／中学生／高校生
            .about-school-4subjects
                img(src=Img4subjects)
            .about-school-feature 
                .about-school-feature-box
                    .about-school-feature-box-title  
                        .about-school-feature-box-title-icon   
                            img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icn_subject.png')
                        .about-school-feature-box-title-text 
                            |新しい学び
                    .about-school-feature-box-text 
                        |これから必要になる自己肯定感を養う「哲学」、正しく物事を見る目を育む「科学」、社会を支える仕組みを学ぶ「経済」、世界共通言語の「英語」を身につけます。
                .about-school-feature-box
                    .about-school-feature-box-title  
                        .about-school-feature-box-title-icon   
                            img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icn_subject.png')
                        .about-school-feature-box-title-text 
                            |飛び級制
                    .about-school-feature-box-text 
                        |授業は推奨学年を設定していますが、理解度に応じて高いレベルの授業を選ぶことができます。 そのため学年に縛られず、自由なペースで学びを深めることができます。
                .about-school-feature-box
                    .about-school-feature-box-title  
                        .about-school-feature-box-title-icon   
                            img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icn_subject.png')
                        .about-school-feature-box-title-text 
                            |オンラインライブ授業
                    .about-school-feature-box-text 
                        |授業はライブ形式で行われ、チャットやリアクションボタンで積極的に授業に参加できます。自分の意見が授業で取り上げられることも！
            .about-school-btn
                a(href='https://waomirai.com/', target='_blank')
                    .about-school-btn-text 
                         |ワオ未来塾の公式サイトへ     
                    .about-school-btn-icn 
                     img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icn_target.svg')    

//footer
footer 
          ul 
            li 
              a(href="https://www.wao-corp.com/", target='_blank')
                |会社概要
            li 
              a(href="https://www.wao-corp.com/kojin/", target='_blank')
                |プライバシーポリシー
            li
              a(href="https://waomirai.com/commerce_law/", target='_blank')
                |特定商取引に基づく表記
          .footer-logo 
            img(src='https://waomirai.com/lp/assets/commonimages/logo_white.svg')
          .footer-copyright
            |© ワオ・コーポレーション All rights reserved.