.fv 
  .fv-img
    img(src=ImgFv, alt="")
  .fv-btn 
    +btn-cta
section.intro 
  .intro-head
    img(src=ImgIntro01, alt="")
  .intro-subject
   .intro-subject-img
     img(src=ImgIntro02, alt="")
   .intro-subject-text
     |身のまわりの不思議を入り口に、「どうしてこうなるのか？」を考えていきます。知識に頼るだけでなく、自分なりに確かめる姿勢を育てます。
  .intro-subject
   .intro-subject-img
     img(src=ImgIntro03, alt="")
   .intro-subject-text
     |お金の話を入り口に、社会がどんなルールで動いているのかを考えていきます。
     br
     |日常の選択と社会のつながりに気づくことで、世界の見え方が少し変わります。
  .intro-subject
   .intro-subject-img
     img(src=ImgIntro04, alt="")
   .intro-subject-text
     |自己紹介を通じて、自分のいい所を探ってみる、深掘る、それを言語化します。
     br
     |「自分を知る」体験が、その後の学びを考えるヒントになっていきます。
  .intro-flow
    img(src=ImgIntro05, alt="")
  .intro-think
    .intro-think-illust 
       img(src=ImgIntro06, alt="")
    .intro-think-loop 
         div 
          img(src=ImgSlideIntro01, alt="")
         div 
          img(src=ImgSlideIntro02, alt="")
         div 
          img(src=ImgSlideIntro03, alt="")
         div 
          img(src=ImgSlideIntro04, alt="")
         div 
          img(src=ImgSlideIntro01, alt="")
         div 
          img(src=ImgSlideIntro02, alt="")
         div 
          img(src=ImgSlideIntro03, alt="")
         div 
          img(src=ImgSlideIntro04, alt="")