
//- 条件付きリンクを生成するmixin
//- loycus変数の値によって、通常のリンク or LIFFフォームへのリンクを切り替える
//- @param {string} baseClass - リンクに適用する基本CSSクラス名
mixin conditionalLink(baseClass)
  a(
    class=baseClass + (loycus ? '' : ' js-line-trigger')
    href=loycus ? UrlLiffForm : false
    target=loycus ? '_blank' : false
  )
    block

//- 固定フッターボタンのmixin
//- ページ下部に固定表示される申込ボタンとページトップへ戻るボタン
mixin fixed-btn
 .fixed-btn-wrapper
  .fixed-btn-container(style='display:none;')
    +conditionalLink('fixed-cta')
      .fixed-cta-btn
        img(src=ImgTextCta)
    .btn-modalmenu
        img(src=ImgMenu)


//- CTA（Call To Action）ボタンのmixin
//- メインの申込ボタンとして使用
mixin btn-cta 
  +conditionalLink('btn-cta')
    img(src=ImgTextCta)

mixin btn-cta-big
  +conditionalLink('btn-cta')
    .btn-cta-speech
       img(src=ImgSpeechCta)
    .btn-cta-button
      img(src=ImgTextCtaBig)

mixin section-cta
  //CTA
  section.cta.inview-triger.inview-hide
      .cta-loop 
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
      .cta-bg 
        img(src=ImgCta, alt="")
      .cta-content
        .cta-content-text 
          |春休みの5日間で
          br
          |考える楽しさを発見しよう！
        +btn-cta-big

//- モーダルウィンドウのmixin
//- 2種類のモーダルとオーバーレイ背景を含む
mixin entry-modal
  .modal#modal-alreadyfriend(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-close
          .modal-wrapper-close-icon.modal-close
      .modal-wrapper-content   
         .modal-wrapper-content-title-alreadyfriend
            .modal-wrapper-content-title-alreadyfriend-top
                div|すでに
                div|ワオ未来塾公式LINEを
            .modal-wrapper-content-title-alreadyfriend-bottom
                |友だち追加している方へ
         .modal-wrapper-content-main

            .modal-wrapper-content-main-text-alreadyfriend
              |イベントの申し込み案内が
              br
              |自動で届かない場合がございます。
              br
              |その場合は下記手順で申込ください。
            .modal-wrapper-content-main-image-alreadyfriend
              img(src=ImgModalEvent)
            .modal-wrapper-content-main-btn-alreadyfriend
                a(href=UrlEndpointAddFriend, target='_blank')
                  |OKです(イベント申込へ)
  .modal#modal-pc-liff(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-head
              .modal-wrapper-content-main-head-img
                img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icon_howto_join01.png')
              .modal-wrapper-content-main-head-text 
                 |スマホで
                 br
                 |LINEの友だち追加
            .modal-wrapper-content-main-qr#liffqr
              
            .modal-wrapper-content-main-text
                        |追加後に申込フォームが
                        br
                        |送信されます
         .modal-wrapper-content-close.modal-close 
                |閉じる
  

mixin menu-modal 
   .menu-modal(style='display:none;')
    .menu-modal-logo 
        img(src='https://waomirai.com/lp/assets/commonimages/logo_white.svg')
    .menu-modal-navi
            each item, index in navItems
              a(href=`#${item.id}`)
                  != item.text      
    .menu-modal-close.modal-close 
      i.fa-solid.fa-xmark.l-sp-nav__close-icon
      span|閉じる

mixin bg-modal
  .bg-modal(style='display:none;')

