mixin sample-svg 
  div.
    <svg viewBox="0 0 800 800" width="500">
      <defs>
        <clipPath id="clip-top" clipPathUnits="userSpaceOnUse">
          <polygon points="50,50 750,50 750,250 50,300"/>
        </clipPath>
        <clipPath id="clip-left" clipPathUnits="userSpaceOnUse">
          <polygon points="50,320 450,290 450,750 50,750"/>
        </clipPath>
        <clipPath id="clip-right" clipPathUnits="userSpaceOnUse">
          <polygon points="470,290 750,270 750,750 470,750"/>
        </clipPath>

        <!-- 黒四角マスク用 clipPath（画像と同じ形）-->
        <clipPath id="clip-mask-top" clipPathUnits="userSpaceOnUse">
          <polygon points="50,50 750,50 750,250 50,300"/>
        </clipPath>
        <clipPath id="clip-mask-left" clipPathUnits="userSpaceOnUse">
          <polygon points="50,320 450,290 450,750 50,750"/>
        </clipPath>
        <clipPath id="clip-mask-right" clipPathUnits="userSpaceOnUse">
          <polygon points="470,290 750,270 750,750 470,750"/>
        </clipPath>
      </defs>

      <!-- 上のコマ -->
      <g class="panel">
        <g clip-path="url(#clip-top)">
          <image
            class="panel-img"
            href="https://picsum.photos/seed/top/800/300"
            x="50" y="50" width="700" height="250"
            preserveAspectRatio="xMidYMid slice"
            style="animation-delay: 0s;"
          />
        </g>
        <!-- 黒い四角形（コマと同じclipPathで切り抜き＋右スライド） -->
        <g clip-path="url(#clip-mask-top)">
          <rect class="reveal-top" x="50" y="50" width="700" height="250" fill="black"/>
        </g>
        <polygon
          points="50,50 750,50 750,250 50,300"
          fill="none" stroke="#222" stroke-width="8"
        />
      </g>

      <!-- 左下のコマ -->
      <g class="panel">
        <g clip-path="url(#clip-left)">
          <image
            class="panel-img"
            href="https://picsum.photos/seed/left/400/500"
            x="50" y="290" width="400" height="460"
            preserveAspectRatio="xMidYMid slice"
            style="animation-delay: -2s;"
          />
        </g>
        <g clip-path="url(#clip-mask-left)">
          <rect class="reveal-left" x="50" y="290" width="400" height="460" fill="black"/>
        </g>
        <polygon
          points="50,320 450,290 450,750 50,750"
          fill="none" stroke="#222" stroke-width="8"
        />
      </g>

      <!-- 右下のコマ -->
      <g class="panel">
        <g clip-path="url(#clip-right)">
          <image
            class="panel-img"
            href="https://picsum.photos/seed/right/300/500"
            x="470" y="270" width="280" height="480"
            preserveAspectRatio="xMidYMid slice"
            style="animation-delay: -4s;"
          />
        </g>
        <g clip-path="url(#clip-mask-right)">
          <rect class="reveal-right" x="470" y="270" width="280" height="480" fill="black"/>
        </g>
        <polygon
          points="470,290 750,270 750,750 470,750"
          fill="none" stroke="#222" stroke-width="8"
        />
      </g>
    </svg>

//- 条件付きリンクを生成するmixin
//- loycus変数の値によって、通常のリンク or LIFFフォームへのリンクを切り替える
//- @param {string} baseClass - リンクに適用する基本CSSクラス名
mixin conditionalLink(baseClass)
  a(
    class=baseClass + (loycus ? '' : ' js-line-trigger')
    href=loycus ? UrlLiffForm : false
    target=loycus ? '_blank' : false
  )
    block

//- 固定フッターボタンのmixin
//- ページ下部に固定表示される申込ボタンとページトップへ戻るボタン
mixin fixed-btn
  .fixed-btn-container(style='display:none;')
    +conditionalLink('fixed-cta')
      .fixed-cta-btn
        img(src=ImgTextCta)
    .btn-modalmenu
        img(src=ImgMenu)


//- CTA（Call To Action）ボタンのmixin
//- メインの申込ボタンとして使用
mixin btn-cta 
  +conditionalLink('btn-cta')
    img(src=ImgbtnCta)

mixin btn-cta-big
  +conditionalLink('btn-cta')
    img(src=ImgbtnCtaBig)

mixin section-cta
  //CTA
  section.cta
      .cta-loop 
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
          div 
            img(src=ImgCtaLooptext, alt="")
      .cta-bg 
        img(src=ImgCta, alt="")
      .cta-content
        .cta-content-text 
          |春休みの5日間で
          br
          |考える習慣を身につけよう！
        +btn-cta-big

//- モーダルウィンドウのmixin
//- 2種類のモーダルとオーバーレイ背景を含む
mixin entry-modal
  .modal#modal-alreadyfriend(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-close
          .modal-wrapper-close-icon.modal-close
      .modal-wrapper-content   
         .modal-wrapper-content-title-alreadyfriend
            .modal-wrapper-content-title-alreadyfriend-top
                div|すでに
                div 
                  img(src=ImgIcnWaoLine)
                div|ワオ未来塾公式LINEを
            .modal-wrapper-content-title-alreadyfriend-bottom
                |友だち追加している方へ
         .modal-wrapper-content-main

            .modal-wrapper-content-main-text-alreadyfriend
              |イベントの申し込み案内が
              br
              |自動で届かない場合がございます。
              br
              |その場合は下記手順で申込ください。
            .modal-wrapper-content-main-image-alreadyfriend
              img(src=ImgModalEvent)
            .modal-wrapper-content-main-btn-alreadyfriend
                a(href=UrlLiffAddFriend, target='_blank')
                  |OKです(イベント申込へ)
  .modal#modal-pc-liff(style='display:none;')
    .modal-wrapper 
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-head
              .modal-wrapper-content-main-head-img
                img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icon_howto_join01.png')
              .modal-wrapper-content-main-head-text 
                 |スマホで
                 br
                 |LINEの友だち追加
            .modal-wrapper-content-main-qr#liffqr
              
            .modal-wrapper-content-main-text
                        |追加後に申込フォームが
                        br
                        |送信されます
         .modal-wrapper-content-close.modal-close 
                |閉じる
  

mixin menu-modal 
   .menu-modal(style='display:none;')
    .menu-modal-logo 
        img(src='https://waomirai.com/lp/assets/commonimages/logo_white.svg')
    .menu-modal-navi
            each item, index in navItems
              a(href=`#${item.id}`)
                  != item.text      
    .menu-modal-close.modal-close 
      i.fa-solid.fa-xmark.l-sp-nav__close-icon
      span|閉じる

mixin bg-modal
  .bg-modal(style='display:none;')

