- var linkUrl = 'https://go.waomirai.com/english-trial-form'
//- include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
header 
      div 
        img(src="https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg")
.english-fvpc.pcimage
  .english-fvpc-absolute
   .english-fvpc-maintext
        img(src='https://go.waomirai.com/l/1026513/2024-09-18/h3s77/1026513/1726708276w8Gt180a/fv_main_text.svg')
   .lp-cv-button 
      a(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')   
       .english-fv-absolute-cvtop.cv-limit-text
          |9/30までに申し込むと10月中は無料
       .lp-cv-button-main
          |無料体験レッスンはこちら
  .english-fvpc-absolute-next-lesson 
       .lp-cv-lessonday-time 
          .lp-cv-lessonday-time-title 
            |最短のオンラインレッスン開催日 
          .lp-cv-lessonday-time-day 
            span.lp-cv-lessonday-time-day-monthday.next-lesson-month|10
            span.lp-cv-lessonday-time-day-slash|/
            span.lp-cv-lessonday-time-day-monthday.next-lesson-day|1
          .lp-cv-lessonday-time-week.next-lesson-week
              |火
          .lp-cv-lessonday-time-hourrange.next-lesson-hour-range
              |17:00~
         
.english-fv-sp.spimage
  .english-fvsp-bg 
   .english-fvsp-maintxt 
      img(src='https://go.waomirai.com/l/1026513/2024-09-18/h3s77/1026513/1726708276w8Gt180a/fv_main_text.svg')    
   .english-fvsp-bg-img
     img(src='https://go.waomirai.com/l/1026513/2024-09-24/h44dj/1026513/1727153213OZkAHfVC/fvsp.png')
  .english-fvsp-wrap
      .lp-cv-button 
            a(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')   
                .english-fv-absolute-cvtop.cv-limit-text
                    |9/30までに申し込むと10月中は無料
                .lp-cv-button-main
                    |無料体験レッスンはこちら
      .english-fvsp-nextlesson  
            .lp-cv-lessonday-time-title 
                |最短のオンラインレッスン開催日 
            .lp-cv-lessonday-time 
                .lp-cv-lessonday-time-day 
                  span.lp-cv-lessonday-time-day-monthday.next-lesson-month|10
                  span.lp-cv-lessonday-time-day-slash|/
                  span.lp-cv-lessonday-time-day-monthday.next-lesson-day|1
                .lp-cv-lessonday-time-week.next-lesson-week
                    |火
                .lp-cv-lessonday-time-hourrange
                    |17:00~              
section.lp-section-intro.lp-section-bgyellow
    h2.lp-section-title-h2
     |こんな悩みありませんか？
    .lp-section-intro-columns
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |英語を勉強していても
          br
          |話せるようにならない
        .lp-section-intro-columns-box-image
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mc4/1026513/1726560688bfPi56rI/illust_intro01.png.png')
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |学校のテストの点数は
          br
          |悪くないのに、発音できない。
        .lp-section-intro-columns-box-image
            img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdb/1026513/1726560693pjhU6lyg/illust_intro02.png.png')        
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |英語がどうしても
          br
          |聞き取れない
        .lp-section-intro-columns-box-image
            img(src='https://storage.pardot.com/1026513/1726560693ARiHeVdZ/illust_intro03.png.png')  
    .lp-section-intro-arrow 
        img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mbx/1026513/17265606885DqFNzfA/arrow_bottom.png')  
    .lp-section-intro-foot 
      |グローバル英語で
      br.spimage
      |そのお悩み解決します！
section.lp-section-intro-after.lp-section-bgwhite
  .lp-section-intro-after-svg
    svg(viewBox="0 0 100 100", preserveAspectRatio="none")
        path(d="M100,0 L50,100 0,0 Z", fill="#F6E245")
  .lp-section-title-bgdecoration
    h2
     |グローバル英語で
     br.spimage
     |英語が身に付く
     span.purple-large|3
     span.purple|つの理由
    .lp-section-title-txt
      |3 reason
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |01
      .lp-section-reason-left-title 
         |脱授業！
         br
         |ライブ形式のレッスンで楽しく学べる
      .lp-section-reason-leftimg.spimage
         img(src='https://storage.pardot.com/1026513/1727340661pAjGn14E/about01.png') 
      .lp-section-reason-left-text
        |日本語の通じるネイティブ講師＆日本人講師が、ユーモアたっぷりに英語を教えてくれるから、レッスンの時間が待ち遠しくなる！ゲームやアクティビティを交えながら、まるで遊んでいるかのように学べるライブレッスン。子どもたちは自然と口から英語が出てきて、会話がどんどん楽しくなる。リアルな英語を生き生きと教えてくれます！
    .lp-section-reason-right.pcimage
               img(src='https://storage.pardot.com/1026513/1727340661pAjGn14E/about01.png') 
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |02
      .lp-section-reason-left-title 
         |「文法」ではなく
         br
         |「音」から学ぶので自然に習得できる
      .lp-section-reason-leftimg.spimage
         img(src='https://storage.pardot.com/1026513/1726560689vPaNcCqN/img_3reason_02.png') 
      .lp-section-reason-left-text
        |レッスン中は、参加者が積極的に話す場面をたくさん設けています。聞いているだけでなく、自ら発言することで、実際の会話力が飛躍的に向上します。自分の発言は他の参加者には聞こえないので、自分のペースでガンガン喋ることができます。
    .lp-section-reason-right.pcimage
               img(src='https://storage.pardot.com/1026513/1726560689vPaNcCqN/img_3reason_02.png') 
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |03
      .lp-section-reason-left-title 
         |子どもが楽しく
         br
         |英語を学べるオリジナル教材
      .lp-section-reason-leftimg.spimage
         img(src='https://storage.pardot.com/1026513/17265606905VY2ONtO/img_3reason_03.png') 
      .lp-section-reason-left-text
        |興味を引く内容満載のオリジナル教材で、英語の世界がぐんと広がります。ワオ未来塾のグローバル英語では、英語の音からインプットする「ひらがなEnglish」で英語を単語単位ではなく「カタマリ」で覚えます。さらにこれをリズムにリズムに乗せて練習するので、英語が楽しく忘れにくくなります。
    .lp-section-reason-right.pcimage
        img(src='https://storage.pardot.com/1026513/17265606905VY2ONtO/img_3reason_03.png') 
section.lp-section.lp-section-bglightgray
  .lp-section-title-bgdecoration
    h2|3分でわかるグローバル英語
    .lp-section-title-txt
      |Movie
  .lp-section-movie 
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(src="https://player.vimeo.com/video/930561537?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479", frameborder="0", allow="autoplay; fullscreen; picture-in-picture; clipboard-write", style="position:absolute;top:0;left:0;width:100%;height:100%;", title="3分でわかる！新感覚英会話レッスン ワオ未来塾 グローバル英語")
section.lp-section.lp-section-bgpaleyellow
  .lp-section-title-bgdecoration
    h2|授業コース
    .lp-section-title-txt
      |Course
  .lp-section-text
    |英語初挑戦なら、LEVEL1:LOCAL STAGEで自分の周りに焦点を当てて会話スキルを身につけましょう。英語が少し話せるなら、LEVEL2:NATION STAGEで日本について説明できるフレーズを身につけていきます。 
    span.pcimage|体験授業では両方のステージを受講することができ、体験授業終了後にどちらかのステージを選択することができます。まずは両方受講し自分に合ったステージを決めましょう。
  .lp-section-course-box
    .lp-section-course-box-image 
       img(src='https://storage.pardot.com/1026513/1727315869tGpAlFOW/LEVEL1__2_.png') 
    .lp-section-course-box-image 
        img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mfm/1026513/17265610763tCtczbR/LEVEL2.png') 
  .lp-section-text.spimage(style='margin: 10px 0 0;')
     |体験授業では両方のステージを受講することができ、体験授業終了後にどちらかのステージを選択することができます。まずは両方受講し自分に合ったステージを決めましょう。    
section.lp-section.lp-section-bglightgray
  .lp-section-title-bgdecoration
    h2|授業スケジュール
    .lp-section-title-txt
      |Schedule
  .lp-section-text
    | 授業は平日に2回受講する「平日スタイル」と、土曜にまとめて受講する「土曜スタイル」を選択可能！　
    |どちらも都合がつかない場合は、アーカイブで授業を受けることができます。
  .lp-section-schedule
      figure.wp-block-table.is-style-regular(style="font-size:16px")
        table
            tbody
              tr
                td.has-text-align-center(data-align="center")
                td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                  strong LEVEL1:LOCAL STAGE
                  br
                  span(style='font-size:70%; !important; color:#999 !important;')
                    |※めやす 小３〜
                td.has-text-align-center(style="line-height:1.3 !important; padding:0.8em 0.5em !important;",data-align="center")
                  strong LEVEL2:NATION STAGE
                  br
                  br
                  span(style='font-size:70%; !important; color:#999 !important;')
                    | 
              tr
                td.has-text-align-center(data-align="center") 月
                td.has-text-align-center(data-align="center")
                td.has-text-align-center(data-align="center")
              tr
                td.has-text-align-center(data-align="center") 火★
                td.has-text-align-center(data-align="center") ［前半］17:00-17:25
                td.has-text-align-center(data-align="center") ［前半］ 17:40-18:05
              tr
                td.has-text-align-center(data-align="center") 水
                td.has-text-align-center(data-align="center")
                td.has-text-align-center(data-align="center")
              tr
                td.has-text-align-center(data-align="center") 木
                td.has-text-align-center(data-align="center") ［後半］17:00-17:25
                td.has-text-align-center(data-align="center") ［後半］ 17:40-18:05
              tr
                td.has-text-align-center(data-align="center") 金
                td.has-text-align-center(data-align="center")
                td.has-text-align-center(data-align="center")
              tr
                td.has-text-align-center(data-align="center") 土
                td.has-text-align-center(data-align="center") ［前半］17:30-17:55
                  br
                  | ［後半］18:05-18:30
                td.has-text-align-center(data-align="center") 
              tr
                td.has-text-align-center(data-align="center") 日
                td.has-text-align-center(data-align="center")
                td.has-text-align-center(data-align="center")
      .wp-block-spacer(style="height:16px", aria-hidden="true")
      p.has-text-align-right ★翌週用のトレーニング動画配信日
      p.has-text-align-right ※火・木曜配信と土曜配信は同じ内容です
section.lp-section.lp-section-bgwhite
  .lp-section-title-bgdecoration
    h2|学習の流れ
    .lp-section-title-txt
      |Course
  .lp-section-study-process
    .lp-section-study-process-img
         img(src='https://storage.pardot.com/1026513/17267349698sSQNfCp/Nagare_Lesson1__1_.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img.lp-section-study-process-img-noshadow
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf1/1026513/17267356090NTnC3hs/Nagare_training1.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tfb/1026513/17267356095JP6kMiV/Nagare_Lesson2.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img-nagare
         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tff/1026513/1726735610GOnYrySl/Nagare_Lesson3.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img-nagare
         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf4/1026513/1726735609UCrrtkUw/Nagare_Lesson4.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img-nagare
         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tf7/1026513/172673560925uZHkJ8/Nagare_Lesson5.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img-nagare
         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img
         img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3tdx/1026513/1726735609qW7svH3B/Nagare_Lesson6.png') 
    .lp-section-study-process-arrow
    .lp-section-study-process-img-nagare
         img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3mdt/1026513/1726561074qoVEw5CW/Nagare_training2.png') 
  .lp-section-scroll   
    img(src='https://go.waomirai.com/l/1026513/2024-09-19/h3sr4/1026513/1726723227DuArKEVS/arrow_scroll.svg')
section.lp-section.lp-section-bgpaleyellow
  .lp-section-title-bgdecoration
    h2|お客様からの声
    .lp-section-title-txt
      |Voice
  .lp-section-voice-box
    .lp-section-voice-box-image 
      img(src='https://storage.pardot.com/1026513/1726561074K3qs6Awa/img_voice.png') 
    .lp-section-voice-box-text
      |小4小2の子どもたちと一緒に家族で参加しましたが、衝撃的に面白く楽しい時間でした！なるほど！と納得できることばかりでした。子どもたちがこれからも楽しく英語を勉強できるよう意識して環境を作ってみたいと思います。本当にありがとうございました！

section.lp-section.lp-section-bgwhite
  .lp-section-title-bgdecoration
    h2|費用
    .lp-section-title-txt
      |Price
  .lp-section-price
    .lp-section-price-box
     .lp-section-price-box-left 
         .lp-section-price-box-left-badge-wrap
            .lp-section-price-box-left-badge 
              .lp-section-price-box-left-badge-body
            .lp-section-price-box-left-badge-text
              |無料
         .lp-section-price-box-left-text 
                |レッスン利用料金
                br
                |１ヶ月無料！
     .lp-section-price-box-right
        |6,600円
        span.lp-section-price-box-right-small 
          | (税込）/月
  .lp-section-price-note
     |※いつでも解約可能です
     br
     |※無料キャンペーンは2024年10月のみです
section.lp-section.lp-section-bglightgray
  .lp-section-title-bgdecoration
    h2|無料体験レッスンまでの流れ
    .lp-section-title-txt
      |Trial Flow 
  .lp-section-trial-flow
    .pcimage
      img(src='https://go.waomirai.com/l/1026513/2024-09-17/h3m5j/1026513/1726548611mDNqtkmT/trial_lesson.png')
    .spimage
      img(src='https://storage.pardot.com/1026513/1726640348sRjJhEhl/img_flow_sp.png')
div.lp-cv
    .lp-cv-title
      .lp-cv-title-text
        span.lp-cv-title-text-top|9/30までに申し込むと10月中は
        br
        |オンラインレッスンが受け放題
      .lp-cv-title-note
        |※有料プランへの自動入会はございません
    .lp-cv-lessonday 
       .lp-cv-lessonday-title 
         |最短のオンラインレッスン開催日
       .lp-cv-lessonday-time 
          .lp-cv-lessonday-time-day 
            span.lp-cv-lessonday-time-day-monthday.next-lesson-month|10
            span.lp-cv-lessonday-time-day-slash|/
            span.lp-cv-lessonday-time-day-monthday.next-lesson-day|1
          .lp-cv-lessonday-time-week.next-lesson-week
              |火
          .lp-cv-lessonday-time-hourrange.next-lesson-hour-range
              |17:00~
    .lp-cv-button 
       a(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});", target='_blank') 
           .lp-cv-button-sub 
              |かんたん1分
           .lp-cv-button-main
              |無料体験レッスンはこちら
mixin faqItem(title, text)
  .lp-section-faq
    .lp-section-faq-left 
      |Q
    .lp-section-faq-right   
      .lp-section-faq-right-title 
        | #{title}
      .lp-section-faq-right-txt 
        | #{text}s
section.lp-section
  .lp-section-title-bgdecoration
    h2|よくある質問
    .lp-section-title-txt
      |FAQ

  +faqItem('英語の歌をたくさん聞かせています。これも効果ありますか？', 'リズムと音で英語の発音になれることができるのでとてもいい練習方法です。ただ、英語の歌にはあまり日常的に使ってほしくない表現が含まれていることがあります。ワオ未来塾のグローバル英語では、必要なフレーズをリズムに乗せて練習しますので、歌や九九を覚える感覚で覚えることができます。')
  +faqItem('英語はまだ習っていないので単語をほぼ知らないのですが、大丈夫ですか？', 'はじめて出てくる単語はレッスンで解説をします。そして、ネイティブの子どもたちと同じように、画像やアクションと単語を結び付けて、フレーズの中で覚えていきますのでご安心ください。')
  +faqItem('文法は勉強しなくて大丈夫ですか？', '赤ちゃんだった子どもたちはどうやって言葉を話せるようになるのでしょうか？まずは文字を覚えて、単語を暗記して、文法を学んだ？ いいえ、聞こえてくる「音」を何度も真似をして、簡単なフレーズから話せるようになったはずです。同じように、ワオ未来塾グローバル英語では、フレーズを九九のように覚える練習をしていきます。また、英語をカタマリで覚えるので、日本人が話すときに助詞で悩まないのと同じように、英語でも「inだっけ？atだっけ？」と悩むことがなくなります。そして、しゃべれるようになってから文法を学ぶと、なるほど！と理解することができるようになります。')
  +faqItem('週に数回のレッスンで本当に話せるようになるんですか？', '英語は見ているだけ、聞いているだけでは話せるようになりません。ワオ未来塾のグローバル英語では、レッスンがない日もレッスンで習ったフレーズを体にしみこませるため動画でトレーニングが毎日できます！動画ではリズムと音を活用して練習するので、歌や九九を覚える感覚で楽しく英語のフレーズを覚えることができますよ。')
  +faqItem('オンラインなので、子どもが楽しく続けることができるか心配です。', '指導は子どもが大好きで元気な日本語の通じるネイティブ講師＆日本人講師が行います。アクションをつけながらリズムに合わせて発音したり、クイズ形式で得点を競ったり、お子様が楽しく参加できる工夫がたくさんあります。')
  +faqItem('大人しい性格なので、みんなが参加するオンラインレッスンで会話できるのか不安です。', 'オンラインレッスンのカメラ映像は先生にだけ表示され他の方には見えません。またチャットやスタンプでの参加もできますので、お子様に合った形でご参加いただけます。')             
  +faqItem('英検に挑戦したいと考えています。対策になりますか？', 'グローバル英語のレッスンは英検の「リスニング問題」の対策に有効です。英語が聞き取れない原因は単語と単語をつなげて発音する「リエゾン」に慣れていないことが原因です。グローバル英語ではこの単語と単語のカタマリを音（リエゾン）で練習しますので、英語特有の発音も聞き取れるようになります。またレッスンは音から英語を習得する”喋る練習”を中心に進めますが、音が体にしみこむ最終段階ではフレーズをアルファベットで表示します。これによって音と文字がつながり、アルファベットで表記された英語も読むことができるよう設計された教材を使用しています。')                 
    
  
footer 
  ul 
   li 
    a(href="https://www.wao-corp.com/", target='_blank')
     |会社概要
   li 
    a(href="https://www.wao-corp.com/kojin/", target='_blank')
     |プライバシーポリシー
   li
    a(href="https://go.waomirai.com/shotororihiki", target='_blank')
     |特定商取引に基づく表記
  .footer-logo 
    img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
  .footer-copyright
    |© ワオ・コーポレーション All rights reserved.
.fixed-button(style='display:none;')
          .lp-cv-button 
              a(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')   
                .english-fv-absolute-cvtop.cv-limit-text
                    |9/30までに申し込むと10月中は無料
                .lp-cv-button-main
                    |無料体験レッスンはこちら
script.
  function changeDateTime(simulatedDate = null) {
    const dayElement = $('.next-lesson-day');
    const monthElement = $('.next-lesson-month');
    const weekElement = $('.next-lesson-week');
    const hourRangeElement = $('.next-lesson-hour-range');
    const cvLimitTextElement = $('.cv-limit-text');  // CV文言用の要素
    const cvButtonLimitTextElement = $('.lp-cv-title-text');  // CV文言用の要素
    
    // 現在の日時を取得（テスト用の日時を設定）
    const currentDate = simulatedDate || new Date();
    
    // レッスン日を定義
    const lessons = [
      // 10月の日程
      { date: new Date(2024, 9, 1, 17, 0), day: '1', week: '火', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 3, 17, 0), day: '3', week: '木', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 5, 17, 30), day: '5', week: '土', hourRange: '17:30~', month: '10' },
      { date: new Date(2024, 9, 8, 17, 0), day: '8', week: '火', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 10, 17, 0), day: '10', week: '木', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 12, 17, 30), day: '12', week: '土', hourRange: '17:30~', month: '10' },
      { date: new Date(2024, 9, 15, 17, 0), day: '15', week: '火', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 17, 17, 0), day: '17', week: '木', hourRange: '17:00~', month: '10' },
      { date: new Date(2024, 9, 19, 17, 30), day: '19', week: '土', hourRange: '17:30~', month: '10' },
      
      // 11月の日程
      { date: new Date(2024, 10, 2, 17, 30), day: '2', week: '土', hourRange: '17:30~', month: '11' },
      { date: new Date(2024, 10, 5, 17, 0), day: '5', week: '火', hourRange: '17:00~', month: '11' },
      { date: new Date(2024, 10, 7, 17, 0), day: '7', week: '木', hourRange: '17:00~', month: '11' },
      { date: new Date(2024, 10, 9, 17, 30), day: '9', week: '土', hourRange: '17:30~', month: '11' },
      { date: new Date(2024, 10, 12, 17, 0), day: '12', week: '火', hourRange: '17:00~', month: '11' },
      { date: new Date(2024, 10, 14, 17, 0), day: '14', week: '木', hourRange: '17:00~', month: '11' },
      { date: new Date(2024, 10, 16, 17, 30), day: '16', week: '土', hourRange: '17:30~', month: '11' },
      { date: new Date(2024, 10, 19, 17, 0), day: '19', week: '火', hourRange: '17:00~', month: '11' },
      { date: new Date(2024, 10, 21, 17, 0), day: '21', week: '木', hourRange: '17:00~', month: '11' }
    ];

    // 条件による表示内容を決定
    let newDate = '';
    let newWeek = '';
    let newMonth = '';
    let newHourRange = '';
    let newCvText = '';
    let newButtonCvText = '';

    // 現在の日時と各レッスン日の比較
    for (let lesson of lessons) {
      if (currentDate < lesson.date) {
        newDate = lesson.day;
        newWeek = lesson.week;
        newHourRange = lesson.hourRange;
        newMonth = lesson.month;  // 動的に月を設定
        break;
      }
    }

    // CV文言を決定
    if (currentDate >= new Date(2024, 8, 20, 0, 0) && currentDate <= new Date(2024, 8, 30, 23, 59)) {
      newCvText = '9/30までに申し込むと10月中は無料';
      newButtonCvText = '9/30までに申し込むと10月中は<br />オンラインレッスンが受け放題' 
    } else if (currentDate >= new Date(2024, 9, 1, 0, 0) && currentDate <= new Date(2024, 9, 9, 23, 59)) {
      newCvText = '10/10までに申し込むと今月中は無料';
      newButtonCvText = '10/10までに申し込むと今月中は<br />オンラインレッスンが受け放題' 
    } else if (currentDate >= new Date(2024, 9, 10, 0, 0) && currentDate <= new Date(2024, 9, 14, 23, 59)) {
      newCvText = '10/15までに申し込むと今月中は無料';
      newButtonCvText = '10/15までに申し込むと今月中は<br />オンラインレッスンが受け放題' 
    } else if (currentDate >= new Date(2024, 9, 15, 0, 0)) {
      newCvText = '10月中のすべてのオンラインレッスンを<br />アーカイブで見放題！';
      newButtonCvText = '10月中のオンラインレッスンを<br />アーカイブで見放題！' 
      cvLimitTextElement.css({
        'transform': 'scale(0.9)',
        'top': '-24px',
        'width': '260px',
        'padding': '3px 13px',
        'line-height': '1.4'
      });
    }

    // 該当するレッスン日がない場合（すべてのレッスンが終了している場合）
    if (!newDate) {
      $('.lp-cv-lessonday').hide();
    }

    // HTMLの内容を更新
    dayElement.text(newDate);
    monthElement.text(newMonth);
    weekElement.text(newWeek);
    hourRangeElement.text(newHourRange);
    cvLimitTextElement.html(newCvText);  // CV文言を更新
    cvButtonLimitTextElement.html(newButtonCvText);
  }
  $(document).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    const isTestCase = urlParams.has('via') && urlParams.get('via') === 'testcase';
    
    // via=testcaseがある場合、div.testcaseを表示
    if (isTestCase) {
      $('div.testcase').show();  // 要素を表示
    }
    changeDateTime();

    // テスト実行ボタンが押されたときの処理
    $('#testButton').on('click', function() {
      const testDateInput = $('#testDate').val();
      
      // 日時フォーマットが正しいか確認
      if (!testDateInput || !testDateInput.includes(' ')) {
        alert('正しい日時を入力してください（例: 2024-10-01 16:59）');
        return;
      }

      // 入力された日時をパース
      const [datePart, timePart] = testDateInput.split(' ');
      const [year, month, day] = datePart.split('-').map(Number);
      const [hour, minute] = timePart.split(':').map(Number);
      
      // テスト用の日時を作成
      const simulatedDate = new Date(year, month - 1, day, hour, minute);
      
      // テスト用の日時で関数を実行
      changeDateTime(simulatedDate);
    });
  });

script.
      $(function () {
              var pagetop = $('.fixed-button'); // 要素のキャッシュ
              $(window).on('scroll', function () {
                  if ($(this).scrollTop() > 250) {
                    pagetop.fadeIn();
                  } else {
                    pagetop.fadeOut();
                  }
              });
            });
script.
  $(function () {            
    $(".lp-section-study-process").on("scroll", function () {
      if ($(this).scrollLeft() > 50) {
        $(".lp-section-scroll img").fadeOut();
      } else {
        $(".lp-section-scroll img").fadeIn();
      }
    });
      });

div.testcase(style='position:fixed; z-index:100; top:0; left:0; display:none;')
    // テスト用の日時入力フィールド
    input#testDate(type="text", placeholder="2024-10-01 16:59")
    // テスト実行ボタン
    button#testButton テスト実行
