//memoLP:https://go.waomirai.com/event-2025february


//関数読込
include _mixin-event-lp-2025feb.pug 

body#lp-2025feb
  //00ヘッダー
  header 
    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
  //01メインビジュアル
  section.c-lp-25feb-mv 
    .c-lp-25feb-mv-img.c-bg-section-white

        .pcimage 
          img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp5/1026513/1736909815WfjAFBOV/fv_pc_2025feb.svg')   
        .spimage 
          img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnr/1026513/1736909815czfrzGbs/fv_sp_2025feb.svg')
    .c-lp-25feb-mv-content
      .c-lp-25feb-mv-wrap-content-text 
        |｜自己肯定感｜科学的視点｜経済の知識｜
        br
        |社会で必要になる新しい学びを親子で体験！
      .c-lp-25feb-mv-wrap-content-target 
         |対象：小〜中学生とその保護者
  //02 EVENT INFOMATION
  section.lp-25feb-info 
    .lp-25feb-info-title
       |INFORMATION
    .lp-25feb-info-columns
      //哲学（思考力）
      .lp-25feb-info-columns-child.philosophy
        .lp-25feb-info-columns-child-head 
            |哲学（思考力）
        .lp-25feb-info-columns-child-image 
            img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpv/1026513/17369098174MiQVDys/img_event_ph.png')
        .lp-25feb-info-columns-child-text
            .lp-25feb-info-columns-text-catch 
              |親子でホンネトーク 哲学カフェ
            .lp-25feb-info-columns-text-title
              |お子さんの
              br
              |“友だち関係”の
              br
              |お悩み即解決⁉
            .lp-25feb-info-columns-text-date
              span.large|2
              |月
              span.large|7
              |日（金）
            .lp-25feb-info-columns-text-time
              |18:00-18:45
        a.lp-25feb-info-columns-child-link(href="#philosophy")
              |詳しくはこちらをclick!
      //科学リテラシー
      .lp-25feb-info-columns-child.science
        .lp-25feb-info-columns-child-head 
            |科学リテラシー
        .lp-25feb-info-columns-child-image 
            img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpr/1026513/1736909817ozByzL7R/img_event_sc.png')
        .lp-25feb-info-columns-child-text
            .lp-25feb-info-columns-child-text-catch 
              |親子でホンネトーク 哲学カフェ
            .lp-25feb-info-columns-child-text-title
              |好きを見つけて育てよう！
              br
              |サイエンス エンターテイナーが
              br
              |語る夢と仕事のつながり
            .lp-25feb-info-columns-child-text-date
              span.large|2
              |月
              span.large|15
              |日（土）
            .lp-25feb-info-columns-child-text-time
              |①11:00-11:45　②14:00-14:45
        a.lp-25feb-info-columns-link(href="#philosophy")
            |詳しくはこちらをclick!
      //経済（お金）
      .lp-25feb-info-columns-child.economiy
        .lp-25feb-info-columns-child-head 
            |経済（お金）
        .lp-25feb-info-columns-child-image 
            img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpn/1026513/1736909816yLVFmV8C/img_event_ec.png')
        .lp-25feb-info-columns-child-text
            .lp-25feb-info-columns-child-text-catch 
              |親子で挑戦！
            .lp-25feb-info-columns-child-text-title
              |コロッケを
              br
              |高く売れるのは誰だ！？
              br
              |お金を楽しく学ぼう！
            .lp-25feb-info-columns-child-text-date
              span.large|2
              |月
              span.large|22
              |日（土）
            .lp-25feb-info-columns-child-text-time
              |13:00-15:00
        a.lp-25feb-info-columns-child-link(href="#philosophy")
            |詳しくはこちらをclick!
    //CTA
    +btn-25feb-cta
      
  //03 イベントの詳細
  section.lp-25feb-eventdetail 
    //変数定義
    -
        var events = [{
          id: 'philosophy',
          subjectimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpr/1026513/1736909817ozByzL7R/img_event_sc.png',
          subjecttitle: '哲学（思考力）',
          date: '2025年2月7日（金）',
          time: '18:00-18:45',
          eventtitle: '哲学カフェ<br />親子で語ってお悩み解決！<br />～“友だち”って何？～',
          description: 'うちの子の "友だち関係"…どうなってる？　気にはなっても話題にしにくいこのテーマ、この際、親子でとことん話し合ってみませんか？\n哲学者の視点を借りて思考を深め、新たな気づきが得られる特別イベント、開催です！',
          merits: [
            { title: "本音で話して親子の絆を深める！", text: "互いの本音トークが、親子の気持ちを通わせます。" },
            { title: "哲学の力で問題解決の糸口を探す！", text: "思考技術としての哲学が体験的に学べます。" },
            { title: "悩むこといっぱい...の実生活に役立つ内容！", text: "判断に迷う場面で、解決のヒントが得られます。" }
          ],
        },
        {
          id: 'science',
          subjectimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpr/1026513/1736909817ozByzL7R/img_event_sc.png',
          subjecttitle: '科学リテラシー',
          date: '2025年2月15日（土）',
          time: '①11:00-11:45 ②14:00-14:45',
          eventtitle: '「好き」を見つけて育てよう！<br />サイエンス エンターテイナーが語る夢と仕事のつながり',
          description: 'う子どもたちの「好き」を育てることは、未来の夢や仕事をかたち作る第一歩。このイベントでは、サイエンスエンターテイナーであり東京都市大学准教授の五十嵐美樹が、自らの体験を通じて「好き」と「仕事」のつながりを分かりやすくお話しします。科学の楽しさを感じながら、子どもたちの未来の可能性を広げる貴重な時間を一緒に過ごしましょう！',
          merits: [
            { title: "サイエンスエンターテイナーによる楽しいトーク！", text: "専門知識をわかりやすく伝えるプロフェッショナルから直接学べます" },
            { title: "未来の「好き」を見つけるヒントがたくさん！", text: "子どもたちが自分の「好き」を発見し、夢に繋げるきっかけを提供します。" },
            { title: "親子で一緒に楽しめる内容！", text: "実験で親子の絆（きずな）も深まります。" }
          ],
        },
        {
          id: 'economiy',
          subjectimg: 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpn/1026513/1736909816yLVFmV8C/img_event_ec.png',
          subjecttitle: '経済（お金）',
          date: '2025年2月22日（土）',
          time: '13:00-15:00',
          eventtitle: 'コロッケを<br />高く売れるのは誰だ？！<br />お金を楽しく学ぼう',
          description: '私たちの生活とは切り離せないお金。小学生になると、おこづかいを使う機会が増え、金銭トラブルもちょっと心配。そこで、身近な食べ物「コロッケ」をテーマに、小学生から身に着けておきたい「お金の知識」や「金銭感覚」を親子で楽しく学びましょう。今まで何気なく見ていた商品やサービスを、違った側面から見ることができるようになる、驚きと学びを体験してください！',
          merits: [
            { title: "ゲーム感覚だから親子で一緒に楽しく学べる！", text: "ゲーム感覚で進めるクイズ形式なので、お子さんも飽きずに楽しめます。" },
            { title: "実生活にすぐ役立つ学びがたくさん！", text: "モノの値段、お金の価値など、今すぐ役立つ「お金の知識」が身に付きます。" },
            { title: "自分で考えて表現する楽しさを体験", text: "「コロッケ」を売るための工夫を競い合うことでお子様の論理的な思考力も育みます。" }
          ],
        }
        ]
    //3教科ループさせる
    each event in events
      .lp-25feb-eventdetail-content(id=event.id)
        .lp-25feb-eventdetail-content-top
          .lp-25feb-eventdetail-content-top-left
            .lp-25feb-eventdetail-content-top-left-title
              != event.eventtitle
            .lp-25feb-eventdetail-content-top-left-img
              img(src=event.subjectimg)
          .lp-25feb-eventdetail-content-top-right
            .lp-25feb-eventdetail-content-top-right-date
              | #{event.date}
              br
              | #{event.time}
            .lp-25feb-eventdetail-content-top-right-title
              | #{event.title}
            .lp-25feb-eventdetail-content-top-right-text
              | #{event.description}
      
        .lp-25feb-eventdetail-content-merit
          .lp-25feb-eventdetail-content-merit-illust
            img(src='https://storage.pardot.com/1026513/17369183007nZMNzjj/illust_point_women.png')
          .lp-25feb-eventdetail-content-merit-content
            each merit in event.merits
              .lp-25feb-eventdetail-content-merit-content-box
                .lp-25feb-eventdetail-content-merit-content-box-title= merit.title
                .lp-25feb-eventdetail-content-merit-content-box-text= merit.text
    #science 
    #economiy     
    +btn-25feb-cta
  //04 こんなあなたにオススメです！
  section.lp-25feb-recommend
    +btn-25feb-cta
  //05 授業の特徴
  section.lp-25feb-feature
    +btn-25feb-cta
  //06 5stepで参加可能
  section.lp-25feb-howto.c-bg-section-white
    +btn-25feb-cta
  //07 ワオ未来塾って？
  section.lp-25feb-about
  //08 2025年4月開講
  section.lp-25feb-start2025
    +btn-25feb-cta
  //素材シリーズ
  footer 
    ul 
    li 
      a(href="https://www.wao-corp.com/", target='_blank')
      |会社概要
    li 
      a(href="https://www.wao-corp.com/kojin/", target='_blank')
      |プライバシーポリシー
    li
      a(href="https://go.waomirai.com/shotororihiki", target='_blank')
      |特定商取引に基づく表記
    .footer-logo 
      img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
    .footer-copyright
      |© ワオ・コーポレーション All rights reserved.
  div 
    //fv
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp5/1026513/1736909815WfjAFBOV/fv_pc_2025feb.svg')   
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnr/1026513/1736909815czfrzGbs/fv_sp_2025feb.svg')
    
    //教科のビジュアル
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpr/1026513/1736909817ozByzL7R/img_event_sc.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpv/1026513/17369098174MiQVDys/img_event_ph.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpn/1026513/1736909816yLVFmV8C/img_event_ec.png')
    
    //登録するためのアイコン
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png') 
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnc/1026513/1736909814efjpZrPo/icon_howto_join04.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png')

    //イラスト
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp8/1026513/1736909816UqQkpU4o/illust_family_mom.png')
    //教科アイコン
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png')
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.pngg') 

//- .fixed-button(style='display:none;')
//-           .lp-cv-button 
//-               a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
//-                 .english-fv-absolute-cvtop.cv-limit-text
//-                     |無料期間中のみの受講もOK！
//-                 .lp-cv-button-main
//-                   .lp-cv-button-main-free 
//-                     img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
//-                   .lp-cv-button-main-text
//-                     |受講申し込みはこちら
//-                   .lp-cv-button-main-arrow
//-               script.
//-                 var formLink = document.getElementById("form-link"); // IDを使う
include _js-event-lp-2025feb

