doctype html
html
  //- 変数定義
  include _variables
  //- ミックスイン
  include _mixins
  head
    meta(charset="utf-8")
    //- Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    //- End Google Tag Manager
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content=ImgOgp)
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel="stylesheet")
    link(href="../../css/10-lp-firstweek-free.css?20250516", rel="stylesheet")
    title ワオ未来塾｜1週間授業無料体験キャンペーン
    meta(name="robots", content="noindex")
    script(src="https://waomirai.com/lp/assets/commonjs/jquery_3.7.1.js")
    //- inviewのjquerycdnをsalesforceにアップしている
    script(src="https://waomirai.com/lp/assets/commonjs/jquery.inview.min.js")
  //- コンテンツをインクルード
  body#lp-firstweek-free
    //- ヘッダー
    header 
        .header-logo 
          img(src=ImgLogo)
        .header-right.pcimage
          +lineEntryButton('LINE公式アカウントから申込')
    //- ファーストビュー
    section.lp-firstweek-free-fv
          .lp-firstweek-free-fv-main
            .lp-firstweek-free-fv-main-contents
              .lp-firstweek-free-fv-main-contents-image
                img(src=ImgFvMain)
              h1.lp-firstweek-free-fv-main-contents-title
                img.pcimage(src=ImgFvTitlePc, alt="1WEEK 授業無料体験 キャンペーン")
                span.lp-firstweek-free-fv-main-contents-title-sp.spimage
                  img.spimage(src=ImgFvTitleSp, alt="1WEEK 授業無料体験 キャンペーン")
              p.lp-firstweek-free-fv-main-contents-text
                |ワオ未来塾でしか受けられない！
                br
                |未来を生きる子どもたちに
                br
                |”今”必要な力をつけるオンラインライブ授業
            .lp-firstweek-free-fv-main-contents-scroll.pcimage
                img(src=ImgFvMainScroll)
            .lp-firstweek-free-fv-main-deco01-pc
              img(src=ImgFvDeco01Pc)
            .lp-firstweek-free-fv-main-deco02-pc
              img(src=ImgFvDeco02Pc)
            .lp-firstweek-free-fv-main-deco03-pc
              img(src=ImgFvDeco03Pc)
            .lp-firstweek-free-fv-main-deco04-pc
              img(src=ImgFvDeco04Pc)
            .lp-firstweek-free-fv-main-deco05-pc
              img(src=ImgFvDeco05Pc)
            .lp-firstweek-free-fv-main-deco01-sp
              img(src=ImgFvDeco01Sp)
            .lp-firstweek-free-fv-main-deco02-sp
              img(src=ImgFvDeco02Sp)
            .lp-firstweek-free-fv-main-deco03-sp
              img(src=ImgFvDeco03Sp)
            .lp-firstweek-free-fv-main-deco04-sp
              img(src=ImgFvDeco04Sp)
          if Campaign === '2025SepOct'
             .lp-firstweek-free-fv-details.lp-firstweek-free-fv-details-2025SepOct
                .lp-firstweek-free-fv-details-head-badge.pcimage
                  img(src=ImgFvCamaign2025SepOctBadge)
                .lp-firstweek-free-fv-details-head.pcimage
                  img(src=ImgFvCamaign2025SepOct)
                .lp-firstweek-free-fv-details-head-sp.spimage
                  img(src=ImgFvCamaign2025SepOctSp)
                .lp-firstweek-free-fv-details-cta
                  .c-btn-cta-main
                    +lineEntryButton('LINEで簡単申込 >')
                .lp-firstweek-free-fv-details-list
                  p.lp-firstweek-free-fv-details-list-item
                    |対象：小３〜高校生
                  p.lp-firstweek-free-fv-details-list-item
                    |期間：#{TextPeriod}
          else
             .lp-firstweek-free-fv-details
                .lp-firstweek-free-fv-details-list
                  p.lp-firstweek-free-fv-details-list-item
                    |対象：小３〜高校生
                  p.lp-firstweek-free-fv-details-list-item
                    |期間：#{TextPeriod}
                .lp-firstweek-free-fv-details-cta
                  .c-btn-cta-main
                    +lineEntryButton('LINEで簡単申込 >')
    //- イントロ
    section.lp-firstweek-free-intro(class=Campaign === '2025SepOct' ? 'lp-firstweek-free-intro-2025SepOct' : '') 
          .lp-firstweek-free-intro-contents
            .lp-firstweek-free-intro-contents-image
              img(src=ImgIntro)
            .lp-firstweek-free-intro-contents-main
              h2.lp-firstweek-free-intro-contents-main-title 
                |知的探究の入り口を
                br
                |無料で体験できます
              .lp-firstweek-free-intro-contents-main-text
                p.lp-firstweek-free-intro-contents-main-text-paragraph
                  |ワオ未来塾の授業は
                  br.pcimage
                  |1テーマについて3週間にわたって
                  br.pcimage
                  |探究を深めていきます。
                p.lp-firstweek-free-intro-contents-main-text-paragraph
                  |今回のキャンペーンでは、
                  br.pcimage
                  |その初週を無料で開放！
                  br.pcimage
                  |ワクワクする探究の入り口を
                  br.pcimage
                  |無料でみなさんにご体験いただきます。
    //- 特徴
    section.lp-firstweek-free-feature
          .lp-firstweek-free-feature-grid
            .lp-firstweek-free-feature-grid-child
              .lp-firstweek-free-feature-grid-child-image
                 img(src=ImgFeature01)
              .lp-firstweek-free-feature-grid-child-subtitle
                .lp-firstweek-free-feature-grid-child-subtitle-icon
                  img(src=ImgIconSubject)
                .lp-firstweek-free-feature-grid-child-subtitle-text
                  |FEATURE.1
              h3.lp-firstweek-free-feature-grid-child-title 
                  |オンラインで楽しむ
                  br
                  |ライブ配信授業！
              p.lp-firstweek-free-feature-grid-child-text 
                  |全国隅々に、新しい教育を届けたい！オンライン授業なので、日本中・世界中のどこからでもご受講いただけます。
            .lp-firstweek-free-feature-grid-child
              .lp-firstweek-free-feature-grid-child-image
                img(src=ImgFeature02)
              .lp-firstweek-free-feature-grid-child-subtitle
                .lp-firstweek-free-feature-grid-child-subtitle-icon
                  img(src=ImgIconSubject)
                .lp-firstweek-free-feature-grid-child-subtitle-text
                  |FEATURE.2
              h3.lp-firstweek-free-feature-grid-child-title 
                  |ここでしか
                  br
                  |体験できない学び！
              p.lp-firstweek-free-feature-grid-child-text 
                  |未来に生きる子どもたちの力となる“新5教科”から「哲学（思考力）」「科学リテラシー」「経済（お金）」の3教科の授業が無料で受講できます。
            .lp-firstweek-free-feature-grid-child
              .lp-firstweek-free-feature-grid-child-image
                  img(src=ImgFeature03)
              .lp-firstweek-free-feature-grid-child-subtitle
                .lp-firstweek-free-feature-grid-child-subtitle-icon
                  img(src=ImgIconSubject)
                .lp-firstweek-free-feature-grid-child-subtitle-text
                  |FEATURE.3
              h3.lp-firstweek-free-feature-grid-child-title 
                  |どの科目でもレベルでも
                  br
                  |1週目がすべて無料！
              p.lp-firstweek-free-feature-grid-child-text 
                  |興味のある講座であれば、1週目はどれでも受講が可能です。「どんな授業？」「レベル感が知りたい」など、気になったらまずは受講してみてください！
          .lp-firstweek-free-feature-line
            .c-btn-cta-main
              +lineEntryButton('LINEで簡単申込 >')
    
    //- 講座内容のナビゲーション
    section.lp-firstweek-free-eventinfo
          .lp-firstweek-free-eventinfo-head
            h2.lp-firstweek-free-eventinfo-head-title 
              |#{TextMonth}の講座内容
            p.lp-firstweek-free-eventinfo-head-text 
               |受けてみたい教科を選んで
               br.spimage
               |講座内容をチェックしよう！
          .lp-firstweek-free-eventinfo-nav.pcimage
              a.lp-firstweek-free-eventinfo-nav-child.philosophy(href='#philosophy')
                |哲学（思考力）
              a.lp-firstweek-free-eventinfo-nav-child.science(href='#science')
                |科学リテラシー
              a.lp-firstweek-free-eventinfo-nav-child.economy(href='#economy')
                |経済（お金）
          .lp-firstweek-free-eventinfo-bottom
            |クリックすると各科目の先頭にジャンプします♪
    //- 講座内容のメイン部分
    section.lp-firstweek-free-events
          .lp-firstweek-free-events-spnavi.spimage
            a.lp-firstweek-free-events-spnavi-child.philosophy(href='#philosophy')
              |哲学
            a.lp-firstweek-free-events-spnavi-child.science(href='#science')
              |科学
            a.lp-firstweek-free-events-spnavi-child.economy(href='#economy')
              |経済
          .lp-firstweek-free-events-main#philosophy
            h3.lp-firstweek-free-events-main-title
              |哲学（思考力）
            ul.lp-firstweek-free-events-main-list
              +courseList('philosophy', '哲学', courses)
            .lp-firstweek-free-events-main-cta
              .c-btn-cta-main
                +lineEntryButton('LINEで簡単申込 >')
          .lp-firstweek-free-events-main#science
            h3.lp-firstweek-free-events-main-title
              |科学リテラシー
            ul.lp-firstweek-free-events-main-list
              +courseList('science', '科学', courses)
            .lp-firstweek-free-events-main-cta
              .c-btn-cta-main
                +lineEntryButton('LINEで簡単申込 >')
          .lp-firstweek-free-events-main#economy
            h3.lp-firstweek-free-events-main-title
              |経済（お金）
            ul.lp-firstweek-free-events-main-list
              +courseList('economy', '経済', courses)
            .lp-firstweek-free-events-main-cta
              .c-btn-cta-main
                +lineEntryButton('LINEで簡単申込 >')
    //- こんなお子さまたちにオススメです！
    section.lp-waomirai-recommend
        h2.c-title-lp 
           |こんなお子さまたちに
           br.spimage
           |オススメです！
        .lp-waomirai-recommend
          .lp-waomirai-recommend-left.pcimage
              img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_family_3person.png')
          .lp-waomirai-recommend-right
            //親子
            .lp-waomirai-recommend-right-child
               .lp-waomirai-recommend-right-child-icon.pcimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_family_child.png')
               .lp-waomirai-recommend-right-child-icon.spimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_voice_child.svg')
               .lp-waomirai-recommend-right-child-text
                  p ⚪︎学校の勉強だけじゃものたりない
                  p ⚪︎好奇心がとまらない
                  p ⚪︎総合型選抜も見据えた学びがしたい
            .lp-waomirai-recommend-right-child
               .lp-waomirai-recommend-right-child-icon.pcimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_family_mom_and_papa.png')
               .lp-waomirai-recommend-right-child-icon.spimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_voice_family.svg')
               .lp-waomirai-recommend-right-child-text
                  p 
                    |⚪︎子どもももちろんだけど、
                    br.pcimage
                    |親だって一緒に学びたい
                  p|⚪︎子どもと話し合えるきっかけがほしい
                  p|⚪︎自立した大人になってほしい
              
        .lp-waomirai-point
           .lp-waomirai-point-left 
             |POINT!
           .lp-waomirai-point-right
              |ワオ未来塾の授業は推奨学年はありますが、
              br.pcimage
              |大人も子どもも楽しめるコンテンツ。
              br
              |授業が終わるころには、
              br.pcimage
              |ちょっと世の中の見え方が変わってくる！
    
    //- 授業の特徴
    section.lp-waomirai-feature
        h2.c-title-lp 
          |授業の特長
        ul.lp-waomirai-feature-list
          li.lp-waomirai-feature-list-child 
            i.fa-solid.fa-globe
            |オンライン授業で
            br.spimage
            |全国どこからでも
            br.spimage
            |参加OK
          li.lp-waomirai-feature-list-child 
            i.fa-regular.fa-comments
            |ライブだから
            br.spimage
            |チャットで授業に
            br.spimage
            |参加できる!
          li.lp-waomirai-feature-list-child 
            .lp-waomirai-feature-list-child-icons 
              i.fa-solid.fa-laptop
            |必要なのはPCか
            br.spimage
            |タブレット端末だけ！
        .c-btn-cta-main
            +lineEntryButton('LINEで簡単申込 >')
      
    //- 5stepで参加可能
    section.lp-waomirai-howto#lp-waomirai-howto
        .lp-waomirai-howto-main
          h2.lp-waomirai-howto-main-title 
            |カンタン
            span.large|5
            |STEP
            br.spimage
            |で参加可能！
          .lp-waomirai-howto-main-img 
                img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_family_mom.png')
    
          -
              var steps = [{
                iconimg: 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icon_howto_join01.png',
                number: '1.',
                title: 'LINEで公式アカウントを友だち追加',
                text: `<span class="pcimage">まず、二次元コードから</span>スマートフォンで公式アカウントを友だちに追加してください。<br /><span class="spimage">・友だち追加は<a href="${UrlLineEvent}" target="_blank">こちら</a>から</span><span class="pcimage">・友だち追加は<a class="modal-open-liff-qr" style="cursor:pointer; text-decoration:underline;">こちら</a>から</span>`
              },
              {
                iconimg: 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icon_howto_join02.png',
                number: '2.',
                title: '友だち登録後、LINEのトーク画面に送られる申し込みフォームをタップ！'
              },
              {
                iconimg: 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icon_howto_join03.png',
                number: '3.',
                title: '参加したいイベントを選び、必要な情報を記入して「申込」をタップ'
              },
              {
                iconimg: 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icon_howto_join04.pngg',
                number: '4.',
                title: 'イベント前日にLINEメッセージでイベントURLをお送りします'
              },
              {
                iconimg: 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icon_howto_join05.png',
                number: '5.',
                title: '開催時間になったら届いたイベントURLから参加しましょう！'
              }]
          each step in steps
            .lp-waomirai-howto-main-step 
              .lp-waomirai-howto-main-step-child 
                .lp-waomirai-howto-main-step-child-icon 
                  img(src=step.iconimg)
                .lp-waomirai-howto-main-step-child-text
                  p.lp-waomirai-howto-main-step-child-text-title
                    span.lp-waomirai-howto-main-step-child-text-title-number
                      |#{step.number}
                    != step.title
                  p.lp-waomirai-howto-main-step-child-text-detail
                    != step.text        
        .c-btn-cta-main
          +lineEntryButton('LINEで簡単申込 >')
    
    
    //- ワオ未来塾って？
    .lp-waomirai-about
        h2.c-title-lp 
          |ワオ未来塾って？
        .lp-waomirai-about-box 
            .lp-waomirai-about-box-left 
              img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/logo_wao.svg')
            p.lp-waomirai-about-box-right
              |全国で能開センターや個別指導Axisを展開、知育アプリ『ワオっち！』も手がける株式会社ワオ・コーポレーションがお送りする新しい学びの場「ワオ未来塾」。21世紀に入ってから、テクノロジーやAIの進化により世界・社会は大きな変化を遂げようとしています。
              |この変化の時代を生きる子どもたちには、柔軟な思考力と判断力、どんな状況にも揺るがない“自分の軸”が求められていきます。半世紀にわたり子どもたちの教育に携わってきた当社は、こうした考えのもと、社会で活躍できる力を育む新しい学びの場、「ワオ未来塾」を開校いたします。      
    //- ワオ未来塾の詳細
    .lp-waomirai-details
            p.lp-waomirai-details-catch 
              |社会で役立つ学びを、
              br.spimage
              |今はじめよう
              br
              |オンラインで
              br.spimage
              |楽しく学ぶ“新5教科”
            .lp-waomirai-details-logo 
              img(src='https://waomirai.com/lp/assets/commonimages/logo.svg')
            p.lp-waomirai-details-target 
              |〈対象〉
              br.spimage
              |小学3〜6年生／
              br.spimage
              |中学生／高校生
            .lp-waomirai-details-subjects 
              .pcimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/ilust_5subjects_pc.png')
              .spimage
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/ilust_5subjects_sp.png') 
            .lp-waomirai-details-feature 
              .lp-waomirai-details-feature-box
                .lp-waomirai-details-feature-box-title  
                  .lp-waomirai-details-feature-box-title-icon   
                    img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icn_subject.png')
                  h3.lp-waomirai-details-feature-box-title-text 
                    |新しい5教科
                p.lp-waomirai-details-feature-box-text 
                  |自己肯定感を養う「哲学」、正しく物事を見る目を育む「科学」、社会を支える仕組みを学ぶ「経済」、世界共通言語の「英語」「プログラミング」を身につけます。
              .lp-waomirai-details-feature-box
                .lp-waomirai-details-feature-box-title  
                  .lp-waomirai-details-feature-box-title-icon   
                    img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icn_subject.png')
                  h3.lp-waomirai-details-feature-box-title-text 
                    |飛び級制
                p.lp-waomirai-details-feature-box-text 
                  |授業は推奨学年を設定していますが、理解度に応じて高いレベルの授業を選ぶことができます。 そのため学年に縛られず、自由なペースで学びを深めることができます。
              .lp-waomirai-details-feature-box
                .lp-waomirai-details-feature-box-title  
                  .lp-waomirai-details-feature-box-title-icon   
                    img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icn_subject.png')
                  h3.lp-waomirai-details-feature-box-title-text 
                    |オンラインライブ授業
                p.lp-waomirai-details-feature-box-text 
                  |授業はライブ形式で行われ、チャットやリアクションボタンで積極的に授業に参加できます。自分の意見が授業で取り上げられることも！
            .lp-waomirai-details-btn
              a(href='https://waomirai.com/', target='_blank')
                .lp-waomirai-details-btn-text
                  |ワオ未来塾の公式サイトへ     
                .lp-waomirai-details-btn-icn
                  img(src='https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icn_target.svg')    
    
    footer 
        ul 
          li 
            a(href="https://www.wao-corp.com/", target='_blank')
              |会社概要
          li 
            a(href="https://www.wao-corp.com/kojin/", target='_blank')
            |プライバシーポリシー
          li
            a(href="https://waomirai.com/commerce_law/", target='_blank')
              |特定商取引に基づく表記
        .footer-logo 
          img(src='https://waomirai.com/lp/assets/commonimages/logo_white.svg')
        .footer-copyright
          |© ワオ・コーポレーション All rights reserved.
    
    //- PCでの申込みのモーダル
    +ModalEntlyLine
    
    //- SPのCTA
    .fixed-cta-button(style='display:none;')
       +lineEntryButton('LINEで簡単申込 >')
    //- JavaScriptをインクルード
    include _js.pug
