//- 変数定義
include _variables

//- ミックスイン
include _mixins

//- ファーストビュー
.p-fv
  .p-fv-logo
    img(src=ImgLogoWaoMirai)
  .p-fv-main
    h1.p-fv-main-title
      img(src=ImgFvTitle alt="夏休み自由研究DAY2025 参加費無料")
    .p-fv-main-bg
      img(src=ImgFvBg)
    .p-fv-main-button
      img(src=ImgFvButton alt="スクロールする")
  .p-fv-target
    |対象：小〜中学生とその保護者

//- 夏休み自由研究DAYとは？
.p-day
  img(src=ImgDay alt="夏休み自由研究DAYとは？")