//- 変数定義
include _variables

//- 配列定義
include _data

//- ミックスイン
include _mixins

//- ファーストビュー
.p-fv
  .p-fv-logo
    img(src=ImgLogoWaoMirai alt="ワオ未来塾")
  .p-fv-main
    h1.p-fv-main-title
      img(src=ImgFvTitle alt="夏休み自由研究DAY2025 参加費無料")
    .p-fv-main-bg
      img(src=ImgFvBg)
    .p-fv-main-button
      img(src=ImgFvButton alt="スクロールする")
  p.p-fv-target
    |対象：小〜中学生とその保護者

//- 夏休み自由研究DAYとは？
.p-day
  img(src=ImgDay alt="夏休み自由研究DAYとは？")

//- プログラム一覧
.p-list
  p.p-list-eng
    |INDEX
  .p-list-wrapper
    h2.p-list-title
      img(src=ImgListTitle alt="プログラム一覧")
    p.p-list-text
      |自由研究に役立つ授業が盛りだくさん！
      br
      |複数授業を受けることも可能です！
    ol.p-list-main
      each item in list_items
        li.p-list-item(class=`is-${item.key}`)
          .p-list-item-image
            img(src=item.img, alt=item.title)
          .p-list-item-info
            p.p-list-item-info-number #{item.number}
            p.p-list-item-info-title #{item.title}
            p.p-list-item-info-text
              | #{item.times[0]}
              br
              | #{item.times[1]}
            a.p-list-item-info-button(href=item.link)
              i.fa-solid.fa-arrow-down
              | 詳細を見る
  a.c-btn-cv(href=UrlLine)
    |LINEで簡単申込

//- 画像のスライダー
.c-slide
  img(src=ImgSlide)
  img(src=ImgSlide)

//- プログラムのタブ
.p-tab
  .p-tab-text
    |クリックすると各科目の先頭にジャンプします♪
    br
    |受けてみたい教科を選んで講座内容をチェックしよう！
  .p-tab-list
    .p-tab-list-wrapper
      each tab in list_items
        a.p-tab-item(href=tab.link, class=`is-${tab.key}`)
          | #{tab.tab_text[0]}
          br
          | #{tab.tab_text[1]}

//- プログラムの詳細
.p-details
  ul.p-details-list
    each item in details
      li.p-details-item(class='is-' + item.category, id=item.id)
        p.p-details-item-subject
          | #{item.category_icon}
        h2.p-details-item-title
          img(src=item.img, alt=item.title)
        ul.p-details-item-info
          li.p-details-item-info-item
            p.p-details-item-info-item-title 日時
            p.p-details-item-info-item-text
              each date, idx in item.dates
                | #{date}
                if idx !== item.dates.length - 1
                  br
              span.p-details-item-info-item-text-note
                | ※同じ内容です。ご都合のよい時間でご参加ください。
          li.p-details-item-info-item
            p.p-details-item-info-item-title 対象
            p.p-details-item-info-item-text
              each text, idx in item.target
                | #{text}
                if idx !== item.target - 1
                  br
        p.p-details-item-text
          each line, idx in item.description
            | #{line}
            if idx !== item.description.length - 1
              br
        .p-details-item-teacher
          .p-details-item-teacher-bg TEACHER
          .p-details-item-teacher-head
            .p-details-item-teacher-head-image
              img(src=item.teacher.img)
            .p-details-item-teacher-head-name
              | #{item.teacher.role}
              br
              | #{item.teacher.name}
          p.p-details-item-teacher-text
            each line, idx in item.teacher.texts
              | #{line}
              if idx !== item.teacher.texts.length - 1
                br
          p.p-details-item-teacher-text-more
            span.p-details-item-teacher-text-more-open 続きを読む
            span.p-details-item-teacher-text-more-close 閉じる

  div(style="height:1000px;background:#fff;")
  a.c-btn-cv(href=UrlLine)
      |LINEで簡単申込

//- 画像のスライダー
.c-slide
  img(src=ImgSlide)
  img(src=ImgSlide)

div(style="height:1000px;background:#fff;")